#{translator({id: "email.salutation", name: @user.first_name}, "Hi {name},")}  

= "\r\n"

#{translator({id: "email.invitation", action: @action, name: @inviter.name}, "{name} invites you to {action}")}
- if @invitation_obj.class.to_s == "Proposal"
  = full_link(@invitation_obj.slug)
- elsif @invitation_obj.class.to_s == "Subdomain"
  = full_link('')

= "\r\n"

- if @message
  #{translator({id: "email.message_from", sender: @inviter.first_name}, "{sender} says:")}

  = @message

= "\r\n"

\---
#{translator("email.received_in_error", "If you feel that you’re receiving this email in error, please contact admin@consider.it.")}