

Hi #{@user.email},

= "\r\n"
Someone (hopefully you) has requested to change your password. Please copy and paste this code to the verification code field:

= "\r\n"
= @token

= "\r\n"
If you feel that you’re receiving this email in error, please contact admin@consider.it.