Hi #{@user.first_name}, 
= linebreak
= linebreak
Welcome to Consider.it! Your forum is #{styled_link('', 'ready for you')}. 
= linebreak
= linebreak
We also added a #{styled_link('considerit_can_help', 'test question', text_preceding: 'test question ')} for you to try. You can delete or hide it when you're done. Or share your answer with us :-)
= linebreak
= linebreak
Please feel free to email hello@consider.it if you have any questions.
= linebreak
= linebreak
Best, 
= linebreak
The Consider.it team