%li.logged_in_name
  = link_to @user.email, edit_user_registration_path, :class => "settings"
-#
  %li.avatar
    = image_tag current_user.avatar.url(:thumb), :class => "nav_avatar", :alt => "Your profile picture"
- if current_user.admin?      
  %li.middle
    = link_to 'Admin', "/admin", :class => 'admin'
%li.last
  = link_to 'Log Out', destroy_user_session_path, :class => 'logout'
%li.clear

-# :javascript
  $j(document).ready(function() {
    $j("#settings_dialog").dialog({
      bgiframe: true, 
      autoOpen: false, 
      modal: true,
      width: 'auto',
      draggable: false,
      resizable: false,
      position: [500, 50]
    });
  
    $j('a.settings')
      .click(function(){
        var dialog = $j('#settings_dialog');
        dialog.load("#{settings_ajax_path}");
        dialog.dialog('open');
      });
    
  });
