-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************


%li.triangle
  %a.settings{ :user => current_user.id }
    = current_user.username
  = image_tag "user_settings_triangle.png", :class => 'triangle_img'
  

  .spacing

  .hide
    .avatar.fl
      %a.settings
        = image_tag current_user.avatar.url(:small), :alt => "#{h current_user.username}'s profile picture"
    %ul.fr
      %li
        %a.settings
          Preferences
      - if current_user.is_admin?
        %li
          = link_to 'Manage', rails_admin_path, :class => 'admin'
      - if current_user.is_admin? || current_user.has_role?(:moderator)
        %li
          = link_to 'Moderate', moderate_path, :class => 'moderate'
      - if current_user.is_admin? || current_user.has_role?(:analyst)
        %li
          = link_to 'Analyze', dashboard_analytics_path, :class => 'analyze'
      - if current_user.is_admin? || current_user.has_role?(:evaluator) && current_tenant.identifier == 'wash'
        %li
          = link_to 'Fact check', assessment_index_path, :class => 'assess'
      - if Rails.env.development?
        %li
          = link_to 'Tune', '/newrelic', :target => "_blank"
      %li
        = link_to 'Log Out', destroy_user_session_path, :class => 'logout'
    .clear


%li.clear

#settings_dialog

- if !current_user.registration_complete
  = render :partial => "users/registrations/post_registration"


:javascript
  $j(document).ready(function() {
    $j("#post_signup_dialog").dialog({
      bgiframe: true, 
      autoOpen: true, 
      modal: true,
      width: 'auto',
      draggable: false,
      resizable: false
    }).fadeIn();

    $j("#settings_dialog").dialog({
      bgiframe: true, 
      autoOpen: false, 
      modal: true,
      width: 'auto',
      draggable: false,
      resizable: false
    });
  
    $j('a.settings')
      .click(function(){
        var dialog = $j('#settings_dialog');
        dialog.load("#{edit_user_registration_path}");
        dialog.dialog('open');
      });

    $j('#nav-user .triangle')
      .hover(
        function(){
          $j(this).find('.hide')
            .stop(true,false)
            .css('height', '')
            .slideDown();
        },
        function(){
          $j(this).find('.hide')
          .stop(true,false)
          .slideUp();        
        });

    $j("#progressbar").each(function(){
      $j(this).progressbar({ value: #{100 * current_user.positions.count / [1,get_proposals.length].max } });
    });

    
  });
