%script{ :type => "text/template", :id => "tpl_homepage_heading" }

  - if false && Rails.env.development?
    = render :partial => "shared/dev_tools"      

  .homepage_main

    %a{:href => "/home/about", :title => "Learn more about the Living Voters Guide"}
      = theme_image_tag 'logo_large.png', :class => 't-logo'

    #homepage-people  
      - rows = 7
      - users_per_row = 45

      - pics = current_tenant.id == 2 ? User.unscoped.where('avatar_file_name IS NOT NULL AND account_id in (1,2)') : User.where('avatar_file_name IS NOT NULL')
      - users = pics.sample( [rows * users_per_row, pics.count].min )

      - (0..rows-1).each do |row|
        .row{:row => row}
          - users[row*users_per_row..(row+1)*users_per_row-1].each_with_index do |user, col|
            .avatar{:id => "avatar-#{user.id}", :class => "#{row < 2 || row > 4 || col < 10 || col > 41 ? 'highlightable' : ''}"}>
 


    .homepage_account_message
      //= current_tenant.header_text
      Washington's Citizen-powered Voters Guide
      //Inform your vote here

    .lvg_introduce_fact_checkers
      %a{:href => "http://seattlecityclub.org"}
        Brought to you by 
        %span.link
          Seattle CityClub. 
      %a{:href => "/home/fact_check"}
        With 
        %span.link
          fact checking 
        by Seattle Public Library.

    #follow
      %span.facebook

        %iframe{:src => "//www.facebook.com/plugins/like.php?href=#{current_tenant.socmedia_facebook_page}&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font=lucida+grande&height=21&appId=#{current_tenant.socmedia_facebook_client}", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:90px; height:21px;", :allowTransparency => "true"}

      %span.twitter

        %a{ :href => "https://twitter.com/share", :class => "twitter-share-button", :'data-text' => "I flexed my civic muscle @lvguide.", :'data-related' => "lvguide", :'data-count' => "none", :'data-hashtags' => "lvguide"}
          Tweet
        {{'<' + 'script src="//platform.twitter.com/widgets.js" type="text/javascript"' + '><' + '/script>'}}


  .homepage-get-started
    Click a ballot measure below. Then decide for yourself, with the help of fellow voters. 


    .homepage-learn-more
      %a.t-logo-tagline{ :href => '/home/about', :title => 'Learn more about Living Voters Guide'}
        Learn more

  .t-unlock-local
    = render :partial => "home/unlock_local_measures"


