#point_similarity
  = form_for [@option, @comparison] do |f|
    
    %h2
      Are these positions...
    
    #p1.point_to_be_compared
      = @p1.nutshell
      = @p1.text
    
    #p2.point_to_be_compared
      = @p2.nutshell
      = @p2.text
    
    .clear
    
    = f.hidden_field :value, :id => 'similarity_val'
    = f.hidden_field :p1_id, :value => @p1.id
    = f.hidden_field :p2_id, :value => @p2.id

    .current_value
      .vallabel.five
        basically the same
      .vallabel.four
        leaning towards similar 
      .vallabel.three
        neither more different nor more similar 
      .vallabel.two
        leaning towards different
      .vallabel.one
        basically different 
        
    .slider_wrapper
      .slider_footer
        .left
          completely unrelated

        #similarity_slider

        .right
          basically the same
        .clear



    .submit_buttons
      .left
        - if @current > 1
          = submit_tag "<< Prev"
      .right
        - if @current <= @total_possible_comparisons
          = submit_tag "Next >>"
      .clear

    - if @total_compared >= @total_possible_comparisons
      .completed
        Congrats! You have coded all of the pairs for this measure.

    .progress
      viewing #{@current}/#{@total_possible_comparisons}
      %div
        (#{@total_compared} comparisons completed for #{@option.designator})

:javascript
  $j(function() {
    $j( "#similarity_slider" ).slider({
      value:#{@init_val},
      min: 1,
      max: 5,
      step: 1,
      slide: function( event, ui ) {
        $j( "#similarity_val" ).val( ui.value );
        $j( ".current_value .vallabel").hide();
        $j( ".current_value .vallabel." + {5:'five',4:'four',3:'three',2:'two',1:'one'}[ui.value] ).show();
      }
    });
    $j( "#similarity_val" ).val( $j( "#similarity_slider" ).slider( "value" ) );
    $j( ".current_value .vallabel").hide();
    $j( ".current_value .vallabel." + {5:'five',4:'four',3:'three',2:'two',1:'one'}[#{@init_val}] ).show();
  });