.description
  %h3
    #{@option.category} #{@option.designator} - #{@option.name}

    %a.show_details.initiative_details{ :title => "Show the description of #{@option.designator}"}
      [ show details ]   
        
  .details.hide
    %ul
      - for i in @option.format_description
        %li.initiative_desc_point= i

    %a.toggle.hide_initiative_details
      [hide]

  :javascript
    $j('.description a.show_details, .description a.toggle').click(function(){$j('.description a.show_details, .description .details').slideToggle();});      
