
%script{ :type => "text/template", :id => "tpl_logged_out"}
  .login
    %a{:'action' => 'login', :class => "login-signin"}
      Log In / Create Account

%script{ :type => "text/template", :id => "tpl_logged_in"}

  .user-options
    .user-options-display
      %img{ :src => "{{ avatar }}", :alt => "your profile picture"}

      %a{ :role => 'user', :'data-id' => "{{id}}" }
        {{ name }} 

      %span.user-options-triangle
        %i.fa.fa-caret-down

    .user-options-menu-wrap

      %ul.user-options-menu
        %li
          %a.user-options-dashboard_link{:href => "{{Routes.profile_path(current_user.id)}}"}
            Profile
        %li
          %a.user-options-dashboard_link{:href => "{{Routes.edit_profile_path(id)}}", :'action' => 'edit_profile'}
            Edit Profile

        (( if(is_admin) { ))
        %li
          %a.user-options-dashboard_link.application{:href => "/dashboard/application", :'action' => 'app_settings'}
            App settings
        (( } ))

        (( if( can_moderate ) { ))
        %li
          %a.user-options-dashboard_link.moderate{:href => "{{Routes.dashboard_moderate_path()}}", :'action' => 'moderate'}
            Moderate
        (( } ))

        (( if( can_assess ) { ))
        %li
          %a.user-options-dashboard_link.assess{:href => "{{Routes.assessment_index_path()}}", :'action' => 'assess'}
            Assess
        (( } ))

        / (( if( is_analyst ) { ))
        / %li
        /   %a.user-options-dashboard_link.analyze{:href => "{{Routes.analytics_path()}}", :'action' => 'analyze'}
        /     Analyze
        / (( } ))

        - if Rails.env.development?
          %li
            = link_to 'Tune', '/newrelic', :target => "_blank"
        %li
          %a{"action" => "logout"}
            Log out
            

%script{ :type => "text/template", :id => "tpl_auth_options"}
  
  .user-accounts-auth-options-header

    (( if(fixed){ ))
    Please log in through {{providers[0].name}}, the option you previously chose.
    (( } else { ))
    &hellip;or log in instantly with
    (( } ))

  %ul.user-accounts-auth-options
    (( _.each(providers, function(provider) { ))

    %li.user-accounts-login-option
      %button{ :'action' => "third_party_auth", :class => "zocial {{provider.name}}", :'data-provider' => "{{provider.provider}}" }
        {{provider.name}}
      (( if(false && provider.fineprint) { ))
      .user-accounts-fineprint.fineprint-social
        {{provider.fineprint}}
      (( } ))

    (( }) ))



%script{ :type => "text/template", :id => "tpl_signin_via_email"}
  = form_for :user, :url => user_session_path, :remote => true do |f|
    .user-accounts-form
      .user-accounts-form-fields-wrap
        (( if(fixed) { ))
        = f.hidden_field :email, :value => "{{email}}", :class => 'h5-email ui-state-valid'
        // = f.label :email, 'Your email address'
        // .email_field.inlined.fixed
        (( } else { ))
        .email_field.inlined
          .user-account-auth-question
            = f.label :password_overviews, "What is your email address?"

          .input-group
            %span.input-group-addon
              %i.fa.fa-envelope-o.fa-fw 
            = f.email_field :email, :title => 'We need an email address, thanks.', :placeholder => "Email address", :required => true, :class =>"h5-email form-control"
        (( } ))

        (( if(fixed) { ))
        .user-account-password
          .input-group
            %span.input-group-addon     
              %i.fa.fa-key.fa-fw 
            = f.password_field :password, :title => 'Password is required.', :placeholder => "Your password",  :required => true, :pattern => ".{3,}", :class => "form-control"
          %a.forget_password_prompt
            I forgot! Email me password instructions. 
        (( } else { ))
        .password_field.inlined
          .user-account-auth-question
            = f.label :password_overviews, "Do you already have an account?"

          .user-accounts-no-account
            %input{ :id => :password_none, :name => :password_overviews, :type => 'radio', :value => 'no'}
            %label{ :for => :password_none }
              Nope, I'm a new user


          .user-accounts-has-account

            %input{ :id => :password_has, :name => :password_overviews, :type => 'radio', :value => 'yes'}
            %label{ :for => :password_has }
              Yep, I have a password

            .user-account-password
              .input-group
                %span.input-group-addon     
                  %i.fa.fa-key.fa-fw 
                = f.password_field :password, :title => 'Password is required.', :placeholder => "Your password",  :required => true, :pattern => ".{3,}", :class => "form-control"
              %a.forget_password_prompt
                I forgot! Email me password instructions. 

        .user-accounts-finish-wrap
          %button.user-accounts-register-next.superbutton{:disabled => 'disabled', :type => 'button', :'action' => "create-account"}
            Create my account
        
        (( } ))
        .user-accounts-finish-wrap
          %button.user-accounts-login-submit.superbutton{:disabled => 'disabled', :type => 'button', :'action' => "login-submit"}
            Log me in




%script{ :type => "text/template", :id => "tpl_user_signin"}
  .user-accounts-email-auth-region
  .user-accounts-auth-options-region

%script{ :type => "text/template", :id => "tpl_new_user" }      
  .user-accounts-auth-options-region
  .user-accounts-complete-paperwork-form

%script{ :type => "text/template", :id => "tpl_user_complete_paperwork" }      
  = form_for :user, :url => user_registration_path, :remote => true, :multipart => true do |f|
    (( var csrfparam = $('meta[name="csrf-param"]').attr('content'), csrftoken = $('meta[name="csrf-token"]').attr('content'); ))
    %input{ :type => "hidden", :name => "{{ csrfparam }}", :value => "{{ csrftoken }}" }
    = f.hidden_field :registration_complete, :value => true

    .user-accounts-complete-paperwork-card
    .user-accounts-complete-paperwork-pledge
    .user-accounts-complete-paperwork-footer

%script{ :type => "text/template", :id => "tpl_user_paperwork_card" }      

  .user-accounts-form-fields-wrap
    .user-accounts-form-fields-text

      .name_field.inlined
        %input{ :id => "user_name", :name => "user[name]", :pattern => "^.{1,}", :placeholder => "Your name", :required => "required", :title => "Give yourself a name, please!", :type => "text"}

      (( if( fixed ) { ))
      %input{ :id => "user_email", :name => "user[email]", :type => "hidden", :value => "{{email}}"}
      .email_field.inlined.fixed
        {{ email }}
      (( } else { ))
      .email_field.inlined
        / = f.email_field :email, :title => 'We need an email address, thanks.', :placeholder => "Your email address", :required => true, :class =>"h5-email"

        %input{ :id => "user_email", :name => "user[email]", :placeholder => "Your email address", :required => "required", :pattern => ".{3,}", :title => "We need an email address, thanks.", :type => "email", :class => 'h5-email'}

      (( } ))

      .password_field.inlined
        / = f.password_field :password, :title => 'Password is required.', :placeholder => "Password",  :required => true

        %input{ :id => "user_password", :name => "user[password]", :placeholder => "Password", :required => "required", :pattern => ".{3,}", :title => "Password is required.", :type => "password"}


      .user-accounts-authorized-feedback{:'data-provider' => "{{auth_method}}" }
        %button{ :class => "zocial {{auth_method}} icon" }
        Registering via {{auth_method}}

      .user-accounts-pledge-taken
        &#10004; Civility pledge taken

    .avatar_field
      %input{:id => "user_avatar", :name => "user[avatar]", :title => "Upload a profile picture (optional)", :type => "file", :class => "customfile-input ui-state-valid"}

      .selected.hide

      .import_from_third_party
        %span
          Import pic from: 

        .import_from_third_parties
          - ['facebook', 'twitter'].each do |provider|
            %button{ :'action' => 'third_party_auth', :class => "zocial #{provider} icon import_from_third_party", :'data-provider' => "#{provider}" }

        %input{ :class => "avatar_url", :id => "user_avatar_url", :name => "user[avatar_url]", :type => "hidden", :value => "" }

    .clear



%script{ :type => "text/template", :id => "tpl_user_paperwork_footer" }     

  %input{ :name => "commit", :type => "submit", :value => "Create my account!", :class => "ui-state-valid superbutton", :'action' => "paperwork_complete" }

  .user-accounts-tos
    %span
      Signing up acknowledges that you agree to the 
    %a.user-terms-show{:href => "/home/terms-of-use", :target => "_blank"}
      Terms of Use


%script{ :type => "text/template", :id => "tpl_user_reset_password" }

  = form_for(:user, :url => password_path(:user), :remote => true, :html => { :method => :put }) do |f|

    = f.hidden_field :reset_password_token, :value => "{{password_reset_token}}"

    %p
      = f.label :password, "New password"

    = f.password_field :password, :pattern => ".{3,}"

    %p
      = f.label :password_confirmation, "Confirm new password" 
    = f.password_field :password_confirmation, :pattern => ".{3,}"

    .user-accounts-finish-wrap
      = f.submit "Change my password and log in", :class => 'superbutton'