
!!! Strict
%html{html_attrs}
  %head{ profile: "http://gmpg.org/xfn/1" }
    //= csrf_meta_tags

    - cache ['indexable data', current_tenant, @page] do 
      %title
        = @title && @title != '' ? @title : current_tenant.app_title
      
      %meta{ :name => 'keywords', :content => "#{@keywords ? @keywords : ''}"}

      %meta{ :name => 'description', :content => "#{@description ? @description : ''}"}

    %meta{ :content => 'text/html; charset=UTF-8', "http-equiv" => "Content-Type" }

    // %link{ :href => "#{image_path 'favicon.ico'}", :rel => "icon", :type => "image/vnd.microsoft.icon" }

    = stylesheet_link_tag 'stylesheets/application', debug: false

    // - ['Source+Sans+Pro'].each do |font|
    //   %link{ :href => "//fonts.googleapis.com/css?family=#{font}:400,700,400italic",  :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => "//fast.fonts.net/cssapi/cd97b194-90f2-4567-be7e-3a72011995f3.css",  :rel => 'stylesheet', :type => 'text/css' }

    /[if IE 9]
      = stylesheet_link_tag 'browser/ie9'
    
    /[if lte IE 8]
      = stylesheet_link_tag 'browser/ie'

    = javascript_include_tag 'javascripts/application' #, debug: Rails.env.development?


  %body

    - cache ['main_body', current_tenant] do

      #content.content{ customer: current_tenant.identifier, theme: current_tenant.theme }

      - if APP_CONFIG[:analytics][:google] && APP_CONFIG[:analytics][:google] != ''
        :javascript
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', "#{current_tenant.analytics_google}"]);
          _gaq.push(['_setDomainName', ".#{get_root_domain}"]);
          _gaq.push(['_trackPageview']);


      - if current_tenant.analytics_google && current_tenant.analytics_google != ''
        :javascript
          var _gaq_account = _gaq_account || [];
          _gaq_account.push(['_setAccount', "#{current_tenant.analytics_google}"]);
          _gaq_account.push(['_trackPageview']);

    :javascript
      window.activeREST_data = #{@activeREST_data.to_json};

    :javascript
      var $buoop = {vs:{i:8,f:15,o:10.6,s:4,n:9}} ;
      $buoop.ol = window.onload; 
      try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
      var e = document.createElement("script"); 
      e.setAttribute("type", "text/javascript"); 
      e.setAttribute("src", "/browser-update.js"); 
      document.body.appendChild(e); 

