-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

:javascript
  function CheckLength(){
    var msg_area = document.getElementById("Message");
    msg_area.innerHTML = "";
    alert('HEY')
    if (document.getElementById("commentarea").value.length < 100) {
      msg_area.innerHTML = "YOU DID NOT ENTER ENOUGH INFO FOR YOUR REVIEW";
    }
    else document.getElementById("pointform-#{is_pro ? 'pro' : 'con'}").submit();
  }

.pointform{ :class => "#{action}pointform" }

  = form_for [@proposal, point], :action => action, :html => {:id => "pointform-#{is_pro ? 'pro' : 'con'}", :class => "form-#{is_pro ? 'pro' : 'con'}"}, :remote => true do |f|

    .form_proper
      =f.hidden_field :is_pro, :id => "point-current-is_pro", :value => is_pro

      .point-title-group.inlined
        = f.text_area :nutshell, :placeholder => 'Summarize your point (required)', :cols => 24, :class => "point-title is_counted", :required=>true, :maxlength => 140, :pattern => "^.{3,}"
        %span.count
          140
        .clear

      .point-description-group
        = f.text_area :text, :placeholder => "Write a longer description (optional)", :title => "Write a longer description (optional)", :cols => 24, :class => "autoResize point-description"# wysiwyg"
        .clear

      .hide_name.fl{:title => 'We encourage you not to hide your name from other users. Signing your point with your name lends it more weight to other participants.'}
        = f.check_box :hide_name
        = f.label :hide_name, 'conceal your name'

      //- if @user
      //  .point-pledge
      //     %p.note
      //       %strong.alert
      //         Remember your pledge!

      .point-submit.fr
        = f.submit 'Done', :class => "button #{is_pro ? 'pro' : 'con'}"
        
      .point-cancel
        %a.new_point_cancel
          cancel
    .clear

