-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- point #the point to be edited
- field #the field to be updated
- field_type ||= 'text_area'
- wysiwyg ||= false
- noresize = noresize || wysiwyg
- sync_with ||= nil
- validations ||= {}
- options = {:rows => 1, :class => "#{wysiwyg ? 'wysiwyg' : ''} #{noresize ? '' : 'autoResize'}"}.merge(validations)

= form_for point, :url => proposal_point_path(@proposal.long_id, point), :remote => true, :html => {:class => "unobtrusive_edit_form implicit_edit_mode", :sync_with => sync_with} do |f|

  .unobtrusive_edit
    - if field_type == 'text_area'
      = f.text_area field, options

    .save_block
      = f.submit 'save', :class => 'hide'
      .updated.hide
        updated