-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

.newpoint
  .newpointbutton
    .bullet_point
      &#8226;
  
    %a{ :class => "#{is_pro ? 'pro' : 'con'} write_new" }
      Write a new #{is_pro ? "#{@proposal.label_pro}" : "#{@proposal.label_con}"} point
    
    = render :partial => 'points/form', :locals => {:point => Point.new(:proposal => @proposal), :is_pro => is_pro, :action => 'new' }
    



    

    