- if points && points.length > 0 && points.respond_to?(:previous_page)

  - if prev
    .arrow
      %button.back.linkify

  .paginate
    %span.curr_first
      #{points.offset + 1} 
    \– 
    %span.curr_last
      #{[points.offset + points.per_page, points.total_entries].min} 
    of
    %span.total
      #{points.total_entries} 
    #{is_pro ? "pros" : "cons"}

  - if !prev
    
    .arrow
      = button_to "",  option_points_path(@option, :pros_only => is_pro, :cons_only => !is_pro, :page => page + 1, :bucket => bucket, :mode => mode), :remote => true, :method => 'get', :id => "paginate_points-#{mode}-#{page + 1}-#{is_pro}", :class => 'forward ajax linkify'
      %button.forward.not_ajax.linkify
