-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- origin = dynamic ? 'self' : 'board'
- bucket ||= origin
- has_other_points ||= false
- total_points = points[:pros].length + points[:cons].length
- @filter ||= 'popularity'
.pro_con_list{ :id => "domain_#{bucket}", :class => " #{dynamic ? 'dynamic' : 'static'} #{has_other_points ? 'has_other_points' : 'no_other_points' } #{total_points == 0 ? 'empty' : ''}"}

  .slate
    - if !dynamic
      %h3.participant_connection    
        - if bucket != 'all'  
          Most important factors
          .group_name
            for #{stance_name(bucket)}  

        - else
          All Factors
          .filters
            %span.label
              order by 

            - [{:name => 'popularity', :label => 'Popularity', :selected => @filter == 'popularity'}, {:name => 'unify', :label => 'Most unifying', :selected => @filter == 'unify'}, {:name => 'divisive', :label => 'Most Divisive', :selected => @filter == 'divisive'}].each do |filter|
              = link_to filter[:label], proposal_points_path(@proposal.long_id, :filter => filter[:name], :page => 1, :bucket => 'all'), :remote => true, :title => "Order by #{filter[:label]}", :class => "#{filter[:selected] ? 'selected' : ''} point_filter", :id => "point_filter-#{filter[:name]}"

        .ajax_loading
   
    %table
      %tr.point_columns
        %td.full_column.pro_column#points_on_board_pro
          .inner_wrapper
            .pro_con_list_header.pro_header
              .inner
                - if theme_image_path('pro_header.png') && File.exists?(theme_image_path('pro_header.png'))
                  = theme_image_tag('pro_header.png')
                - else
                  = image_tag('chalk/pros.png') 

            = render :partial => "points/column", :locals => { :points => points[:pros], :is_pro => true, :origin => origin, :bucket => bucket, :enable_pagination => !dynamic, :page => @page, :paginate_before => false, :paginate_after => true, :show_both_arrows => true }

            - if dynamic && (@proposal.active || Rails.env == 'development')
              = render :partial => "points/new", :locals => { :is_pro => true, :sel => '#points_on_board_pro' }
              - if has_other_points 
                = render :partial => "points/drop_target", :locals => { :side => :left }

        %td.full_column.con_column#points_on_board_con 
          .inner_wrapper
            .pro_con_list_header.con_header
              .inner
                - if theme_image_path('con_header.png') && File.exists?(theme_image_path('con_header.png'))
                  = theme_image_tag('con_header.png')
                - else
                  = image_tag('chalk/cons.png') 

            = render :partial => "points/column", :locals => { :points => points[:cons], :is_pro => false, :origin => origin, :bucket => bucket, :enable_pagination => !dynamic, :page => @page, :paginate_before => false, :paginate_after => true, :show_both_arrows => true }

            - if dynamic && (@proposal.active || Rails.env == 'development')
              = render :partial => "points/new", :locals => { :is_pro => false, :sel => '#points_on_board_con' }
              - if has_other_points 
                = render :partial => "points/drop_target", :locals => { :side => :right }



    -# if dynamic && has_other_points && (points[:pros].length + points[:cons].length) == 0
      -#= render :partial => "points/drop_target"
      
