%li.point_in_list{ :id => "point_in_list_#{context}-#{point.id}", :class => "point_in_list_#{context} point_in_list #{point.is_pro ? 'pro' : 'con'}" }
  
  .id.hide
    = point.id
    
  .bullet_point
    -if point.is_pro
      +
    - else 
      &#x2013;

  .body

    - if context == 'margin' && !point.is_pro
      .include.include_con
        = render :partial => "inclusions/new", :locals => { :point => point }

    .username
      - if !point.hide_name && point.user
        = image_tag point.user.avatar.url(:midsmall), :class => 'avatar', :alt => "#{h point.user}'s profile picture"

      %a.toggle.less.hide.point_text_toggle
        close

      by 
      - if point.hide_name
        anonymous
      - elsif point.user
        = point.user.name
      - else
        unknown
          
    .point_text.nutshell 

      - if point.nutshell.length > 0
        = h point.nutshell
      - else
        = h point.text.length > 137 ? point.text[0,137] : point.text
    
    .point_text.full
      .details
        %h4
          details
        .the_details       
          = point.text

      .link
        %h4
          external links
        - if point.point_links.count > 0
          %ul
            - point.point_links.each do |pl|
              = render :partial => 'point_links/show', :locals => { :point_link => pl }
        - else
          %ul
            %li
              none provided

      .discuss
        %h4
          discussion

        = render :partial => 'comments/discussion', :locals => { :comments => point.comments.count > 0 ? point.comments : [], :point => point }

    .operations
      .read_more
        %a.toggle.more.point_text_toggle.point_operation
          details / discuss
          - if point.comments.count > 0
            (#{point.comments.count})

      - if context == 'self'
        - point_creator = (current_user && point.user_id == current_user.id) || point.published == false

        - if point_creator
          .edit
            .bullet
              &#8226;

            %a.editpoint.point_operation
              edit
            = render :partial => 'points/form', :locals => {:point => point, :is_pro => point.is_pro, :action => 'edit' }

        .remove
          .bullet
            &#8226;
                    
          -if point_creator
            = render :partial => "points/delete", :locals => { :point => point } 
          -else
            = render :partial => "inclusions/delete", :locals => { :point => point }


    - if context == 'margin' && point.is_pro
      .include.include_pro
        = render :partial => "inclusions/new", :locals => { :point => point }

  .clear
