//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

-# TODO: Cache this partial as per http://broadcastingadam.com/2011/05/advanced_caching_in_rails/

- point_creator = (current_user && point.user_id == current_user.id) || point.published == false

= cache [point, point.user_id, point_creator, origin] do

  - has_details = point.text && point.text.length > 0

  %li.point_in_list{ :id => "point-#{point.id}", :class => "point_in_list_#{origin} point_in_list #{point.is_pro ? 'pro' : 'con'} commentable #{point_creator ? 'added_by_me' : ''}", :point => point.id,  :user => point.hide_name ? nil : point.user_id }
        
    %a.toggle.less.hide.point_text_toggle
      x

    .body

      - if origin != 'board'
        .include.hide

          = form_for :inclusion, :remote => true, :url => proposal_point_inclusions_path(@proposal.long_id, point, :page => @page) do |f|
            =f.hidden_field :proposal_id, :value=>@proposal.id
            =f.hidden_field :point_id, :value=>point.id
            =f.submit :class => 'inclusion_submit', :type => 'submit', :value => "", :name => "judge", :title => 'Click to add this point to your list. You can remove it later if you want.'

      - if !point.hide_name && point.user
        = image_tag point.user.avatar.url(true ? :medium_dark : :medium), :class => 'avatar', :alt => "#{h point.user}'s profile picture"
      - else
        // necessary for animation to work properly
        .avatar 

      .bullet_point
        &#8226;
            
      %p.point_text.nutshell 

        - if point.nutshell.length > 140
          = h point.nutshell[0,140]
          - point.text = point.nutshell[140, point.nutshell.length] + point.text
        - elsif point.nutshell.length > 0
          = h point.nutshell
        - else
          = h point.text.length > 137 ? point.text[0,137] : point.text

        - if has_details
          %span.details_indicator
            (&#8230;)
        
        %span.nested_user
          - if point.hide_name
            anonymous
          - elsif point.user
            = point.user.username
          - else
            %span.unknown
              unknown

      .point_text.full

        .details
          - if has_details 
            = h simple_format(point.text.gsub(/\n/,"<p></p>"))

        .link
          - if point.point_link_count > 0
            %ul
              = render :partial => 'point_links/show', :collection => point.point_links, :as => :point_link

        .nested_user
          - if point.hide_name
            anonymous
          - elsif point.user
            = point.user.username
          - else
            unknown

    .operations


      .read_more
        - num_comments = point.comment_count
        %a.toggle.more.point_text_toggle.point_operation

          //- if has_details
          //  &#8230;
          
          #{ num_comments == 1 ? "1 comment" : "#{num_comments} comments"}

          //#{ num_comments == 1 ? "1 comment" : num_comments > 1 ? "#{num_comments} comments" : has_details ? "more" : "0 comments"}

          //#{has_details ? 'details & ' : ''} discussion#{num_comments > 0 ? "(" + num_comments.to_s + ")" : ''}          


      - if point_creator
        .edit

          %a.editpoint.point_operation
            edit
          = render :partial => 'points/form', :locals => {:point => point, :is_pro => point.is_pro, :action => 'edit' }

      .remove
                  
        -if point_creator
          = render :partial => "points/delete", :locals => { :point => point } 
        -elsif origin != 'board'

          = link_to "remove", proposal_point_inclusions_path(@proposal.long_id, point, :page => @page, :delete => true, :authenticity_token => form_authenticity_token), :remote => true, :method=>:post, :class => 'point_operation', :title => 'Click to remove this point from your list'

    .extra  
      .ajax_loading
      
    .clear