%li.point_in_list{ :id => "point-#{point.id}", :class => "point_in_list_#{origin} point_in_list #{point.is_pro ? 'pro' : 'con'}" }
  
  .id.hide
    = point.id
    
  .bullet_point
    &#8226;
    //- if point.is_pro
    //  +
    //- else 
    //  &#x2013;

  - if origin == 'margin'
    .triangle 

  .body

    .include.hide
      = render :partial => "inclusions/new", :locals => { :point => point }

    - if !point.hide_name && point.user
      = image_tag point.user.avatar.url(:midsmall), :class => 'avatar', :alt => "#{h point.user}'s profile picture"
          
    .point_text.nutshell 

      - if point.nutshell.length > 0
        = h point.nutshell
      - else
        = h point.text.length > 137 ? point.text[0,137] : point.text

      %span.nested_user
        \- 
        - if point.hide_name
          anonymous
        - elsif point.user
          = point.user.name
        - else
          unknown

    .operations

      - point_creator = (current_user && point.user_id == current_user.id) || point.published == false

      - if point_creator
        .edit

          %a.editpoint.point_operation
            edit
          = render :partial => 'points/form', :locals => {:point => point, :is_pro => point.is_pro, :action => 'edit' }
          .bullet
            &#8226;

      .remove
                  
        -if point_creator
          = render :partial => "points/delete", :locals => { :point => point } 
        -else
          = render :partial => "inclusions/delete", :locals => { :point => point }

      .read_more
        - if origin != 'margin'
          .bullet
            &#8226;      
        %a.toggle.more.point_text_toggle.point_operation
          read more
          .comment_count
            #{point.comments.count}
          .comment_icon
            %span

  .extra  
    .ajax_loading

    
  .clear
