-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- point = @point
- point_creator = (current_user && point.user_id == current_user.id) || point.published == false

.point{ :id => "point-#{point.id}", :class => "point #{point.is_pro ? 'pro' : 'con'} commentable", :point => point.id, :user => point.hide_name ? nil : point.user_id }

  .meta
    #{point.is_pro ? 'A point in favor of ' : 'A point against '} 
    = link_to "#{point.proposal.title}", proposal_path(point.proposal.long_id) 

  .operations

    - if point_creator
      .edit

        %a.editpoint.point_operation
          edit this point
        = render :partial => 'points/form', :locals => {:point => point, :is_pro => point.is_pro, :action => 'edit' }

    = render :partial => 'acts_as_followable/follow', :locals => {:followable => point, :obj => [@proposal, point], :title => 'Get notifications when the point is updated or someone comments on it. You can easily unsubscribe later.'}

  .body
    - has_pic = @point.user && @point.user.avatar_file_name && !point.hide_name
    .pic{ :class => "#{has_pic ? 'has_pic' : ''}"}
      - if has_pic
        = image_tag @point.user.avatar.url(:medium), :class => 'avatar' 
      - else
        - # necessary for animation
        .avatar 
      

    %h3.point_text.nutshell 


      - if point.nutshell.length > 0
        - nutshell = h point.nutshell
      - else
        - nutshell = h point.text.length > 137 ? point.text[0,137] : point.text

      - if point_creator
        = render :partial => 'points/make_editable', :locals => { :point => point, :field => :nutshell }
      - else
        = nutshell

    .point_text.full

      .details
        - if point.text && point.text.length > 0 
          - full_text = h simple_format(point.text.gsub(/\n/,"<br>"))

          - if point_creator
            = render :partial => 'points/make_editable', :locals =>  { :point => point, :field => :text }

          - else
            = full_text

      .link
        - if point.point_link_count > 0
          %ul
            = render :partial => 'point_links/show', :collection => point.point_links, :as => :point_link


    .nested_user
      \- 
      - if point.hide_name
        anonymous
      - elsif point.user
        = point.user.username
      - else
        unknown

  .extra  
    = render :partial => 'comments/discussion', :locals => { :comments => point.comment_count > 0 ? point.comments : [], :commentable => point, :context => 'point', :light_background => false }
    
  .clear