- point = @point
- point_creator = (current_user && point.user_id == current_user.id) || point.published == false

.point{ :id => "point-#{point.id}", :class => "point #{point.is_pro ? 'pro' : 'con'}" }

  .id.hide
    = point.id
  
  .meta
    #{point.is_pro ? 'A point in favor of ' : 'A point against '} 
    = link_to "#{point.proposal.title}", proposal_path(point.proposal.long_id) 

  .operations

    - if point_creator
      .edit

        %a.editpoint.point_operation
          edit this point
        = render :partial => 'points/form', :locals => {:point => point, :is_pro => point.is_pro, :action => 'edit' }

  .body

    .pic
      - if @point.user && @point.user.avatar_file_name && !point.hide_name
        = image_tag @point.user.avatar.url(:medium), :class => 'avatar' 
      - else
        - # necessary for animation
        .avatar 
      

    %h3.point_text.nutshell 


      - if point.nutshell.length > 0
        - nutshell = h point.nutshell
      - else
        - nutshell = h point.text.length > 137 ? point.text[0,137] : point.text

      - if point_creator
        = render :partial => 'points/make_editable', :locals => { :point => point, :field => :nutshell }
      - else
        = nutshell

    .point_text.full

      .details
        - if point.text && point.text.length > 0 
          - full_text = h simple_format(point.text.gsub(/\n/,"<br>"))

          - if point_creator
            = render :partial => 'points/make_editable', :locals =>  { :point => point, :field => :text }

          - else
            = full_text

      .link
        -# if point.point_links.count > 0
        %ul
          - point.point_links.each_with_index do |pl, idx|
            = render :partial => 'point_links/show', :locals => { :point_link => pl, :idx => idx }

    .nested_user
      \- 
      - if point.hide_name
        anonymous
      - elsif point.user
        = point.user.name
      - else
        unknown

  .extra  
    = render :partial => 'comments/discussion', :locals => { :comments => point.comments.count > 0 ? point.comments : [], :commentable => point, :context => 'point', :light_background => false }
    
  .clear