:javascript
  $j(document).ready(function(){
    initialize_sliders(#{-1 * @position.stance}, '#{@option.short_name}', #{@option.id});
  });

#initiative.edit
  = render :partial => "options/description/full"
  
  %ol#step_through
    %li.gut.step.slide
      .head
        %span.ol_number
          1.      
        %h3.banner
          What's your current opinion of #{@option.reference}?
        .extra
          Click and drag the slider to indicate whether you support or oppose this measure
      
      .rest.position
        = render :partial => "options/slider_and_viz/slider", :locals => { :id => 1, :viz_stance => false }
      
    %li#stance.step   
      .head
        %span.ol_number
          2.   
        %h3.banner
          Collect your thoughts on&nbsp; 
          %span>= @option.designator
          \, one point at a time.
        .extra
          Add your own points, optionally including points by other voters by 
          %strong
            clicking the arrows.
        
      .rest         
        %table#points 
          %tr

            %td.points_other#points_other_pro
              = render :partial => "points/column/margin", :locals => { :is_pro => true, :points => @pro_points }
            
            %td.user_position
              .position_container
                - if user_signed_in?
                  
                  .points_self#points_self_pro
                    .points_list_header
                    = render :partial => "points/column/user", :locals => { :position => 1, :points => @included_pros, :static => false }
                    = render :partial => "points/new", :locals => { :point => nil, :is_pro => true, :sel => '#points_self_pro' }

                  .points_self#points_self_con 
                    .points_list_header
                    = render :partial => "points/column/user", :locals => { :position => 0, :points => @included_cons, :static => false }
                    = render :partial => "points/new", :locals => { :point => nil, :is_pro => false, :sel => '#points_self_con' }
                                        
                  .clear
                - else

                  .points_self#points_self_pro
                    .points_list_header
                
                  .points_self#points_self_con 
                    .points_list_header
                  
                  .clear
                    
                  .must_be_logged_in 
                    .contribute
                      to contribute
                    .login_or_create
                      .login
                        %a
                      .create
                        \...or
                        %a
                          create an account
                    .fb_login
                      -# = render :partial => "users/facebook_registration"
                    .clear
                      
                    .why.hide
                      %a
                        Why should I?
                      %ul.hide
                        %li
                          %strong 
                            Share 
                          your opinion with others.
                        %li
                          %strong
                            Explore 
                          the stances that other voters have taken.
                        %li
                          %strong
                            Discuss 
                          the initiative with others.
                        %li 
                          Be more 
                          %strong
                            informed 
                          when you vote.
                                                    


            %td.points_other#points_other_con
              = render :partial => "points/column/margin", :locals => { :is_pro => false, :points => @con_points }
  
    %li.stance.update_stance.step.slide
      .head
        %span.ol_number
          3.     

        %h3.banner
          Update your stance, if it has changed.
        .extra
          Click and drag the slider to update your stance on this initiative
    
      .rest.position
        = render :partial => "options/slider_and_viz/slider", :locals => { :id => 2, :viz_stance => false }
      
    %li#submitstance.step
      .rest
                
        - if @user
          
          .stanceform

            - if action == 'edit'
              = form_for @position, :url => option_position_path(@option, @position), do |f|
                = render :partial => "positions/form", :locals => { :f => f, :action => action }
                            
            - elsif action == 'new'
              = form_for @position, :url => option_positions_path(@option), do |f|
                = render :partial => "positions/form", :locals => { :f => f, :action => action }

            .stance_status              
              Don't worry, you can change your list and stance later. 
              
        - else
          %span 
            .stanceform
              .stance_status
                %strong
                  You must be logged in to take your stance!    
            
    