:javascript
  $j(document).ready(function(){

    // INITIALIZE SLIDERS
    var params = { 
      min: 0.0, 
      max: 2.0, 
      value: #{-1 * @position.stance + 1}, 
      step: .015,
      slide: function(event, ui) {
        // $j('.slider:not(#' + $j(event.currentTarget).attr('id') +')').each(function(){
        //  if ( ui.value != $j(this).slider('value') ) {
        //     $j(this).slider("option", "value", ui.value);
        //     ConsiderIt.positions.set_slider_value(ui.value);            
        //   }
        // });
        ConsiderIt.positions.set_slider_value(ui.value);
      },
      change: function(event, ui) {
        ConsiderIt.positions.set_slider_value(ui.value);
      },
      stop: function(event, ui){
        //if (ConsiderIt && ConsiderIt.study) {
        //  $j.post('/home/study/2', {
        //    position_id: #{@position.id},
        //    proposal_id: #{@proposal.id},
        //    ival: $j(this).attr('id').substring(6),
        //    fval: ui.value
        //  });   
        //}
      }
    };

    $j(".slider").slider(params);
    ConsiderIt.positions.set_slider_value(#{-1 * @position.stance + 1});
      
    // Study delegators for point expansions
    //if (ConsiderIt && ConsiderIt.study) {
    //  $j(document).delegate('.point_in_list a.toggle', 'click', function(){
    //    $j.post('/home/study/1', {
    //      position_id: #{@position.id},
    //      proposal_id: #{@proposal.id},
    //      point_id: $j(this).parents('.point_in_list').find('.id:first').text(),
    //      bval: $j(this).hasClass('more')
    //    });   
    //  });
    

  });

- entity = @proposal.entity || 'proposal'
- slider_prompt = @proposal.slider_prompt || "What is your conclusion?"
- considerations_prompt = @proposal.considerations_prompt || "perspective"
- statement_prompt = @proposal.statement_prompt || "Any final remarks?"

= render :partial => "proposals/blocks/menu"

#craft_position
  - if @is_admin
    .edit_page
      %a
        Edit proposal
        = image_tag 'edit_page.png'
    - if @deletable
      .delete_proposal
        = link_to "Delete proposal", proposal_path(@proposal.long_id), :confirm => "Are you sure?", :method=>:delete


  #proposal_id.hide
    = @proposal.id
  #proposal_long_id.hide
    = @proposal.long_id

  = render :partial => "proposals/description"
  
  %ol.user_opinion

    - if false
      = render :partial => "positions/slider", :locals => { :id => 1, :number => 1, :prompt => slider_prompt }

    = render :partial => "positions/considerations", :locals => { :number => 2, :prompt => considerations_prompt }

    - if false
      = render :partial => "positions/slider", :locals => { :id => 2, :number => 3, :prompt => "Update your opinion, if it has changed." }
    - else
      = render :partial => "positions/slider", :locals => { :id => 1, :number => 1, :prompt => slider_prompt }

    - if true || @proposal.enable_position_statement
      = render :partial => "positions/statement/create", :locals => { :number => 4, :prompt => statement_prompt}

  #submitstance
    .rest

      .stanceform

        - if @user
          = form_for [@proposal, @position] do |f|
            = render :partial => "positions/submit", :locals => { :f => f }

        - else
          = form_for :position, :url => proposal_positions_path(@proposal.long_id), :remote => true do |f|
            = render :partial => "positions/submit", :locals => { :f => f }

            #position_save_login_trigger.user_dialog

            :javascript
              $j('#position_save_login_trigger').dialog({
                autoOpen: false,
                modal: true,
                draggable: false,
                dialogClass: 'alert',
                width: 775
              });

              $j('.stanceform input.submit').click(function(){
                $j('#position_save_login_trigger')
                  .load("#{new_user_registration_path(:third_party=>false, :context=>"position_submit")}")
                  .dialog('open');
                return true;
              });
                  
  :javascript
    $j('li.statement.step textarea').change(function(){
      var statement = $j(this).val();
      $j('form .stance.position_statement textarea').val(statement);
    });  
