:javascript
  $j(document).ready(function(){
    ConsiderIt.positions.initialize_sliders(#{-1 * @position.stance}, '#{@option.short_name}', #{@option.id});
  });

#initiative.edit
  = render :partial => "options/description"
  
  %ol#step_through
    %li.gut.step.slide
      .head
        %span.ol_number
          1.      
        %h3.banner
          What's your current opinion of #{@option.reference}?
        .extra
          Click and drag the slider to indicate whether you support or oppose this measure
      
      .rest.position
        = render :partial => "options/slider_and_viz/slider", :locals => { :id => 1, :viz_stance => false }
      
    %li#stance.step   
      .head
        %span.ol_number
          2.   
        %h3.banner
          Collect your thoughts on&nbsp; 
          %span>= @option.designator
          \, one point at a time.
        .extra
          Add your own points, optionally including points by other voters by 
          %strong
            clicking the arrows.
        
      .rest         
        #points 

          .points_other#points_other_pro
            .point_list_footer
              = render :partial => "points/pagination_block", :locals => { :points => @pro_points, :is_pro => true, :bucket => 'other', :page => @page, :mode => 'other', :column_selector => "#points_other_pro", :prev => true} 

            .carousel
              = render :partial => "points/column", :locals => { :is_pro => true, :points => @pro_points, :context => 'margin' }

            .point_list_footer
              = render :partial => "points/pagination_block", :locals => { :points => @pro_points, :is_pro => true, :bucket => 'other', :page => @page, :mode => 'other', :column_selector => "#points_other_pro", :prev => false} 


          .user_position
            .position_container

              .points_self#points_self_pro
                .points_list_header
                = render :partial => "points/column", :locals => { :position => 1, :points => @included_pros, :static => false, :context => 'self' }
                = render :partial => "points/new", :locals => { :point => nil, :is_pro => true, :sel => '#points_self_pro' }

              .points_self#points_self_con 
                .points_list_header
                = render :partial => "points/column", :locals => { :position => 0, :points => @included_cons, :static => false, :context => 'self' }
                = render :partial => "points/new", :locals => { :point => nil, :is_pro => false, :sel => '#points_self_con' }

              .clear

          .points_other#points_other_con

            .point_list_footer
              = render :partial => "points/pagination_block", :locals => { :points => @con_points, :is_pro => false, :bucket => 'other', :page => @page - 1, :mode => 'other', :column_selector => "#points_other_con", :prev => true} 
            .carousel
              = render :partial => "points/column", :locals => { :is_pro => false, :points => @con_points, :context => 'margin' }

            .point_list_footer
              = render :partial => "points/pagination_block", :locals => { :points => @con_points, :is_pro => false, :bucket => 'other', :page => @page - 1, :mode => 'other', :column_selector => "#points_other_con", :prev => false} 


    %li.stance.update_stance.step.slide
      .head
        %span.ol_number
          3.     

        %h3.banner
          Update your stance, if it has changed.
        .extra
          Click and drag the slider to update your stance on this initiative
    
      .rest.position
        = render :partial => "options/slider_and_viz/slider", :locals => { :id => 2, :viz_stance => false }
      
    %li#submitstance.step
      .rest

        .stanceform

          = form_for [@option, @position] do |f|
            =f.hidden_field :stance, :id => "stance-value", :value=>0.0
            =f.hidden_field :option_id, :value=>@option.id

            =f.hidden_field :position_id, :value => @position.id
              
            = submit_tag "", :class => "submit submit_stance", :title => "Save your stance and position on #{@option.reference}"

          - if !@user
            #position_save_login_trigger.user_dialog

            :javascript
              $j('#position_save_login_trigger').dialog({
                autoOpen: false,
                modal: true,
                draggable: false,
                dialogClass: 'alert',
                width: 775,
                height: 435
              });

              $j('.stanceform input.submit').click(function(){
                $j('#position_save_login_trigger')
                  .load("#{new_user_registration_path(:third_party=>false, :context=>"position_submit")}")
                  .dialog('open');
                return true;
              });


          .stance_status              
            Don't worry, you can change your list and stance later. 
