-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

#nameplate
  .inner
    - name = current_user ? current_user.username : nil
    - if current_user
      %span.my_name
        #{name}'s 

    - else
      = succeed "'s " do
        %input.my_name.no_name{:type => 'text', :placeholder => 'type your name here'}<>
          = name ? name : ''


    - if false && @is_admin
      - @proposal.considerations_prompt = prompt
      = render :partial => 'proposals/admin_make_editable', :locals => { :field => :considerations_prompt, :noresize => true}
    - else
      %span.prompt
        = prompt    