- support_pole = @proposal.slider_left || 'Support'
- oppose_pole = @proposal.slider_right || 'Oppose'

%li.gut.step.slide
  .head
    %h3.banner.double

      - if @is_admin
        - @proposal.slider_prompt = prompt
        = render :partial => 'proposals/admin_make_editable', :locals => { :field => :slider_prompt}
      - else
        = prompt
  
  // TODO: this should probably be named "stance", not "position"
  .rest.position

    %table.slider_table
      %tr
        %td.slider_label.left
          %div
            - if @is_admin
              - @proposal.slider_left = support_pole
              = render :partial => 'proposals/admin_make_editable', :locals => { :field => :slider_left, :noresize => true}
            - else
              = support_pole

        %td.slider_container
          %div.slider{:id => "slider#{id}"}
        %td.slider_label.right
          %div
            - if @is_admin
              - @proposal.slider_right = oppose_pole
              = render :partial => 'proposals/admin_make_editable', :locals => { :field => :slider_right, :noresize => true}
            - else
              = oppose_pole
      %tr
        %td
        %td
          .center
            Neutral
        %td