- poles = @proposal.poles || 'Support/Oppose'
- support_pole, oppose_pole = poles.split('/')
- extra_text |= "Click and drag the slider to indicate your level of support or opposition"

%li.gut.step.slide
  .head
    %h3.banner
      = prompt
    .extra
      = extra_text
  
  // TODO: this should probably be named "stance", not "position"
  .rest.position

    %table.slider_table
      %tr
        %td.slider_label.left
          %div
            = support_pole
        %td.slider_container
          %div.slider{:id => "slider#{id}"}
        %td.slider_label.right
          %div
            = oppose_pole
      %tr
        %td
        %td
          .center
            Neutral
        %td