- skip_text = current_user && @position.published ? "Discard changes" : "No, just show me the results..."

.stance.position_statement.hide
  = label_tag :explanation, "Optional review that summarizes your thoughts"
  = f.text_area :explanation
   
=f.hidden_field :stance, :id => "stance-value", :value=>0.0
=f.hidden_field :proposal_id, :value=>@proposal.id
=f.hidden_field :position_id, :value => @position.id              
=f.submit "Save your perspective!", :class => "submit important"
= link_to skip_text, proposal_position_path(@proposal.long_id, @position), :method => :delete, :class => "skip_save"
//= link_to "discard your #{@position.published ? 'changes' : 'position'}", proposal_position_path(@proposal, @position), :method => :delete

%ul
  %li
    = f.check_box :notification_proposal_subscriber
    = f.label :notification_proposal_subscriber, 'Notify me if a new pro or con is added'

  - if @proposal.enable_position_statement
    %li
      = f.check_box :notification_statement_subscriber
      = f.label :notification_statement_subscriber, 'Notify me if a new review is added'

  %li
    = f.check_box :notification_includer
    = f.label :notification_includer, 'Notify me of new comments on points in my list'