- skip_text = current_user && @position.published ? "Discard changes" : "No, just show me results..."

.stance.position_statement.hide
  = label_tag :explanation, "Optional review that summarizes your thoughts"
  = f.text_area :explanation
   
=f.hidden_field :stance, :id => "stance-value", :value=>0.0
=f.hidden_field :proposal_id, :value=>@proposal.id
=f.hidden_field :position_id, :value => @position.id

=f.submit "Save your perspective!", :class => "submit important"
= link_to skip_text, proposal_position_path(@proposal.long_id, @position), :method => :delete, :class => "skip_save"
//= link_to "discard your #{@position.published ? 'changes' : 'position'}", proposal_position_path(@proposal, @position), :method => :delete

.notifications
  -#= render :partial => 'acts_as_followable/as_nested_form', :locals => { :parent_form => f, :followable => @proposal, :prompt => 'Follow updates to this proposal' }

  - following_proposal = current_user ? @proposal.follows.where(:user_id => current_user.id).first : nil

  = label_tag :follow_proposal, '', :title => 'We\'ll send periodic email notifications summarizing activity on the proposal, as well as alerts about new pro and con points. You can easily unsubscribe later.' do
    
    = check_box_tag :follow_proposal, 'true', following_proposal && following_proposal.follow

    %span
      Follow this proposal.
    .sub
      alerts for new points and periodic summaries

  - if @user.nil?
    .email{ :class => "#{following_proposal && following_proposal.follow ? '' : 'hide'}"}
      
      = text_field_tag :email, '', :placeholder => 'your email address'

    :javascript
      $j('.notifications input[type="checkbox"]').change(function(e){
        $j('.notifications .email').fadeToggle();
        $j('.notifications .email input').focus();
      })
