//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

- @app_title = @options[:app_title]

Hi!

= "\r\n"
Thanks for taking a stance on "#{@proposal.title}".

= "\r\n"
Before your vote will be counted in the totals, we ask that you verify your email address by visiting #{confirmation_url(@user, :confirmation_token => @user.confirmation_token, :host => @options[:host])}. 

= "\r\n"
Why? We want to ensure that people are registering their opinions using a real email address. Otherwise, it will be easier to commit the equivalent of voter fraud.

= "\r\n"
Thanks!