Hi #{@user.name},


#{@position.user.name} contributed a new perspective for "#{@point.proposal.title}".


Visit the "#{@point.proposal.title}" page [#{proposal_url(@position.proposal, :host => @host)}] to read and comment on it.


Thanks!


=================================
To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page. 