!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv".intern => "Content-Type"}

    %style
      blockquote { padding-left: 10px; border-left: 1px solid #666; }
  %body
    %p
      Hi #{@user.name},
    
    %p
      #{@position.user.name} contributed a new perspective for "#{@point.proposal.title}".

    %p 
      Visit the 
      %a{ :href => "#{proposal_url(@position.proposal), :host => @host}" }
        "#{@point.proposal.title}" page
      to read and comment on it.

    %p
      Thanks!

    %hr

    %p
      To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page. 