Hi #{@user.name},


#{@position.user.name} contributed a new review for #{@position.option.category} #{@position.option.designator}.


Visit the #{@point.option.category} #{@point.option.designator} page [#{option_url(@position.option)}] to read and comment on it.


Thanks!


=================================
To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page. 