Hi #{@user.name},


#{@position.user.name} contributed a new review for #{@position.proposal.category} #{@position.proposal.designator}.


Visit the #{@point.proposal.category} #{@point.proposal.designator} page [#{proposal_url(@position.proposal)}] to read and comment on it.


Thanks!


=================================
To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page. 