Hi #{@user.name},


#{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}":


"#{@point.nutshell}"


Check it out at #{proposal_point_url(@point.proposal.long_id, @point, :host => @host)}, or visit the proposal page at #{proposal_url(@point.proposal, :host => @host)}. 


Thanks!


=================================
To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page.