Hi #{@user.name},


#{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}":


"#{@point.nutshell}"


Visit the "#{@point.proposal.title}" page [#{proposal_url(@point.proposal, :host => @host)}] to read the details, comment on this point and/or include it in your pro/con list. 


Thanks!


=================================
To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page.