- num_positions = @proposal.positions.published.count
- stance_breakdown = @proposal.stance_fractions

- histogram_width = 500
- histogram_height = 200
- histogram_bar_width = 65

:css
  .histogram {
    padding: 0px;
    color: #272727;
    position: relative;
    z-index: 1;
  }
  .viz {
    line-height: 0;
    height: #{histogram_height}px;
    position: relative;
    width: #{histogram_width + 150}px;
    left: -39px;
    top: -3px;
  }
  
  .bar{
    cursor: pointer;
    width: #{histogram_bar_width}px;
    display: inline-block;
    position: relative;
    bottom: 6px;
    margin: 0px 4px;
    z-index: 0;
  }
  .bar.has_votes {
    border: 3px solid #222;  
    padding: 3px;                            
    box-shadow: 0px 1px 2px black;
    border-bottom: none;
    background-color: #222;
  }

  .close, .border_cover {
    display: none;
  }

  .histogram_arrow {
    z-index: 0;
    position: absolute;
    width: 792px;
    left: 85px;
    height: 16px;
    border-radius: 5px;
    top: 178px;
  }
  .support, .oppose {
      position: absolute;
      color: #888;
      font-size: 13pt;
  }

  .support{left: -6px;} 
  .oppose {right: -20px;}  

%p
  #{num_positions} people have now weighed in on "#{@proposal.title}". The breakdown is:

.histogram
  .viz
    = render :partial => "proposals/stance_histogram", :locals => { :proposal_stance_data => stance_breakdown, :has_position => true}

  .histogram_arrow
    .support
      = @proposal.slider_left || 'Support'
    .oppose
      = @proposal.slider_right || 'Oppose'


- position = @user.positions.published.where(:proposal_id => @proposal.id).first
- if position
  %p
    You currently #{position.stance_name_adverb}. 

%button
  = link_to 'View proposal', proposal_url(@proposal.long_id, :host => @host)



