Hi <%= @resource.email %>,

= "\r\n"
Someone has requested a link to change your password, and you can do this through the link below.

= "\r\n"
= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

= "\r\n"
If you didn't request this, please ignore this email.

= "\r\n"
Your password won't change until you access the link above and create a new one.