!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv".intern => "Content-Type"}

    %style
      blockquote { padding-left: 10px; border-left: 1px solid #666; }
  %body
    %p
      Hi #{@user.name},
    
    %p
      #{@comment.user.name} commented on your #{@point.is_pro ? 'pro' : 'con'} point. The comment says:

    %blockquote
      #{@comment.body}

    %p 
      Go 
      %a{ :href => "#{proposal_url(@point.proposal)}" }
        here
      to respond. 

    %p
      Thanks!

    %p 
      p.s. We apologize if the above comment is offensive. We will review any comment deemed offensive (such as containing a personal attack), and block the offending commenter if appropriate. 

    %hr

    %p
      To unsubscribe to these notifications, visit #{root_url} and edit your profile preferences.