Hi #{@user.name},
    
#{@bullet.user.name} summarized your comment. They believe you meant that:


"#{@bullet.text}"


Verify whether the summary is accurate for other readers at
= succeed '.' do
  = @url 


Thanks!


p.s. We apologize if the above summary is offensive. We will review any summary deemed offensive (such as containing a personal attack), and block the offending user if appropriate. 


=========================

To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page.