Hi #{@user.name},


- if @comment
  #{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}" that you also commented on. The point states that "#{@point.nutshell}". The comment says:


  "#{@point.nutshell}"
  
  Respond at
  = succeed '.' do
    = proposal_point_url(@point.proposal.long_id, @point, :host => @host)

- elsif @position
  #{@comment.user.name} also commented on #{@position.user.name}'s review.

  Go to #{proposal_url(@position.proposal, :host => @host)}" } to read and respond. 


Thanks!


=================================
To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page.