!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv".intern => "Content-Type"}

    %style
      blockquote { padding-left: 10px; border-left: 1px solid #666; }
  %body
    %p
      Hi #{@user.name},
    
    %p
      #{@bullet.user.name} summarized your comment. They believe you meant that:

    %blockquote
      #{@bullet.text}

    %p 
      Go
      %a{ :href => "#{proposal_url(@comment.root_object.proposal)}" }
        here
      to verify whether the summary is accurate, and clarify your point if necessary. 

    %p
      Thanks!

    %p 
      p.s. We apologize if the above summary is offensive. We will review any summary deemed offensive (such as containing a personal attack), and block the offending user if appropriate. 

    %hr

    %p
      To unsubscribe to these notifications, visit #{root_url} and edit your profile preferences.