Hi #{@user.name},
    
#{@bullet.user.name} summarized your comment. They believe you meant that:


"#{@bullet.text}"


Go to #{option_url(@comment.root_object.option)} to verify whether the summary is accurate, and clarify your point if necessary.


Thanks!


p.s. We apologize if the above summary is offensive. We will review any summary deemed offensive (such as containing a personal attack), and block the offending user if appropriate. 


=========================

To unsubscribe to these notifications, visit #{root_url} and edit your profile preferences.