!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv".intern => "Content-Type"}

    %style
      blockquote { padding-left: 10px; border-left: 1px solid #666; }
  %body
    %p
      Hi #{@user.name},
    
    %p
      #{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point for #{@point.proposal.category} #{@point.proposal.designator} that you included in your pro/con list. The point states that "#{@point.nutshell}". The comment says:

    %blockquote
      #{@comment.body}

    %p 
      Visit the 
      %a{ :href => "#{proposal_url(@point.proposal)}" }
        #{@point.proposal.category} #{@point.proposal.designator} page
      to respond. 

    %p
      Thanks!

    %p 
      p.s. We apologize if the above comment is offensive. We will review any comment deemed offensive (such as containing a personal attack), and block the offending commenter if appropriate. 

    %hr

    %p
      To unsubscribe to messages for #{@point.proposal.category} #{@point.proposal.designator}, visit the page linked to above, deselect the checkbox near the bottom of the page and save your position. 