Hi #{@user.name},


#{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}" that you included in your pro/con list. The point states that "#{@point.nutshell}". The comment says:


"#{@point.nutshell}"


Visit the "#{@point.proposal.title}" page [#{proposal_url(@point.proposal)}] to read the details, comment on this point and/or include it in your pro/con list. 


Thanks!


=================================
To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page.