Hi #{@user.name},


#{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point for #{@point.option.category} #{@point.option.designator} that you also commented on. The point states that "#{@point.nutshell}". The comment says:


"#{@point.nutshell}"


Visit the #{@point.option.category} #{@point.option.designator} page [#{option_url(@point.option)}] to read the details, comment on this point and/or include it in your pro/con list. 


The LVG team


=================================
To unsubscribe to these notifications, visit #{root_url} and edit your profile preferences.