Hi #{@user.name},
    
#{@comment.user.name} commented on your #{@point.is_pro ? 'pro' : 'con'} point. The comment says:


"#{@comment.body}"


Respond at
= succeed '.' do
  = proposal_point_url(@point.proposal.long_id, @point, :host => @host)


Thanks!


p.s. We apologize if the above comment is offensive. We will review any comment deemed offensive (such as containing a personal attack), and block the offending commenter if appropriate. 


=========================

To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page.