Hi #{@user.name},
    
#{@comment.user.name} responded to your reflection on their comment. They  
- if @response.signal == 1
  did not feel the summary was completely accurate, and #{@comment.user.first_name} clarified their original point: 
  
  "#{@response.text}"
- elsif @response.signal == 2
  verified that you heard them accurately.
- elsif @response.signal == 0
  do not believe that your point was a summary of what they said.

Go to #{option_url(@comment.root_object.option)} to continue the conversation.


Thanks!

=========================

To unsubscribe to these notifications, visit #{root_url} and edit your profile preferences.