!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv".intern => "Content-Type"}

    %style
      blockquote { padding-left: 10px; border-left: 1px solid #666; }
  %body
    %p
      Hi #{@user.name},
    
    %p
      #{@comment.user.name} responded to your summary of their comment. They  
      - if @response.signal == 1
        did not feel the summary was completely accurate, and #{@comment.user.first_name} clarified their original point: 
        %blockquote
          #{@response.text}
      - elsif @response.signal == 2
        verified that you heard them accurately.
      - elsif @response.signal == 0
        do not believe that your point was a summary of what they said.
      
    %p 
      Continue the conversation at
      = succeed '.' do
        = @url

    %p
      Thanks!

    %hr

    %p
      To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page.   