Hi #{@user.name},
    
#{@comment.user.name} responded to your summary on their comment. They  
- if @response.signal == 1
  did not feel the summary was completely accurate, and #{@comment.user.first_name} clarified their original point: 
  
  "#{@response.text}"
- elsif @response.signal == 2
  verified that you heard them accurately.
- elsif @response.signal == 0
  do not believe that your point was a summary of what they said.

Continue the conversation at
= succeed '.' do
  = proposal_point_url(@point.proposal.long_id, @point, :host => @host)}    



Thanks!

=========================

To unsubscribe to these messages, visit the link above, and modify your review by deselecting the checkbox near the bottom of the page.