%li.comment{ :id=>"comment-#{comment.id}" }
  
  .comment_body
    - if comment.violation || comment.user.nil?
      .body_row
        .user
          - if comment.user.nil?
            .avatar
            .username
              Account was deleted
          - else
            .avatar
              - if comment.user.avatar
                = image_tag comment.user.avatar.url(:midsmall), :alt => "#{h comment.user.name}'s profile picture"
            .username
              = h comment.user.name
        .text.comment_text    
              
          .body  
            This comment has been removed because it violates one or more of our community rules, such as containing advertising or other inappropriate material.
        .clear
          
    - else
      .body_row
        .user
        .text.comment_text   
          .body
            - if comment.user.avatar
              = image_tag comment.user.avatar.url(:small), :alt => "#{h comment.user.name}'s profile picture", :class => 'avatar', :align => 'left'
            .username.exclude_from_reflect 
              = h comment.user.name
            %br

            = h simple_format(comment.body)

        .clear
          