%li.new_comment
  
  - if current_user
    .comment_body
      .body_row
        .user
          = image_tag current_user.avatar.url(:medium), :alt => "your profile picture", :class => "avatar"

        .text    
          = form_for :comment, :remote => true, :url => proposal_comments_path(@proposal.long_id), :class => 'html5' do |f|
            = f.hidden_field :proposal_id, :value=>@proposal.id
            
            = f.hidden_field :commentable_id, :value => commentable.id
            = f.hidden_field :commentable_type, :value => commentable.class.name
                            
            %ul.form
               
              %li.body
                = f.text_area :body, :id => "comment_body", :class => ' is_counted', :placeholder => 'Type your comment here...', :title => 'Type your comment here...'
                %span.count
                  1000

            // - if current_user
            //   .point-pledge
            //     %p.note
            //       Thanks for keeping it civil!

            = f.submit "Add comment", :class => "comment_submit button"

        .clear
  - else
    You must 
    %a.signin_link
      sign in
    to leave a comment.
