%li.new_comment
  
  - if current_user
    .comment_body
      .body_row
        .user
          = image_tag current_user.avatar.url(:medium), :alt => "your profile picture", :class => "avatar"

        .text    
          = form_for :comment, :remote => true, :url => proposal_comments_path(@proposal) do |f|
            = f.hidden_field :proposal_id, :value=>@proposal.id
            
            - if context == 'point'
              = f.hidden_field :point_id, :value => commentable.id
            - elsif context == 'position'
              = f.hidden_field :position_id, :value => commentable.id
                            
            %ul.form
               
              %li.body.inlined
                = f.label :body, 'Type your comment here...'
                = f.text_area :body, :id => "comment_body", :class => ' is_counted', :title => 'Type your comment here...'
                %span.count
                  1000

            // - if current_user
            //   .point-pledge
            //     %p.note
            //       Thanks for keeping it civil!

            = f.submit "Add comment", :class => "comment_submit gray"

        .clear
  - else
    You must be 
    %a.login_link
      Logged in
    to leave a comment.
