%li.new_comment
  
  - if current_user
    .comment_body
      .body_row
        .user
          .avatar
            = image_tag current_user.avatar.url(:midsmall), :alt => "your profile picture"

          .username
            = h current_user.name
        .text    
          = form_for :comment, :remote => true, :url => option_comments_path(@option) do |f|
            = f.hidden_field :option_id, :value=>@option.id
            
            - if context == 'point'
              = f.hidden_field :point_id, :value => commentable.id
            - elsif context == 'position'
              = f.hidden_field :position_id, :value => commentable.id
                            
            %ul.form
               
              %li.body
                = f.text_area :body, :id => "comment_body", :class => 'has_example is_counted', :title => 'Type your comment here...'
                %span.count
                  1000

            - if current_user
              .point-pledge
                %p.note
                  %strong.alert
                    Remember your pledge!

            = f.submit "Add comment", :class => "comment_submit gray"

        .clear
  - else
    You must be 
    %a.login_link
      Logged in
    to leave a comment.
