- if @notification.event_type == 'new_point_on_proposal_in_watchlist'

  #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point for your proposal "#{@point.proposal.title}":

- else

  #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}":

= "\r\n"
"#{@point.nutshell}"
= "\r\n"

Read and discuss further: #{full_link(@proposal.slug, {selected: "%2Fpoint%2F#{@point.id}"})}

= "\r\n"

\----

= render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}