

%p
  Hi #{@user.first_name}, 

%p
  - if @notification_type == 'your point'
    Someone requested a librarian to research your 
    = succeed '.' do
      %a{href: full_link(@proposal.slug, {selected: "%2Fpoint%2F#{@point.id}"}), style: 'font-weight: 700; color: #468EE5;'} #{@point.is_pro ? 'pro' : 'con'} point
    The Seattle Public Library has now completed the research. We hope the additional information is helpful!

  - elsif @notification_type == 'requested by you'
    At your request, a 
    = succeed ' ' do
      %a{href: full_link(@proposal.slug, {selected: "%2Fpoint%2F#{@point.id}"}), style: 'font-weight: 700; color: #468EE5;'} #{@point.is_pro ? 'pro' : 'con'} point
    has been researched by The Seattle Public Library. 

  - else
    A
    = succeed ' ' do
      %a{href: full_link(@proposal.slug, {selected: "%2Fpoint%2F#{@point.id}"}), style: 'font-weight: 700; color: #468EE5;'} #{@point.is_pro ? 'pro' : 'con'} point
    that you follow has been investigated by The Seattle Public Library. 

%p
  The result of the research:
  %ul
    - @assessment.claims.each do |clm|
      %li{style: "margin-bottom: 15px"}
        Claim: 
        %i
          = clm.claim_restatement
        %br
        Conclusion: #{Assessable::Verdict.find(clm.verdict_id).formatVerdict()}.

%a{href: full_link(@proposal.slug, {selected: "%2Fpoint%2F#{@point.id}"}), style: 'font-weight: 700; color: #468EE5;'}
  Read the full report

= content_for :footer do
  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this point'}