#{translator({id: "email.salutation", name: @message['recipient'].first_name}, "Hi {name},")}

= "\r\n"

#{translator({id: "email.message_from", sender: @message['sender_mask']}, "{sender} says:")}

= "\r\n"
"#{@message['body']}"

= "\r\n"
\----

#{translator({id: "email.send_message.reply", sender: @message['sender_mask']}, "Reply to this email to respond to {sender}.")}