#home
  -# = render :partial => "shared/social_media/twitter_follow", :locals => { :call => 'Follow new proposals'}

  :javascript
    function no_image(source) {
      $j(this).parents('.logo_cell').remove();
    }

  %img.big_logo{ :src => current_theme_image_path("logo_big.png"), :onerror => "no_image(this);" }

  .attribution
    photo by #{link_to 'Joeff Davis', 'http://www.joeff.com/', :target => '_blank'}

  #main_content
    = render :partial => "proposals/new", :locals => { :prompt => 'Add new proposal'}

    = render :partial => "proposals/list_output/list", :locals => { :proposals => get_proposals_by_rank, :style => 'blocks', :hide_initially => false }

  - if Proposal.count > 5
    #navigation
      = render :partial => "proposals/navigation/filters"    
      = render :partial => "proposals/navigation/tags"

