= javascript_include_tag "highstock"
= javascript_include_tag "exporting"


#wrapper

- @series.each do |series|

  :javascript
    $j('#wrapper').append('<div id="container-#{series[2]}">');

    window.chart = new Highcharts.StockChart({

      chart : #{series[3]},

      rangeSelector : {
        selected : 5
      },

      title : #{series[4]},

      yAxis : #{series[1]},
      
      series : #{series[0]}

    });

  