:javascript
  $(document).ready(function(){

    //var proposals = { ActiveSupport::JSON.encode(ActiveRecord::Base.connection.select("SELECT id, long_id, activity, additional_details,category,created_at,contested,description,designator,long_description,name,short_name,trending,updated_at,url,user_id, active FROM proposals where account_id=#{current_tenant.id} AND active=1")) };

    ConsiderIt.public_root = "#{@public_root}"

    ConsiderIt.proposals = #{@proposals.to_json};

    ConsiderIt.current_proposal = #{ @current_proposal ? @current_proposal.to_json : 'null' };


    //var users = { User.select("id, name, avatar_file_name").to_json };
    var users = #{@users};
    ConsiderIt.users = _.object(_.map(users, function(v){ return [v.id, new ConsiderIt.User(v)];})) ;
    ConsiderIt.users[-1] = new ConsiderIt.User({name: 'Anonymous'});

    ConsiderIt.current_tenant = new ConsiderIt.Account({
        id : "#{current_tenant.id}",
        identifier : "#{current_tenant.identifier}",
        assessment_enabled : #{current_tenant.assessment_enabled},
        enable_moderation : #{current_tenant.enable_moderation}, 
        enable_user_conversations : #{current_tenant.enable_user_conversations},
        slider_right : "#{current_tenant.slider_right}", 
        slider_left : "#{current_tenant.slider_left}", 
        slider_prompt : "#{current_tenant.slider_prompt}", 
        considerations_prompt : "#{current_tenant.considerations_prompt}", 
        statement_prompt : "#{current_tenant.statement_prompt}", 
        pro_label : "#{current_tenant.pro_label}",
        con_label : "#{current_tenant.con_label}",
        pledge_enabled : #{current_tenant.requires_civility_pledge_on_registration}   
    });

    ConsiderIt.current_user = #{current_user ? "ConsiderIt.users[#{current_user.id}]" : 'new ConsiderIt.User'};

    //TODO: filter data
    #{current_user ? "ConsiderIt.update_current_user( { user: #{current_user.to_json(:methods => :third_party_authenticated)}.user, follows: #{current_user.follows.all.to_json} })" : ''}
    

    ConsiderIt.inaccessible_proposal = #{ @inaccessible_proposal ? @inaccessible_proposal.to_json : 'null' };

    ConsiderIt.limited_user = #{@limited_user ? "ConsiderIt.users[#{@limited_user.id}]" : 'null'};
    ConsiderIt.limited_user_email = #{@limited_user_email ? "'#{@limited_user_email}'" : 'null'};
    #{@limited_user ? "ConsiderIt.limited_user.set( { google_uid: '#{@limited_user.google_uid}', facebook_uid: '#{@limited_user.facebook_uid}', twitter_uid: '#{@limited_user.twitter_uid}'  })" : ''}

    #{@limited_user ? "ConsiderIt.limited_user.set_follows(#{@limited_user_follows.to_json})" : 'null'};

    ConsiderIt.password_reset_token = #{@reset_password_token ? "'#{@reset_password_token}'" : 'null'};  


    //Backbone.history.start({pushState: true});



  });

