:javascript
  $(document).ready(function(){

    //var proposals = { ActiveSupport::JSON.encode(ActiveRecord::Base.connection.select("SELECT id, long_id, activity, additional_details,category,created_at,contested,description,designator,long_description,name,short_name,trending,updated_at,url,user_id, active FROM proposals where account_id=#{current_tenant.id} AND active=1")) };

    //var proposals = [];

    ConsiderIt.proposals = #{@proposals.to_json}

    for(var long_id in ConsiderIt.proposals){
      var prop = ConsiderIt.proposals[long_id];
      _.extend(ConsiderIt.proposals[long_id], {
        points : null,
        positions : null,
        view : null,
        views : {},
        model : new ConsiderIt.Proposal(prop.model.proposal), 
        top_con : prop.top_con ? prop.top_con.point : null,
        top_pro : prop.top_pro ? prop.top_pro.point : null
      });
    }

    ConsiderIt.proposals_by_id = _.object(_.map(ConsiderIt.proposals, function(v,k){ return [v.model.id, v] }))

    

    //var users = { User.select("id, name, avatar_file_name").to_json };
    var users = #{@users};
    ConsiderIt.users = _.object(_.map(users, function(v){ return [v.id, new ConsiderIt.User(v)];})) ;
    ConsiderIt.users[-1] = new ConsiderIt.User({name: 'Anonymous'});

    ConsiderIt.comments = {}
    //ConsiderIt.current_tenant = new ConsiderIt.Account()

    ConsiderIt.current_tenant = new ConsiderIt.Account({
        identifier : "#{current_tenant.identifier}",
        assessment_enabled : #{current_tenant.assessment_enabled},
        enable_moderation : #{current_tenant.enable_moderation}
    });

    ConsiderIt.roles = {
      is_admin : false,
      is_moderator : false,
      is_analyst : false,
      is_evaluator : false,
      is_manager : false
    }

    ConsiderIt.current_user = #{current_user ? "ConsiderIt.users[#{current_user.id}]" : 'new ConsiderIt.User'};

    //TODO: filter data
    #{current_user ? "ConsiderIt.update_current_user( { user: #{current_user.to_json(:methods => :third_party_authenticated)}.user, follows: #{current_user.follows.all.to_json} })" : ''}
    

    ConsiderIt.pinned_user = #{@pinned_user ? "ConsiderIt.users[#{@pinned_user}]" : 'null'};
    ConsiderIt.pinned_user_email = #{@pinned_user_email ? @pinned_user_email : 'null'};

    ConsiderIt.password_reset_token = #{@reset_password_token ? "'#{@reset_password_token}'" : 'null'};  

    ConsiderIt.current_proposal = #{@proposal ? @proposal : 'null'};

    ConsiderIt.router = new ConsiderIt.Router();

    ConsiderIt.app = new ConsiderIt.AppView();
    ConsiderIt.app.render();

    Backbone.history.start({pushState: true});



  });

