:javascript
  $(document).ready(function(){



    //var proposals = { ActiveSupport::JSON.encode(ActiveRecord::Base.connection.select("SELECT id, long_id, activity, additional_details,category,created_at,contested,description,designator,long_description,name,short_name,trending,updated_at,url,user_id, active FROM proposals where account_id=#{current_tenant.id} AND active=1")) };

    //var proposals = [];

    ConsiderIt.proposals = #{@proposals.to_json}

    for(var long_id in ConsiderIt.proposals){
      var prop = ConsiderIt.proposals[long_id];
      _.extend(ConsiderIt.proposals[long_id], {
        points : null,
        positions : null,
        view : null,
        views : {},
        model : new ConsiderIt.Proposal($.parseJSON(prop.model).proposal), 
        top_con : prop.top_con ? $.parseJSON(prop.top_con).point : null,
        top_pro : prop.top_pro ? $.parseJSON(prop.top_pro).point : null
      });
    }

    ConsiderIt.proposals_by_id = _.object(_.map(ConsiderIt.proposals, function(v,k){ return [v.model.id, v] }))

    //var users = { User.select("id, name, avatar_file_name").to_json };
    var users = #{@users};
    ConsiderIt.users = _.object(_.map(users, function(v){ return [v.id, new ConsiderIt.User(v)];})) ;
    ConsiderIt.comments = {}

    ConsiderIt.current_user = #{current_user ? "ConsiderIt.users[#{current_user.id}]" : 'new ConsiderIt.User'};


    ConsiderIt.router = new ConsiderIt.Router();

    ConsiderIt.app = new ConsiderIt.AppView();
    ConsiderIt.app.render();

    Backbone.history.start({pushState: true});



  });

