%script{ :type => "text/template", :id => "tpl_homepage_heading" }


  - if false && Rails.env.development?
    = render :partial => "shared/dev_tools"      

  .t-intro-wrap
    .l-content-wrap.t-intro
              
      .l-message
        .l-message-speaker.l-message-initiator
          %a
            - if current_tenant.managing_account && current_tenant.managing_account.avatar_file_name
              = image_tag current_tenant.managing_account.avatar.url(:large)
            - else
              %img{ :src => '/system/default_avatar/large_default-profile-pic.png'}

        .l-message-body
          = render :partial => "shared/bubble", :locals => {:left => true, :down => false}

          %span.l-message-title
            = simple_format current_tenant.header_text

          .l-message-details
            = simple_format current_tenant.header_details_text


