////////////// proposal ////////////
%script{ :type => "text/template", :id => "tpl_proposal_layout" }  
  .m-proposal-description-region

  .m-participants
    .l-message-speaker

  .m-proposal-aggregate-region

  .m-proposal-reasons-region





////////////// position ////////////

%script{ :type => "text/template", :id => "tpl_position_crafting_layout" }  

  .m-position-message-body.l-message-body
    %h2.m-position-heading-points
      {{ considerations_prompt }}

    .m-position-reasons-region

    .m-position-stance-region

    .m-position-explanation-region

  .m-position-footer-region
              

%script{ :type => "text/template", :id => "tpl_position_reasons" }  

  .m-position-propoints-region.m-points-list-region
     
  .m-position-conpoints-region.m-points-list-region


%script{ :type => "text/template", :id => "tpl_position_stance" }  
  %h2.m-position-heading-stance
    {{ slider_prompt }}
  %table
    %tr
      %td.m-stance-label-support
        %div
          {{ slider_left }}

      %td.m-stance-slider-container
        .noUiSlider

      %td.m-stance-label-oppose
        %div
          {{ slider_right }}
    %tr
      %td.m-stance-label-neutral{ :colspan => 3 }
        Neutral / Undecided

%script{ :type => "text/template", :id => "tpl_position_explanation" }  
  %label{ :name => :explanation }
    Optional statement that summarizes your thoughts
  %textarea.m-position-statement{ :name => :explanation}


%script{ :type => "text/template", :id => "tpl_position_footer" }  

  (( if( active ) { ))

  %a.m-position-your-action-body.submit{:'data-target' => 'submit-position'}
    // fa-floppy-o
    %i.icon-large  
      &#xf0c7;
    (( if(updating){ ))
    Update your position
    (( } else { ))
    Save your position
    (( } ))

  .m-position-submit-footer-wrap
    .notifications

      = label_tag :follow_proposal, '', :title => 'We\'ll send periodic email notifications summarizing activity on the proposal, as well as alerts about new pro and con points. You can easily unsubscribe later.' do
        
        (( if (follows) { )) 
        = check_box_tag :follow_proposal, 'true', true
        (( } else { ))
        = check_box_tag :follow_proposal, 'true'
        (( }))

        %span
          Get email updates about new activity

    %a.m-position-cancel{:'data-target' => 'show-results'}
      cancel and show results
  (( } else { ))
  %a.m-position-your-action-body.submit{:'data-target' => 'show-results'}
    View results 
  (( } ))


  

%script{ :type => "text/template", :id => "tpl_reasons_layout"}

  // .m-proposal-socialmedia-region


  .m-reasons-header-region{:'data-target' => 'show-results'}   

  .m-reasons-lists
    .m-aggregated-propoints-region.m-points-list-region
    .m-position-region
    .m-aggregated-conpoints-region.m-points-list-region

  .m-reasons-footer-region



////////////// aggregate ////////////
%script{ :type => "text/template", :id => "tpl_aggregate_layout" }  
  
  .m-histogram-region




%script{ :type => "text/template", :id => "tpl_group_container"}
  (( _.each(participants, function(p){ ))
  %span.avatar{ :'data-target' => "user_profile_page",  :'data-id' => "{{p.id}}", :alt => "{{p.get('name')}}'s profile picture", :id => "avatar-{{p.id}}", :class => "participant", :style => "height:{{tile_size}}px; width:{{tile_size}}px;"}
  (( }); ))

%script{ :type => "text/template", :id => "tpl_aggregate_footer_expanded"}
  %a.m-position-your-action-body.join{ :href => "{{Routes.new_position_proposal_path( long_id )}}"}
    //fa-pencil-square-o
    %i.icon-large 
      &#xf044;  
    {{ call }}

%script{ :type => "text/template", :id => "tpl_aggregate_footer_collapsed"}
  .placeholder

%script{ :type => "text/template", :id => "tpl_aggregate_footer_separated"}
  .placeholder


%script{ :type => "text/template", :id => "tpl_aggregate_histogram"}

  (( _.each(histogram.breakdown, function(bar){ ))

  (( var bucket = bar.bucket; ))
  .m-histogram-bar{ :style => "height: {{bar.full_size}}px;", :bucket => "{{bucket}}", :id => "bucket-{{bucket}}"}

    = render :partial => "shared/bubble_equilateral", :locals => {:left => false}
    .m-bar-position
      for {{bar.group_name}}


    (( if (bar.positions.length > 0) { ))
    %ul.m-bar-people

      (( _.each(bar.positions, function(position) { ))
      (( var user = position.getUser(); ))
      (( if (user){ ))

      (( var has_explanation = position.get('explanation') && position.get('explanation').length > 0, expl_clss = has_explanation ? 'm-person-has-explanation' : 'm-person-has-no-explanation'; ))

      %li.m-bar-person.avatar{:class=>"bucket-{{bucket}} {{expl_clss}}", :'data-target' => "user_profile_page", :'data-id' => "{{user.id}}", :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture", :style => "height:{{bar.tile_size}}px; width:{{bar.tile_size}}px;"}

      (( } ))
      (( }); ))
    (( } ))

  (( }); ))

  .m-histogram-base
    .m-histogram-base-label.m-histogram-base-label-support
      {{ supporter_label }}
    .m-histogram-base-label.m-histogram-base-label-oppose
      {{ opposer_label }}

%script{ :type => "text/template", :id => "tpl_reasons_results_header"}
  
  // .m-results-pro-con-list-who
  //   { call }

  .m-reasons-results-header
    %span.m-reasons-results-header-label
      Pros

    %span.m-reasons-results-header-link
      and

    %span.m-reasons-results-header-label
      Cons



%script{ :type => "text/template", :id => "tpl_reasons_results_header_collapsed"}
  / = render :partial => "shared/bubble", :locals => {:left => true}

  / %h3.m-results-pro-con-list-who
  /   (( if(active) { ))
  /   We've been considering the pros and cons and find these the most compelling
  /   (( } else { ))
  /   These are the most compelling pros and cons we considered
  /   (( } ))


%script{ :type => "text/template", :id => "tpl_reasons_results_header_separated"}
  .placeholder

/ %script{ :type => "text/template", :id => "tpl_results" }      
/   .l-message.m-aggregated-results

/     .l-message-speaker

/       .l-group-container
/         (( _.each( participants, function(p){ ))
/         %span.avatar{ :'data-target' => "user_profile_page", :'data-id' => "{{p}}", :id => "avatar-{{p}}", :alt => "{{ConsiderIt.users[p].get('name')}}'s profile picture", :class => "participant", :style => "height:{{tile_size}}px; width:{{tile_size}}px;"}
/         (( }); ))

/     .l-message-body.m-results-responders
/       = render :partial => "shared/bubble", :locals => {:left => true}

    


%script{ :type => "text/template", :id => "tpl_proposal_social_media" }
  .m-proposal-socialmedia-action-call
    Invite your friends to join

  %a{ :href => "https://twitter.com/share", :class => "twitter-share-button", :'data-count' => "none"}
    Tweet
  {{'<' + 'script src="//platform.twitter.com/widgets.js" type="text/javascript"' + '><' + '/script>'}}

  %a.zocial.facebook{ :href => "#", :onclick => "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;"}
    Share


///////////// summary ////////////////

/ %script{ :type => "text/template", :id => "tpl_proposal_summary_results"}
/   .l-message.m-results-summary{:'data-role' => 'results-section'}

/     .l-message-speaker
/       .l-group-container
/         (( _.each(participants, function(p){ ))
/         %span.avatar{ :'data-target' => "user_profile_page",  :'data-id' => "{{p.id}}", :alt => "{{p.get('name')}}'s profile picture", :id => "avatar-{{p.id}}", :class => "participant", :style => "height:{{tile_size}}px; width:{{tile_size}}px;"}
/         (( }); ))




/     .l-message-body.m-results-responders.summary 
/       = render :partial => "shared/bubble", :locals => {:left => true}



/       .m-results-summary-pro-con-list
/         %h3.m-results-pro-con-list-header
/           (( if(active) { ))
/           The most compelling points raised thus far:
/           (( } else { ))
/           These were the most compelling points we considered:
/           (( } ))
/         .m-points-list-region         
/           .m-top-point.m-top-pro
/             (( if(!top_pro) { ))
/             We haven't thought of any {{ pro_label }} arguments yet.
/             (( } else { ))

/             %span.m-top-point-header
/               Our Top {{ pro_label }} is 
/             %span.m-top-point-content
/               &ldquo;{{ top_pro.nutshell }}&rdquo;
/             (( if(!top_pro.hide_name){ )) 
/             %span.m-top-point-user
/               &ndash; {{ top_pro_user.name }}       
/             (( } ))

/             (( } ))

/         .m-points-list-region
/           .m-top-point.m-top-con
/             (( if(!top_con) { ))
/             We haven't thought of any {{ con_label }} arguments yet.
/             (( } else { ))

/             %span.m-top-point-header
/               Our Top {{ con_label }} is
/             %span.m-top-point-content
/               &ldquo;{{ top_con.nutshell }}&rdquo;  
/             (( if(!top_con.hide_name){ )) 
/             %span.m-top-point-user
/               &ndash; {{ top_con_user.name }}       
/             (( } ))

/             (( } ))

/       (( if(active && published){ ))

/       .m-position-your-action-body-wrap    
/         %a.m-reasons-view-results{:href => "{{Routes.proposal_path( long_id )}}"}
/           View results      
          

/       (( } ))

    

/ %script{ :type => "text/template", :id => "tpl_proposal_summary"}
/   .l-content-wrap
/     .m-proposal-description-region

/     .m-results-summary-region

/     (( if(!published){ ))
/     .m-proposal-strip_publish
/       = form_for :proposal, :url => "{{Routes.proposal_path(long_id)}}", :method => :put, :remote => true, :html => {:class => 'm-proposal-publish-form'} do |f|
/         = f.hidden_field :published, :value => true

/         = f.submit 'Publish this new conversation', :class => 'm-proposal-publish'

/       -# = link_to "cancel", "{{Routes.proposal_path(long_id)}}", :confirm => "Canceling will permanently delete this conversation. Are you sure?", :method => :delete, :remote => true, :class => 'm-delete_proposal'

/     (( } ))  




%script{ :type => "text/template", :id => "tpl_proposal_admin_strip" }
  .m-proposal-admin_strip
    %span.m-proposal-admin_label
      Conversation settings:

    .m-proposal-admin-publicity.l-dialog-prompt
      %a.m-proposal-admin_operations-publicity.l-dialog-prompt-label
        //Sharing is 
        %span
          (( if(publicity == 2) { ))
          publicly accessible
          (( } else if(publicity == 1){ ))
          accessible by link only
          (( } else { ))
          private
          (( } ))

    .m-proposal-admin-status.l-dialog-prompt
      %a.m-proposal-admin_operations-status.l-dialog-prompt-label
        //Status is 
        %span
          (( if(active){ ))
          active
          (( } else { ))
          inactive
          (( } ))


    = link_to "Delete conversation", "{{Routes.proposal_path(long_id)}}", :confirm => "Are you sure you wish to permanently delete this conversation?", :method => :delete, :remote => true, :class => 'm-delete_proposal'


%script{ :type => "text/template", :id => "tpl_proposal_admin_strip_edit_publicity" }

  = form_for :proposal, :url => "{{Routes.proposal_path(long_id)}}", :method => :put, :remote => true, :html => {:class => 'm-proposal-admin_operations-settings-form'} do |f|
    .radio_block
      .option
        (( if(publicity == 2) { ))
        = f.radio_button :publicity, '2', :value => '2', :checked => true
        (( } else { ))
        = f.radio_button :publicity, '2', :value => '2'
        (( } ))

        = f.label :publicity, 'Public', :value => '2'
        .sublabel
          It will be accessible on the homepage.

      .option
        (( if(publicity == 1) { ))
        = f.radio_button :publicity, '1', :value => '1', :checked => true
        (( } else { ))
        = f.radio_button :publicity, '1', :value => '1'
        (( } ))

        = f.label :publicity, 'Anyone with a link', :value => '1'
        .sublabel
          Only people that have a link to this proposal will be able to access it.

      .option
        (( if(publicity == 0) { ))
        = f.radio_button :publicity, '0', :value => '0', :checked => true
        (( } else { ))
        = f.radio_button :publicity, '0', :value => '0'
        (( } ))

        = f.label :publicity, 'Private', :value => '0'
        .sublabel
          Restrict access to the following invited participants.

        .access_list
          .label
            Comma-separated email list of invited users:
          = f.text_area :access_list, :rows => 2

    .save_block
      = f.submit 'save'
      %a.cancel{:'data-target' => "dialog-close"}
        cancel

%script{ :type => "text/template", :id => "tpl_proposal_admin_strip_edit_active"}

  = form_for :proposal, :url => "{{ Routes.proposal_path(long_id) }}", :method => :put, :remote => true, :html => {:class => 'm-proposal-admin_operations-settings-form'} do |f|
    .radio_block
      .option
        (( if(active) { ))
        = f.radio_button :active, true, :value => true, :checked => true
        (( } else { ))
        = f.radio_button :active, true, :value => true
        (( } ))
        = f.label :active, 'Active', :value => true
        .sublabel
          Contributions are open. People with access to this proposal can contribute to it.
      .option
        (( if(active) { ))
        = f.radio_button :active, false, :value => false
        (( } else { ))
        = f.radio_button :active, false, :value => false, :checked => true
        (( } ))
        = f.label :active, 'Inactive', :value => false
        .sublabel
          Contributions are closed. People with access to this proposal will only be able to view it. 

    .save_block
      = f.submit 'save'
      %a.cancel{:'data-target' => "dialog-close"}
        cancel