
- cache ['templates', current_tenant] do
      


  / %script{ :type => "text/template", :id => "tpl_proposal_strip" }
  /   (( if(published){ ))
  /   .m-proposal-connect.m-proposal-strip

  /     %ul
  /       %li.m-proposal-action-label
  /         Help spread the word
  /       %li.m-proposal-action-link
  /         .zocial.icon.facebook
  /       %li.m-proposal-action-link
  /         .zocial.icon.twitter
  /       %li.m-proposal-action-link
  /         .zocial.icon.permalink
  /       %li.m-proposal-action-label
  /         Link to this conversation
  /   (( } ))





  = render :partial => 'backbone/shared'
  = render :partial => 'backbone/root'
  = render :partial => 'backbone/point'
  = render :partial => 'backbone/points'
  = render :partial => 'backbone/homepage'
  = render :partial => 'backbone/comments'
  = render :partial => 'backbone/position'
  = render :partial => 'backbone/proposals'
  = render :partial => 'backbone/proposal'
  = render :partial => 'backbone/footer'
  = render :partial => 'backbone/header'
  = render :partial => 'backbone/header_logo'

  = render :partial => 'backbone/assessment/assessment_user_facing'

  = render :partial => 'backbone/auth'
  = render :partial => 'backbone/dash'
  = render :partial => 'backbone/static'
  = render :partial => 'backbone/static_pages'