

%script{ :type => "text/template", :id => "tpl_point" }      
        
  .m-point-nutshell
    {{adjusted_nutshell}}
    %span.details_indicator
      (&#8230;)
  
    %span.m-point-user
      (( if(user.name) { ))
      {{user.name}}
      (( } else if(is_you) { ))
      You
      (( } else { ))
      Anonymous
      (( } ))

  .m-point-operations
    %a.m-point-read-more{ :href => "{{Routes.proposal_point_path(proposal.long_id, id)}}" }        
      {{ comment_count == 1 ? "1 comment" : comment_count + " comments"}}
    %a.m-point-include
      Add
    %a.m-point-remove
      Remove

%script{ :type => "text/template", :id => "tpl_newpoint" }      
  
  .m-newpoint

    %a.m-newpoint-new{ :class => "{{is_pro ? 'pro' : 'con'}}" }
      Write a new {{is_pro ? "pro" : "con"}} point

    .m-newpoint-form{ :class => "{{is_pro ? 'pro' : 'con'}}" }

      .m-newpoint-fields

        .m-newpoint-nutshell-wrap
          = text_area_tag :nutshell, nil, :placeholder => 'Summarize your point (required)', :cols => 28, :class => "m-newpoint-nutshell is_counted", :required=>true, :maxlength => 140, :pattern => "^.{3,}"
          %span.count
            140

        .m-newpoint-description-wrap
          = text_area_tag :text, nil, :placeholder => "Write a longer description (optional)", :title => "Write a longer description (optional)", :cols => 28, :class => "autoResize m-newpoint-description"

        .m-newpoint-anonymous-wrap
          = check_box_tag :hide_name, :class => 'm-newpoint-anonymous'
          = label_tag :hide_name, 'conceal your name', :title => 'We encourage you not to hide your name from other users. Signing your point with your name lends it more weight to other participants.'

      .m-newpoint-submit

        %a.m-newpoint-cancel
          cancel

        %input.m-newpoint-create.button{ :type => 'submit', :value => 'Done'}
        
      
%script{ :type => "text/template", :id => "tpl_pointlistpagination" }
  %a.m-pointlist-backward
    (( if(start_record != 1){ ))
    &#9650;
    (( } ))

  .m-pointlist-status

    %span.m-pointlist-start
      {{start_record}}
    &ndash;
    %span.m-pointlist-end
      {{end_record}}
    = surround ' ' do
      of
    %span.m-pointlist-total
      {{total_records}}

  %a.m-pointlist-forward
    (( if(end_record != total_records){ ))
    &#9660;
    (( } ))


%script{ :type => "text/template", :id => "tpl_point_details" }   
  (( var point_creator = false, has_details = false, hide_name = false; ))

  %div{ :class => "m-point-details-{{ is_pro ? 'pro' : 'con' }}" }

    .l-message-speaker
      %span.avatar.m-point-details-author-avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture"}

    .l-message-body.m-point-details-body
      .t-bubble 
        &#9700;   

      %a.m-point-details-close
        Close details

      .m-point-details-nutshell 
        {{ nutshell }} 

      .m-point-details-description 
        {{text.replace('\r\n', '')}}

      .m-point-details-author
        (( if (hide_name) { ))
        anonymous
        (( } else if (user) { ))
        {{ user.get('name') }}
        (( } else { ))
        unknown
        (( } ))

      .m-point-details-operations
        (( if (published) { ))
        -#= render :partial => 'followable/follow', :locals => {:followable => point, :obj => [@proposal, point], :title => 'Get notifications when the point is updated or someone comments on it. You can easily unsubscribe later.'}
        (( } ))

        (( if (point_creator) { ))
        %a.m-point-details-edit.button
          Edit this point
        (( } ))

      .m-point-discussion
        
        %h3.m-point-discussion-heading
          Discussion

        %ul.m-point-comments


    .l-message-recipient

    (( if( !hide_name && user ){ ))
    %span.avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture", :class => "author"}
    (( } ))


%script{ :type => "text/template", :id => "tpl_newcomment" }   
  .m-new-comment            

    %span.avatar.m-new-comment-avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture"}

    .m-new-comment-body
      %textarea.m-new-comment-body-field.is_counted{ :name => :body, :placeholder => 'Type your comment here...', :title => 'Type your comment here...' }
      %span.count
        1000

      (( if( user ) { ))
      .m-new-comment-submit-wrap
        %span.m-new-comment-civility-reminder
          Thanks for being civil!

        %a.m-new-comment-submit.button
          Add comment

      (( } else { ))
      .signinrequired
        You must 
        %a.signin_link
          sign in
        to leave a comment.
      (( } ))


%script{ :type => "text/template", :id => "tpl_comment" }   
  
  (( if( moderation_status == 0 ){ ))
  %i
    This comment has been hidden because it contains a personal attack, is inappropriate (e.g. advertising), or is wildly offtopic.
  ((} else { ))

  %span.avatar.m-comment-avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture"}

  .m-comment-body
    {{body}}

    %span.m-comment-author
      &ndash; 
      %a{ :href => "{{Routes.profile_path(user.id)}}", :target => '_blank'}
        {{ user.get('name') }}

  - if false && can_update
    .m-comment-edit-wrap
      %a.m-comment-edit
        edit
      .m-comment-edit-form.hide
        -#= render :partial => 'commentable/make_editable', :locals => { :comment => comment, :validations => {:maxlength => 1000} }
        %a
          cancel
  (( } ))


- theme = Themes::ThemeDirectrep.find_by_account_id(current_tenant.id)
- rep_user = theme.user
- rep_position = nil

%script{ :type => "text/template", :id => "tpl_proposal" }


  %h2.m-proposal-heading
    Should We {{title}}?

  .m-proposal-message.m-proposal-introduction
    .l-message-speaker.m-proposal-initiator
      = image_tag current_theme_image_path("#{theme.rep_name.gsub(' ', '_').downcase}.jpg")

    .l-message-body.left.m-proposal-description
      .t-bubble 
        &#9700;   
      %p
        {{description}}

      .m-proposal-description-details

        (( _.each(description_detail_fields, function(field) {  ))

        (( if( field[1] != '') { ))
        .m-proposal-description-detail-field
          .m-proposal-description-detail-field-heading
            {{ field[0] }}
            %a.hidden
              show
          .m-proposal-description-detail-field-full.hide
            {{ field[1] }}
            %a.hidden
              show
        (( } ))

        (( }); ))

    .l-message-recipient

  .m-proposal-message.m-proposal-leader-response
    .l-message-speaker.m-proposal-initiator.small
      = image_tag current_theme_image_path("#{theme.rep_name.gsub(' ', '_').downcase}.jpg")

    .l-message-body.left.m-proposal-description
      .t-bubble
        &#9700;
      (( var r = Math.floor(Math.random()*3); ))

      .rep_statement
        (( if(r==0){ ))
        -# if r == 0 #true || rep_position.nil?
        I've not yet taken a stance
        (( } else if(r==1){ ))
        -# elsif r == 1 #true || proposal.active        
        I'm still hoping to hear from more of you. In the meantime, these are 
        %a{ :style => "text-decoration: underline; cursor: pointer;"}
          my thoughts so far. 
        (( } else{ ))
        Based on your input and my considerations, I've decided that I support. Read my 
        = surround '', '.' do
          %a{ :style => "text-decoration: underline; cursor: pointer;"}
            full report
        Thanks!
        (( } ))  

    .l-message-recipient      
  
  .m-proposal-connect

    %ul
      %li
        Help spread the word
      %li.m-proposal-action-link
        .zocial.icon.facebook
      %li.m-proposal-action-link
        .zocial.icon.twitter
      %li.m-proposal-action-link
        .zocial.icon.permalink
        //= image_tag 'link.png'
      %li
        Link to this discussion


%script{ :type => "text/template", :id => "tpl_your_action_craft"}
  .l-message-recipient

  %a.l-message-body.m-position-your-action-body.right.join{ :href => "{{Routes.new_position_proposal_path( long_id )}}"}
    %span.t-bubble
      &#9700;

    //= image_tag current_theme_image_path("join.png")

    %span.text
      {{call}}

  .l-message-speaker
    = image_tag current_theme_image_path("you.png")

%script{ :type => "text/template", :id => "tpl_your_action_save"}
  .l-message-recipient

  %a.l-message-body.m-position-your-action-body.right.submit
    %span.t-bubble
      &#9700;

    //= image_tag current_theme_image_path("join.png")

    %span.text
      {{call}}

  .l-message-speaker
    = image_tag current_theme_image_path("you.png")


%script{ :type => "text/template", :id => "tpl_position" }      
  .l-message-recipient
  .l-message-body.right.m-position-message-body
    .t-bubble
      &#9700;

    %h2.m-position-heading
      These are the pros and cons that I think are most important: 

    .m-reasons
      .m-reasons-peer-points
        .m-reasons-peer-pros-heading
          %h3
            Pros by other users
          .sublead
            add good ones to your list

        .m-reasons-peer-pros
          %ul.m-point-list

      .m-reasons-pro-con-list
        .m-pro-con-list-propoints
         
          .m-pro-con-list-header
            - if theme_image_path('pro_header.png') && File.exists?(theme_image_path('pro_header.png'))
              = theme_image_tag('pro_header.png')
            - else
              = image_tag('chalk/pros.png') 

          %ul.m-point-list

        .m-pro-con-list-conpoints

          .m-pro-con-list-header
            - if theme_image_path('con_header.png') && File.exists?(theme_image_path('con_header.png'))
              = theme_image_tag('con_header.png')
            - else
              = image_tag('chalk/cons.png') 

          %ul.m-point-list

      .m-reasons-peer-points
        .m-reasons-peer-cons-heading
          %h3
            cons by other users
          .sublead
            add good ones to your list

        .m-reasons-peer-cons
          %ul.m-point-list


    .m-stance
      %h2.m-position-heading
        After weighing the pros and cons, I vote to... 
      %table
        %tr
          %td.m-stance-label-support
            %div
              Support

          %td.m-stance-slider-container
            
          %td.m-stance-label-oppose
            %div
              Oppose
        %tr
          %td.m-stance-label-neutral{ :colspan => 3 }
            Neutral



    .stance.position_statement.hide
      %label{ :name => :explanation }
        Optional statement that summarizes your thoughts
      %textarea{ :name => :explanation}

  .l-message-speaker
    = image_tag current_theme_image_path("you.png")



%script{ :type => "text/template", :id => "tpl_summary" }      
  .l-message-recipient
  .l-message-body.right.m-results-responders.summary{ :style => " {{ tile_size==50 ? '' : 'min-height:160px;' }} "}
    .t-bubble
      &#9700;


    %h3.m-summary-heading
      These are the most compelling pros and cons we've discussed thus far: 
      
    .m-summary-top-pro
      (( if(!top_pro) { ))
      .text
        No pro arguments added yet.
      (( } else { ))

      %span.avatar{ :'data-id' => "{{top_pro.user_id}}", :id => "avatar-{{top_pro.user_id}}", :alt => "{{ConsiderIt.users[top_pro.user_id].get('name')}}'s profile picture", :class => "author"}

      .m-top-pro-body.left
        .t-bubble
          &#9700;
        .text
          {{top_pro.nutshell}}
      (( } ))

    .m-summary-top-con
      (( if(!top_con) { ))
      .text
        No con arguments added yet.
      (( } else { ))
      .m-top-con-body.l-message-body.right
        .t-bubble
          &#9700;
        .text
          {{top_con.nutshell}}

      %span.avatar{ :'data-id' => "{{top_con.user_id}}", :id => "avatar-{{top_con.user_id}}", :alt => "{{ConsiderIt.users[top_con.user_id].get('name')}}'s profile picture", :class => "author"}

      (( } ))
    .clear  

  .l-message-speaker.l-group-container
    (( _.each($.parseJSON(participants), function(p){ ))
    %span.avatar{ :'data-id' => "{{p}}", :alt => "{{ConsiderIt.users[p].get('name')}}'s profile picture", :id => "avatar-{{p}}", :class => "participant", :style => "height:{{tile_size}}px; width:{{tile_size}}px;"}
    (( }); ))

    %a.results{:href => "{{Routes.proposal_path( long_id )}}"}
      View results

%script{ :type => "text/template", :id => "tpl_results" }      
  .l-message-recipient

  .l-message-body.right.m-results-responders
    .t-bubble
      &#9700;

    %h3
      This is what we believe and why. Hover over the bars to find common ground and identify sticking points.

    .m-histogram

      .m-histogram-label-support
        Supporters

      (( _.each(histogram.breakdown, function(bar, bucket){ ))


      .m-histogram-bar{ :style => "height: {{bar.full_size}}px;", :bucket => "{{bucket}}", :id => "bucket-{{bucket}}"}

        .m-bar-close
          x

        (( if (bar.positions.length > 0) { ))
        %ul.m-bar-people
          (( _.each( _.range(bar.num_ghosts), function(ghost){  ))
          %li.m-bar-ghost{ :style => "height:{{bar.tile_size}}px; width:{{bar.tile_size}}px;"}
          (( }); ))

          (( _.each(bar.positions, function(position) { ))
          (( var user = ConsiderIt.users[position.get('user_id')]; ))
          (( if (user){ ))

          (( var has_explanation = position.get('explanation') && position.get('explanation').length > 0, expl_clss = has_explanation ? 'm-person-has-explanation' : 'm-person-has-no-explanation'; ))

          %li.m-bar-person{:class=>"bucket-{{bucket}} {{expl_clss}}", :id=>"user-{{user.id}}", :user => "{{user.id}}"}
            %span.avatar{ :'data-id' => "{{user.id}}", :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture", :style => "height:{{bar.tile_size}}px; width:{{bar.tile_size}}px;"}   
                   
            .m-bar-person-details
              
              %strong
                {{user.get('name')}}

              (( if ( has_explanation ) { ))
              %blockquote.m-bar-person-explanation
                {{  position.get('explanation') }}
              (( } ))
          (( } ))
          (( }); ))
        (( } ))

      (( }); ))
      .m-histogram-label-oppose
        Opposers


    .m-results-pro-con-list{ :class => "static" }

      %h3.m-results-pro-con-list-who
        .m-results-pro-con-list-who-others
        .m-results-pro-con-list-who-all
          All Factors
          .filters
            %span.label
              order by 

            %a.point_filter.selected{ :'data-filter' => 'score'}
              Popularity
            %a.point_filter{ :'data-filter' => 'appeal'}
              Most Unifying
            %a.point_filter{ :'data-filter' => 'divisiveness'}
              Most Divisive

      .m-pro-con-list-propoints             
        .m-pro-con-list-header
          - if theme_image_path('pro_header.png') && File.exists?(theme_image_path('pro_header.png'))
            = theme_image_tag('pro_header.png')
          - else
            = image_tag('chalk/pros.png') 
        %ul.m-point-list
   

      .m-pro-con-list-conpoints

        .m-pro-con-list-header
          - if theme_image_path('con_header.png') && File.exists?(theme_image_path('con_header.png'))
            = theme_image_tag('con_header.png')
          - else
            = image_tag('chalk/cons.png') 

        %ul.m-point-list

  .l-message-speaker.l-group-container
    (( _.each($.parseJSON(participants), function(p){ ))
    %span.avatar{ :'data-id' => "{{p}}", :id => "avatar-{{p}}", :alt => "{{ConsiderIt.users[p].get('name')}}'s profile picture", :class => "participant", :style => "height:{{tile_size}}px; width:{{tile_size}}px;"}
    (( }); ))


= render :partial => 'backbone/templates_user'