

%script{ :type => "text/template", :id => "tpl_point_in_list" }      
        
  .body.compact_body

    .bullet_point
      &#8226;
          
    %p.point_text.nutshell.reader
      %span.text
        {{adjusted_nutshell}}
        %span.details_indicator
          (&#8230;)
    
      %span.nested_user
        (( if(user.name) { ))
        {{user.name}}
        (( } else if(is_you) { ))
        You
        (( } else { ))
        Anonymous
        (( } ))

  .operations

    .read_more
      %a.toggle.more.point_text_toggle.point_operation{ :href => "{{Routes.proposal_point_path(proposal.long_id, id)}}" }
        
        {{ comment_count == 1 ? "1 comment" : comment_count + " comments"}}

    %a.include
      Add
    %a.remove
      Remove

  .clear

%script{ :type => "text/template", :id => "tpl_newpoint" }      
  
  .newpoint
    .newpointbutton
      .bullet_point
        &#8226;
    
      %a{ :class => "{{is_pro ? 'pro' : 'con'}} write_new" }
        Write a new {{is_pro ? "pro" : "con"}} point

      %div{ :class => "pointform {{is_pro ? 'pro' : 'con'}} newpointform" }

        %div{:id => "pointform-{{is_pro ? 'pro' : 'con'}}"}

          .form_proper

            .point-title-group.inlined
              = text_area_tag :nutshell, nil, :placeholder => 'Summarize your point (required)', :cols => 24, :class => "point-title is_counted", :required=>true, :maxlength => 140, :pattern => "^.{3,}"
              %span.count
                140
              .clear

            .point-description-group
              = text_area_tag :text, nil, :placeholder => "Write a longer description (optional)", :title => "Write a longer description (optional)", :cols => 24, :class => "autoResize point-description"
              .clear

            .hide_name.fl{:title => 'We encourage you not to hide your name from other users. Signing your point with your name lends it more weight to other participants.'}
              = check_box_tag :hide_name
              = label_tag :hide_name, 'conceal your name'

            .point-submit.fr
              %input{ :type => 'submit', :value => 'Done', :class => "button {{is_pro ? 'pro' : 'con'}}"}
              
            .point-cancel
              %a.new_point_cancel
                cancel
          .clear

%script{ :type => "text/template", :id => "tpl_pointlistpagination" }
  #pagination

    %a.pager.backward
      (( if(start_record != 1){ ))
      &#9650;
      (( } ))

    .count

      %span#start_record
        {{start_record}}
      &ndash;
      %span#end_record
        {{end_record}}
      = surround ' ' do
        of
      %span#total_records
        {{total_records}}

    %a.pager.forward
      (( if(end_record != total_records){ ))
      &#9660;
      (( } ))


%script{ :type => "text/template", :id => "tpl_point_details" }   
  (( var point_creator = false, has_details = false, hide_name = false; ))

  .point{ :class => "point  commentable" }
    %a.close
      Close details

    %ul.header
      %li.type.first
        = "{{is_pro ? 'Pro' : 'Con'}}" 

    (( if( !hide_name && user ){ ))
    .avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture", :class => "author"}
    (( } ))


    .body

      (( if (point_creator) { ))
      .point_text.nutshell.nutshell_edit
        -#= render :partial => 'points/make_editable', :locals => { :point => point, :field => :nutshell, :sync_with => "#expanded .point_text.nutshell span.text", :validations => {:required => true, :maxlength => 140} }
      (( } else { ))
      .point_text.nutshell 
        {{ nutshell }} 
      (( } ))

      .point_text.full

        .details
          (( if (point_creator) { ))
          -#= render :partial => 'points/make_editable', :locals =>  { :point => point, :field => :text, :wysiwyg => false }        
          (( } else if (has_details) { ))
          {{text.replace('\r\n', '')}}
          (( } ))

      .nested_user
        (( if (hide_name) { ))
        anonymous
        (( } else if (user) { ))
        {{ user.get('name') }}
        (( } else { ))
        unknown
        (( } ))

    .point_operations
      (( if (published) { ))
      -#= render :partial => 'followable/follow', :locals => {:followable => point, :obj => [@proposal, point], :title => 'Get notifications when the point is updated or someone comments on it. You can easily unsubscribe later.'}
      (( } ))

      (( if (point_creator) { ))
      .edit
        %a.editpoint.point_operation.button
          Edit this point
      (( } ))
            
    .extra  
      
      .discuss    
        %h3.discussion_header    
          Discussion

        %ul.commentlist
          
    .clear


%script{ :type => "text/template", :id => "tpl_newcomment" }   
  %li.new_comment            
    .comment_body
      .body_row
        .user
          .avatar{ :id => "avatar-{{user.id}}", :alt => "your profile picture"}

        .text                                
          %ul.form
             
            %li.body
              %textarea#comment_body.is_counted{ :name => :body, :placeholder => 'Type your comment here...', :title => 'Type your comment here...' }
              %span.count
                1000

          - if current_user
            .point-pledge
              %p.note
                Thanks for being civil and upholding your pledge!

          %a.button.comment_submit
            Add comment

        .clear

    .signinrequired.hide
      You must 
      %a.signin_link
        sign in
      to leave a comment.



%script{ :type => "text/template", :id => "tpl_comment" }   
  .comment_body
    .body_row
      (( if( moderation_status == 0 ){ ))
      
      %i
        This comment has been hidden because it contains a personal attack, is inappropriate (e.g. advertising), or is wildly offtopic.

      ((} else { ))
      
      .text.comment_text   
        .body
          .avatar{ :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture"}

          {{body}}

          .username.exclude_from_reflect 
            &ndash; 
            %a{ :href => "{{Routes.profile_path(user.id)}}", :target => '_blank'}
              {{ user.get('name') }}

      (( } ))

  - if false && can_update
    .edit_comment
      %a
        edit
      .edit_form.hide
        -#= render :partial => 'commentable/make_editable', :locals => { :comment => comment, :validations => {:maxlength => 1000} }
        %a
          cancel

      .clear




- theme = Themes::ThemeDirectrep.find_by_account_id(current_tenant.id)
- rep_user = theme.user
- rep_position = nil

%script{ :type => "text/template", :id => "tpl_proposal" }


  %h2.question
    Should We {{title}}?

  .statement.proposing
    .speaker.proposer
      = image_tag current_theme_image_path("#{theme.rep_name.gsub(' ', '_').downcase}.jpg")

    .body.left.proposer
      .bubble 
        &#9700;   
      %p
        {{description}}

      .details
        (( if( long_description && $.trim(long_description) != '') { ))
        .long_description.extra
          .prompt
            Long Description
            %a.hidden
              show
          .full.hide
            {{ long_description }}
            %a.hidden
              show
        (( } ))

        (( if( additional_details && $.trim(additional_details) != '') { ))
        .additional.extra
          .prompt
            Fiscal impact statement
            %a.hidden
              show
          .full.hide
            {{ additional_details }}
            %a.hidden
              show
        (( } ))
    .listener

  .statement.responding
    .speaker.proposer.small
      = image_tag current_theme_image_path("#{theme.rep_name.gsub(' ', '_').downcase}.jpg")

    .body.left.proposer
      .bubble
        &#9700;
      (( var r = Math.floor(Math.random()*3); ))

      (( if(r==0){ ))
      -# if r == 0 #true || rep_position.nil?

      .empty
        I've not yet taken a stance
      (( } else if(r==1){ ))
      -# elsif r == 1 #true || proposal.active

      .rep_statement
        I'm still hoping to hear from more of you. In the meantime, these are 
        %a{ :style => "text-decoration: underline; cursor: pointer;"}
          my thoughts so far. 
      (( } else{ ))

      .rep_statement
        Based on your input and my considerations, I've decided that I support. Read my 
        = surround '', '.' do
          %a{ :style => "text-decoration: underline; cursor: pointer;"}
            full report
        Thanks!
      (( } ))        
  
  .social_media_ribbon

    %ul
      %li
        Help spread the word
      %li.action
        = image_tag 'fb.png'
      %li.action
        = image_tag 'tw.png'
      %li.action
        = image_tag 'link.png'
      %li
        Link to this discussion


%script{ :type => "text/template", :id => "tpl_your_action_craft"}
  .listener

  %a.body.you.your_action.right.join{ :href => "{{Routes.new_position_proposal_path( long_id )}}"}
    %span.bubble
      &#9700;

    //= image_tag current_theme_image_path("join.png")

    %span.text
      {{call}}

  .speaker.you
    = image_tag current_theme_image_path("you.png")

%script{ :type => "text/template", :id => "tpl_your_action_save"}
  .listener

  %a.body.you.your_action.right.submit
    %span.bubble
      &#9700;

    //= image_tag current_theme_image_path("join.png")

    %span.text
      {{call}}

  .speaker.you
    = image_tag current_theme_image_path("you.png")


%script{ :type => "text/template", :id => "tpl_position" }      
  .listener
  .body.right.you
    .bubble
      &#9700;


    %h2
      These are the pros and cons that I think are most important: 

    %table
      %tr
        %td.margin
          .heading.pros
            %h3.lead
              Pros by other users
            .sublead
              drag good ones to your list

          #peer_pros.inner_wrapper
            %ul.peer_points.point_list

        %td.slate

          .pro_con_list{ :id => "domain_self", :class => "dynamic has_other_points"}

            .slate
             
              %table
                %tr.point_columns
                  %td.full_column.pro_column#points_on_board_pro
                    #propoints.inner_wrapper
                      .pro_con_list_header.pro_header
                        .inner
                          - if theme_image_path('pro_header.png') && File.exists?(theme_image_path('pro_header.png'))
                            = theme_image_tag('pro_header.png')
                          - else
                            = image_tag('chalk/pros.png') 

                      %ul.point_list

                  %td.full_column.con_column#points_on_board_con 
                    #conpoints.inner_wrapper
                      .pro_con_list_header.con_header
                        .inner
                          - if theme_image_path('con_header.png') && File.exists?(theme_image_path('con_header.png'))
                            = theme_image_tag('con_header.png')
                          - else
                            = image_tag('chalk/cons.png') 

                      %ul.point_list

        %td.margin

          .heading.cons
            %h3.lead
              cons by other users
            .sublead
              drag good ones to your list

          #peer_cons.inner_wrapper
            %ul.peer_points.point_list


    .slide
      %h2
        After weighing the pros and cons, I have decided that I... 

      
      .rest.position

        %table.slider_table
          %tr
            %td.slider_label.left{:style => "font-size:1em;"}
              %div
                Support

            %td.slider_container
              
            %td.slider_label.right{:style => "font-size:1em;"}
              %div
                Oppose
          %tr
            %td.slider_label.center{ :colspan => 3 }
              Neutral



    .stance.position_statement.hide
      %label{ :name => :explanation }
        Optional statement that summarizes your thoughts
      %textarea{ :name => :explanation}

  .speaker.you
    = image_tag current_theme_image_path("you.png")



%script{ :type => "text/template", :id => "tpl_summary" }      
  .listener

  .body.right.public.summary{ :style => " {{ tile_size==50 ? '' : 'min-height:160px;' }} "}
    .bubble
      &#9700;


    %h3
      These are the most compelling pros and cons we've discussed thus far: 
      
    .top_points

      .top_point.pro
        (( if(!top_pro) { ))
        .text
          No pro arguments added yet.
        (( } else { ))

        -# %img.avatar-replace-small{ :width => 50, :height => 50, :'data-id' => "{{top_pro.user_id}}", :src => "{{window.PaperClip.get_avatar_url(ConsiderIt.users[top_pro.user_id], 'small')}}", :alt => "{{ConsiderIt.users[top_pro.user_id].get('name')}}'s profile picture", :class => "avatar author"}

        .avatar{ :'data-id' => "{{top_pro.user_id}}", :id => "avatar-{{top_pro.user_id}}", :alt => "{{ConsiderIt.users[top_pro.user_id].get('name')}}'s profile picture", :class => "author"}

        .top.body.left

          .bubble
            &#9700;

          .text
            {{top_pro.nutshell}}

        (( } ))
        .clear

      .top_point.con

        (( if(!top_con) { ))

        .text
          No con arguments added yet.
        (( } else { ))

        .top.body.right

          .bubble
            &#9700;

          .text
            {{top_con.nutshell}}

        .avatar{ :'data-id' => "{{top_con.user_id}}", :id => "avatar-{{top_con.user_id}}", :alt => "{{ConsiderIt.users[top_con.user_id].get('name')}}'s profile picture", :class => "author"}

        -#%img.avatar-replace-small{ :width => 50, :height => 50,  :'data-id' => "{{top_con.user_id}}", :src => "{{window.PaperClip.get_avatar_url(ConsiderIt.users[top_con.user_id], 'small')}}", :alt => "{{ConsiderIt.users[top_con.user_id].get('name')}}'s profile picture", :class => "avatar author"}

        (( } ))
        .clear

  .speaker.public
    .participants
      %ul
        (( _.each($.parseJSON(participants), function(p){ ))
        %li
          .avatar{ :'data-id' => "{{p}}", :alt => "{{ConsiderIt.users[p].get('name')}}'s profile picture", :id => "avatar-{{p}}", :class => "participant", :style => "height:{{tile_size}}px; width:{{tile_size}}px;"}

          -# %img.avatar-replace-small{ :'data-id' => "{{p}}", :alt => "{{ConsiderIt.users[p].get('name')}}'s profile picture", :src => "{{window.PaperClip.get_avatar_url(ConsiderIt.users[p], 'small')}}", :class => "avatar participant", :style => "height:{{tile_size}}px; width:{{tile_size}}px;"}
        (( }); ))

      %a.results{:href => "{{Routes.proposal_path( long_id )}}"}
        View results

%script{ :type => "text/template", :id => "tpl_results" }      
  .listener

  .body.right.public
    .bubble
      &#9700;

    %h3
      This is what we believe and why. Hover over the bars to find common ground and identify sticking points.

    .breakdown

      #histogram
        %table
          %tr
            %td.support
              Supporters

            (( _.each(histogram.breakdown, function(bar, bucket){ ))

            (( var full_clss = bar.positions.length == 0 ? 'noone' : 'some'; ))

            %td.bar_cell

              .bar.empty{ :style => "height: {{bar.empty_size}}px;"}

              .bar.full{ :style => "height: {{bar.full_size}}px;", :bucket => "{{bucket}}", :id => "bucket-{{bucket}}", :class => "{{full_clss}}"}

                .close
                  x

                .border_cover

                (( if (bar.positions.length > 0) { ))
                %ul.people_bar
                  (( _.each( _.range(bar.num_ghosts), function(ghost){  ))
                  %li{ :style => "visibility:hidden; float: right; height:{{bar.tile_size}}px; width:{{bar.tile_size}}px;"}
                  (( }); ))

                  (( _.each(bar.positions, function(position) { ))
                  (( var user = ConsiderIt.users[position.get('user_id')]; ))
                  (( if (user){ ))

                  (( var has_explanation = position.explanation && position.explanation.length > 0, expl_clss = has_explanation ? 'with_explanation' : 'no_explanation'; ))

                  %li.statement{:class=>"bucket-{{bucket}} {{expl_clss}}", :id=>"user-{{user.id}}", :user => "{{user.id}}"}
                    .view_statement
                      .avatar{ :'data-id' => "{{user.id}}", :id => "avatar-{{user.id}}", :alt => "{{user.get('name')}}'s profile picture", :class => "{{expl_clss}}", :style => "height:{{bar.tile_size}}px; width:{{bar.tile_size}}px;"}

                      .details
                        .position_author_name
                          {{user.get('name')}}

                        (( if ( has_explanation ) { ))
                        %blockquote.explanation
                          {{ position.explanation }}
                        (( } ))
                  (( } ))
                  (( }); ))
                (( } ))

            %li.clear
            (( }); ))
            %td.oppose
              Opposers

        #axis_arrow

    .opinions

      %table
        %tr

          %td.slate

            .pro_con_list{ :id => "domain_board", :class => "static"}

              .slate
                %h3.participant_connection
                  .others
                  .all
                    All Factors
                    .filters
                      %span.label
                        order by 

                      %a.point_filter.selected{ :'data-filter' => 'score'}
                        Popularity
                      %a.point_filter{ :'data-filter' => 'appeal'}
                        Most Unifying
                      %a.point_filter{ :'data-filter' => 'divisiveness'}
                        Most Divisive

               
                %table
                  %tr.point_columns
                    %td.full_column.pro_column#points_on_board_pro
                      #propoints.inner_wrapper
                        .pro_con_list_header.pro_header
                          .inner
                            - if theme_image_path('pro_header.png') && File.exists?(theme_image_path('pro_header.png'))
                              = theme_image_tag('pro_header.png')
                            - else
                              = image_tag('chalk/pros.png') 

                        %ul.point_list

                    %td.full_column.con_column#points_on_board_con 
                      #conpoints.inner_wrapper
                        .pro_con_list_header.con_header
                          .inner
                            - if theme_image_path('con_header.png') && File.exists?(theme_image_path('con_header.png'))
                              = theme_image_tag('con_header.png')
                            - else
                              = image_tag('chalk/cons.png') 

                        %ul.point_list

  .speaker.public
    .participants
      %ul
        (( _.each($.parseJSON(participants), function(p){ ))
        %li
          .avatar{ :'data-id' => "{{p}}", :id => "avatar-{{p}}", :alt => "{{ConsiderIt.users[p].get('name')}}'s profile picture", :class => "participant", :style => "height:{{tile_size}}px; width:{{tile_size}}px;"}
        (( }); ))


= render :partial => 'backbone/templates_user'