//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

- prompt ||= 'Read more and comment'

%li{ :id => "proposal_item-#{proposal.id}", :class => "proposal_item horizontal #{has_stance(proposal) ? 'finished' : 'not-finished'}" }

  %a{ :href => new_proposal_position_path(proposal.long_id), :title => "Think through proposal #{proposal.title}"}

    .title
      %span.body
        = proposal.title

      - if proposal.user
        %span.user_name
          &ndash;
          = proposal.user.username

    .prompt
      = prompt
    
    - if proposal==@proposal && hide_initially
      %a.show_proposal_description
        show details

  .completion.hide
    &#x2713;