-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- prompt ||= 'Read more and comment'
- completed = has_stance(proposal)

%li{ :id => "proposal_item-#{proposal.id}", :class => "proposal_item horizontal #{completed ? 'finished' : 'not-finished'}" }

  %a{ :href => new_proposal_position_path(proposal.long_id), :title => "Think through this proposal"}

    .title
      %span.body
        = proposal.title

      - if proposal.user
        %span.user_name
          &ndash;
          = proposal.user.username

    .prompt
      - if !completed
        = prompt
      - else
        Update your position
    
    - if proposal==@proposal && hide_initially
      %a.show_proposal_description
        show details

  .completion.hide
    &#x2713;