Hi #{@user.name},


#{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point for #{@point.option.category} #{@point.option.designator} that you included in your pro/con list. The point states that "#{@point.nutshell}". The comment says:


"#{@point.nutshell}"


Visit the #{@point.option.category} #{@point.option.designator} page [#{option_url(@point.option)}] to read the details, comment on this point and/or include it in your pro/con list. 


Thanks!


=================================
To unsubscribe to messages for #{@point.option.category} #{@point.option.designator}, visit the page linked to above, deselect the checkbox near the bottom of the page and save your position. 