:javascript
  option_stance_data = #{stance_fractions(@option)};
  option_id = #{@option.id};
  //for IE7 compatability
  protovis_stance_has_been_rendered = false;
  
%li.step.breakdown
  .head
    .operations
      -if @position && @position.published
        .you_slider
          = image_tag "slider.png", :title => "This is where you stand on #{@option.designator}."
          =link_to 'Modify your position', edit_option_position_path(@option, @position)
      -else
        =link_to 'submit your own review', new_option_position_path(@option), :class => "submit_a_position shadow_offset add_corner"

    %table.bars
      %tr
        %td
        %td.viz
          = render :partial => "options/slider_and_viz/stance_histogram"
        %td
              
      %tr.vizbase
        %td.first
          .inner
            Support
        %td.middle
          .pedestal
        %td.last
          .inner
            Oppose
  
  .position_marker.shadow_offset
    .triangle 
      &#x25C0;

    %strong
      Click a bar

    to filter the reviews below

%li.step.statement_carousel
  .head
    %h3.banner
      .fl
        Read and discuss reviews, displaying 
        %strong
          all reviewers
      .fr.display_count
        %span.showing
          #{@option.positions.length}
        #{"\/"}
        %span.total
          #{@option.positions.length}

        %span.hide
          [
          %a.show_all
            show all
          ]
      .clear

  .horizontal_carousel.horizontal
    .paginate.first
      %button.back  
    .carousel
      %ul
        - @option.positions.each do |position|
          = render :partial => "positions/statement/block", :locals => { :position => position }
                
    .paginate.last
      %button.forward.not_ajax
  .clear

%li.step.statements
  - @option.positions.each do |position|
    = render :partial => "positions/statement/show", :locals => { :position => position }

%li.step.ranked_points
  .explore#ranked_points   
    = render :partial => "options/pro_con_board", :locals => { :group_name => 'everyone', :group_id => 'all' }

- if @position
  :javascript
    $j('.you_slider').css('left', $j('.pedestal').position().left + (6 - #{@position.stance_bucket}) * 64.3 - 30 + 'px');
