#home

  = render :partial => "home/follow"

  #people  
    - rows = 5
    - users_per_row = 30

    - pics = User.unscoped.where('avatar_file_name IS NOT NULL')
    - users = pics.sample( [rows * users_per_row, pics.count].min )

    - (0..rows-1).each do |row|
      .row{:row => row}
        - users[row*users_per_row..(row+1)*users_per_row-1].each do |user|
          .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}

  #logo
    = image_tag current_theme_image_path "logo_large.png"



#active_proposals
  .banner
    %h1#tagline
      -# A living tapestry of California Voters' considerations
      
      A guide powered by the wisdom of #{current_tenant.identifier == 'cali' ? 'California' : 'Washington'} voters

    %h2.get_started
      Click a ballot measure below. Then decide for yourself, with the help of fellow voters.

      -#Or watch a 
        %a.video
          video tutorial.
  
  -# = render :partial => "proposals/new"
  = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false }

  -# = render :partial => "home/unlock_local"
  - if current_tenant.identifier == 'wash'

    #coming_soon
      .prompt
        Coming soon: Local measures &amp; fact-checking by The Seattle Public Library

:javascript
  $j(document).ready(function(){
    //var logo_cell = $j('#masthead .logo_cell').hide();

    $j('body').on('click', '#active_proposals a.video', function() { 
      video_window(450, 550, 'home/videos#console', 'LVG videos');
    });

    $j('#people').on('hover', '.img', function(e){
      
      if(e.type == 'mouseenter') {
        var to_hover = [];
        var idx = $j(this).index();
        var area = 2;

        var row = parseInt($j(this).parent().attr('row'));

        var first = Math.max(row-area,0);
        var rows = $j('#people').children();//.slice(first, row + area + 1);

        for (var i = 0; i < rows.length; i+=1) {
          first = Math.max(idx-area,0);
          var children = $j(rows[i]).children().slice(first, idx+area+1);
          for ( var j = 0; j < children.length; j+=1) {
            to_hover.push( children[j] );
          }
        }


        $j(to_hover).addClass('hovered');

      } else {
        $j(this).parent().parent().find('.img.hovered').removeClass('hovered');
      }

    });

    $j('a.old').click(function(){
      var is2010 = $j(this).hasClass('lvg2010'),
          $el = is2010 ? $j('#o2010') : $j('#o2011');

      $el.fadeToggle();

    });
    
  });



/ :javascript
/   $j('#tutorial').delegate('.nav ul a', 'click', function(){
/     if ( !$j(this).hasClass('selected')){
/       $j(this).parent().siblings('li').find('a').removeClass('selected');
/       var cls = $j(this).attr('class');
/       $j(this).addClass('selected');
/       $j(this).parents('.nav').siblings('.frame').find('> div')
/         .hide().filter('.' + cls).show();
/     }
/   });
