#home

  = render :partial => "home/follow"

  #people
    - rows = 5
    - users_per_row = 30
    - users = get_users(rows * users_per_row)
    - if users && users.length > 0.75 * rows * users_per_row
      - (0..rows-1).each do |row|
        .row{:row => row}
          - users[row*users_per_row..(row+1)*users_per_row-1].each do |user|
            .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}

  #logo
    = image_tag current_theme_image_path "logo_large.png"

  #background

  #value   
    .fl
      By the people. 
    .fr
      For the people.


       

#active_proposals
  .banner
    %h1#tagline
      A guide springing from the minds of #{current_tenant.identifier == 'cali' ? 'California' : 'Washington'} voters

    %h2.get_started
      Get started by clicking a ballot measure below. Or watch a 
      %a.video
        video tutorial.
  
  -# = render :partial => "proposals/new"
  = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false }

  - if @domain
    #zipcode_entered
      %span.unlocked
        - if (cnt = @domain.domain_maps.count) == 0
          According to our records, the #{@domain.name} area does not have any local measures on the ballot. 
        - else
          You can now access #{cnt} #{@domain.name} area #{cnt==1 ? 'measure' : 'measures'} likely to be on your ballot.
      .reset
        %a     
          Change your zip code.

        .resetform.hide
          = form_tag '/home/domain', :id => 'domain' do
            = text_field_tag "domain", '', :title => 'your zip code', :class => 'has_example'
            = submit_tag 'Change your zipcode', :class => 'button'
                
  - else
    #zipcode_entry
      //.triangle
      //  &#x25b2;

      .prompt
        Unlock your local measures:
      .zipform
        = form_tag '/home/domain', :id => 'domain' do
          %span.inlined
            = text_field_tag :domain, '', :placeholder => 'zip code', :title => 'your zip code'
          = submit_tag 'Set', :class => 'button'
      .clear

    :javascript
      $j(document).ready(function(){
        $j("input#domain").autocomplete({
          source: #{get_available_domains()},
          select: function(event, ui){
           /*$j.post("#{home_domain_path}", { domain: ui.item.value }, function(data){
            $j('#domain').append(data);
           });
           */
          }
        });
      });

:javascript
  $j(document).ready(function(){
    //var logo_cell = $j('#masthead .logo_cell').hide();

    $j('body').on('click', '#active_proposals a.video', function() { 
      video_window(450, 550, 'home/videos#console', 'LVG videos');
    });
  });

  $j('#people').on('hover', '.img', function(e){
    
    if(e.type == 'mouseenter') {
      var to_hover = [];
      var idx = $j(this).index();
      var area = 2;

      var row = parseInt($j(this).parent().attr('row'));

      var first = Math.max(row-area,0);
      var rows = $j('#people').children();//.slice(first, row + area + 1);

      for (var i = 0; i < rows.length; i+=1) {
        first = Math.max(idx-area,0);
        to_hover.push.apply(to_hover, $j(rows[i]).children().slice(first, idx+area+1));
      }


      $j(to_hover).addClass('hovered');

    } else {
      $j(this).parent().parent().find('.img.hovered').removeClass('hovered');
    }

  });

/ :javascript
/   $j('#tutorial').delegate('.nav ul a', 'click', function(){
/     if ( !$j(this).hasClass('selected')){
/       $j(this).parent().siblings('li').find('a').removeClass('selected');
/       var cls = $j(this).attr('class');
/       $j(this).addClass('selected');
/       $j(this).parents('.nav').siblings('.frame').find('> div')
/         .hide().filter('.' + cls).show();
/     }
/   });
