<div id="forgot_password"><h2>Resend unlock instructions</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Resend unlock instructions", :class => 'button' %></p>
<% end %>

<%= render :partial => "users/shared/links" %></div>