
%p
  #{@comment.user.name} commented on 
  %a{href: full_link(@proposal.slug, {selected: "%2Fpoint%2F#{@point.id}"}), style: 'font-weight: 700; color: #468EE5;'} a point
  - if @notification.event_type == 'comment_on_my_point'
    that you wrote:
  - else
    that you follow:

%p 
  %i{style: 'padding-left: 20px; display: block; border-left: 1px solid #eaeaea'}
    = strip_tags(@comment.body.gsub('</p><p>','\n').gsub('<br>', '\n'))
  

%p 
  The issue being discussed is 
  %a{href: full_link(@proposal.slug), style: 'font-weight: 700; color: #468EE5;'}
    = @proposal.name


%a{href: full_link(@proposal.slug, {selected: "%2Fpoint%2F#{@point.id}"}), style: 'font-weight: 700; color: #468EE5;'}
  Read and discuss this comment

= content_for :footer do
  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this point'}
