- aarp = false
- theme = Themes::ThemeDirectrep.find_by_account_id(current_tenant.id)
- cache ['theme_body', current_tenant, theme] do 

  - if false && Rails.env.development?
    = render :partial => "shared/dev_tools"      


  .l-content-wrap.t-intro-wrap
    - rep_user = theme.user
      
    .t-dr-mock-dialogue

      .l-message-speaker.rep
        = image_tag current_tenant.managing_account.avatar.url(:large)

      .l-message-body
        .rep_statement.left
          = render :partial => "shared/bubble", :locals => {:left => true, :down => false}

          .m-proposal-description-head
            %h1.t-dr-heading
              - if aarp
                = image_tag current_theme_image_path("aarp_logo.png")
                = image_tag current_theme_image_path("logo.png")

              - else
                %span.dialogue
                  = current_tenant.header_text

            .m-proposal-description-details
              = current_tenant.header_details_text
              



  #m-proposals-container
    %ul.m-proposal-list