.full_statement.hide{:id=>"user-#{position.user_id}-full"}
  .wrapper
    .userid.hide
      #{position.user_id}
    %a.close
      close
      
    .textblock
      .username
        = h position.user.name    
      .stance
        %span.stance_name  
          #{position.stance_name}: 
        #{position.stance_long}

      .prose
        = h simple_format(position.explanation)
    .clear

  = render :partial => 'comments/discussion', :locals => { :comments => position.comments.count > 0 ? position.comments : [], :commentable => position, :context => 'position'}