- if position.user
  .position_statement.hide{:id=>"user-#{position.user_id}-full", :class => "commentable"}
    .wrapper
      .userid.hide
        #{position.user_id}
      %a.close
        close
        
      .textblock
        .username
          = h position.user.username    
        .stance
          %span.stance_name  
            #{position.stance_name}: 
          #{position.stance_long}

        .prose
          = h simple_format(position.explanation)
        
        .important_points
          %a.show
            Show #{position.user.first_name}'s pro and con considerations
          %a.hide
            Hide these points
      .clear

    = render :partial => 'comments/discussion', :locals => { :comments => position.comments.count > 0 ? position.comments : [], :commentable => position, :context => 'position'}