%li.point_in_list_other.point_in_list{ :id => "point_in_list_other-#{point.id}", :class => { false => 'con', true => 'pro'}[point.is_pro] }
  %table
    %tr
      - if !point.is_pro
        %td.include_point.left
          .include.left
            = render :partial => "points/inclusions/new", :locals => { :point => point, :is_from_other_list => 1 }
      
      %td.body      
        .username
          by
          = h point.user.username
                      
        .point_text.nutshell 
          - if point.nutshell.length > 0
            = h point.nutshell
          - else
            = h point.text[0,137]
            - if point.text.length > 137
              
              
        .point_text.full
          = h point.text

        - if point.text and point.text.length > 0
          .read_more
            %a.toggle.more.point_text_toggle
              read more
            %a.toggle.less.hide.point_text_toggle
              hide rest
  
      - if point.is_pro
        %td.include_point.right
          .include.right
            = render :partial => "points/inclusions/new", :locals => { :point => point, :is_from_other_list => 1 }

:javascript
  set_more_less_text_toggle("#point_in_list_other-#{point.id}", #{point.id}, #{@option.id});
  $j('#point_in_list_other-#{point.id}').corner('all 5px');