- link = dashboard_email_notifications_url(:host => @host, :u => @user.email, :t => ApplicationController.arbitrary_token("#{@user.email}#{@user.unique_token}#{@options[:current_subdomain].name}" ) )

To unsubscribe#{description}: #{link}