

%p.head
  #{@user.first_name}, 

  - if @notification_type == 'your point'
    #{@comment.user.name} commented on your #{@point.is_pro ? 'pro' : 'con'} point. 

  - elsif @notification_type == 'participant'
    #{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point that you also commented on. 

  - elsif @notification_type == 'included point'

    #{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point that you follow.

  - elsif @notification_type == 'lurker'

    #{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point that you follow.

%p 
  The new comment: 
  .object
    &ldquo;#{strip_tags(@comment.body.gsub('</p><p>','\n').gsub('<br>', '\n'))}&rdquo;

%p 
  The #{@point.is_pro ? 'pro' : 'con'} point:
  .object
    &ldquo;#{link_to @point.nutshell, "#{@host}/#{@proposal.long_id}/?selected=%2Fpoint%2F#{@point.id}&z=1"}&rdquo;

%p 
  The issue: 
  .object
    &ldquo;#{link_to @proposal.name, "#{@host}/#{@proposal.long_id}"}&rdquo;

.action_call
  .rest
    .call
      = link_to 'Read and discuss further', "#{@host}/#{@proposal.long_id}/?selected=%2Fpoint%2F#{@point.id}&z=1"

= content_for :footer do

  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this point'}
