

%p
  - if @notification_type == 'your point'
    #{@comment.user.name} commented on 
    = succeed ':' do
      %a{href: "#{@subdomain.host_with_port}/#{@proposal.slug}/?selected=%2Fpoint%2F#{@point.id}&z=1", style: 'font-weight: 700; color: #468EE5;'} your point

  - elsif @notification_type == 'participant'
    #{@comment.user.name} commented on 
    %a{href: "#{@subdomain.host_with_port}/#{@proposal.slug}/?selected=%2Fpoint%2F#{@point.id}&z=1", style: 'font-weight: 700; color: #468EE5;'} a point
    that you also commented:

  - elsif ['included point', 'lurker'].include?(@notification_type)
    #{@comment.user.name} commented on 
    %a{href: "#{@subdomain.host_with_port}/#{@proposal.slug}/?selected=%2Fpoint%2F#{@point.id}&z=1", style: 'font-weight: 700; color: #468EE5;'} a point
    that you follow:

%p 
  %i{style: 'padding-left: 20px; display: block; border-left: 1px solid #eaeaea'}
    = strip_tags(@comment.body.gsub('</p><p>','\n').gsub('<br>', '\n'))
  

%p 
  The issue being discussed is 
  %a{href: "#{@subdomain.host_with_port}/#{@proposal.slug}", style: 'font-weight: 700; color: #468EE5;'}
    = @proposal.name


%a{href: "#{@subdomain.host_with_port}/#{@proposal.slug}/?selected=%2Fpoint%2F#{@point.id}&z=1", style: 'font-weight: 700; color: #468EE5;'}
  Read and discuss this comment

= content_for :footer do

  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this point'}
