

%p.head
  #{@user.first_name},

  - if @notification_type == 'your proposal'

    #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point for your proposal.

  - elsif @notification_type == 'opinion submitter'

    #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point on a proposal you follow. 

  - elsif @notification_type == 'lurker'

    #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point on a proposal you follow. 

%p 
  The new point:
  .object
    &ldquo;#{link_to @point.nutshell, "#{@host}/#{@proposal.long_id}/?selected=%2Fpoint%2F#{@point.id}&z=1"}&rdquo;

%p 
  The proposal: 

  .object
    &ldquo;#{link_to @proposal.title, "#{@host}/#{@proposal.long_id}/?z=1"}&rdquo;

.action_call
  .rest
    .call
      = link_to 'Read and discuss further', "#{@host}/#{@proposal.long_id}/?selected=%2Fpoint%2F#{@point.id}&z=1"

= content_for :footer do
  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}
  