

%p
  - if @notification_type == 'your proposal'

    #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point for your proposal:

  - elsif @notification_type == 'opinion submitter'

    #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point on a proposal you follow:

  - elsif @notification_type == 'lurker'

    #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point on a proposal you follow:

%p 
  %i{style: 'padding-left: 20px; display: block; border-left: 1px solid #eaeaea'}
    = strip_tags(@point.nutshell.gsub('</p><p>','\n').gsub('<br>', '\n'))


%p 
  The issue being discussed is 
  %a{href: "#{@host}/#{@proposal.slug}", style: 'font-weight: 700; color: #468EE5;'}
    = @proposal.name


%a{href: "#{@host}/#{@proposal.slug}/?selected=%2Fpoint%2F#{@point.id}&z=1", style: 'font-weight: 700; color: #468EE5;'}
  Read and discuss this point


= content_for :footer do
  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}
  