

Hi #{@user.first_name},
= "\r\n"

- if @notification_type == 'your proposal'

  #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point for your proposal "#{@point.proposal.title}":

- elsif @notification_type == 'opinion submitter'

  #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}":

- elsif @notification_type == 'lurker'

  #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}":

= "\r\n"
"#{@point.nutshell}"
= "\r\n"

Read and discuss further: #{proposal_url(@proposal.long_id, :host => @host)}
= "\r\n"

\----

= render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}


= "\r\n"
#{@options[:app_title]} is powered by http://consider.it