

- num_opinions = @proposal.opinions.published.count
- stance_breakdown = @proposal.stance_fractions
- barheight = 100
- support_pole = @proposal.slider_left && @proposal.slider_left.length > 0 ? @proposal.slider_left : 'Supporters'
- oppose_pole = @proposal.slider_right && @proposal.slider_right.length > 0 ? @proposal.slider_right : 'Opposers'

%p.intro
  %strong
    = succeed ' ' do
      #{num_opinions} 
  people have now weighed in on 
  - if @proposal.user_id
    = surround ' ', '\'s proposal '  do 
      %span.user_name=@proposal.user.username 
  %span.object
    "#{link_to @proposal.title, "#{@host}/#{@proposal.long_id}"}"

- height_scaler = stance_breakdown.max
- user_opinion = @user.opinions.published.where(:proposal_id => @proposal.id).first

- if num_opinions < 10
  
  .text_supporters

    %table
      %tr
        %th
          Support
        %td
          - users = @proposal.opinions.published.where(:stance_segment => 6).map {|x| x.user.short_name}.compact
          - users += @proposal.opinions.published.where(:stance_segment => 5).map {|x| x.user.short_name}.compact
          = users.join(', ')
      %tr
        %th
          Lean support
        %td
          - users = @proposal.opinions.published.where(:stance_segment => 4).map {|x| x.user.short_name}.compact
          = users.join(', ')

      %tr
        %th
          Neutral
        %td
          - users = @proposal.opinions.published.where(:stance_segment => 3).map {|x| x.user.short_name}.compact
          = users.join(', ')
      %tr
        %th
          Lean oppose
        %td
          - users = @proposal.opinions.published.where(:stance_segment => 2).map {|x| x.user.short_name}.compact
          = users.join(', ')
      %tr
        %th
          Oppose
        %td
          - users = @proposal.opinions.published.where(:stance_segment => 1).map {|x| x.user.short_name}.compact
          - users += @proposal.opinions.published.where(:stance_segment => 0).map {|x| x.user.short_name}.compact
          = users.join(', ')

- else
  .histogram
    %table
      %tr
        %td

        - stance_breakdown.reverse.each_with_index do |segment_percentile, index| 
          - height = segment_percentile/height_scaler

          %td.bar_cell
            .bar.empty{ :style => "height: #{barheight - height * barheight}px;"}

            .bar.full{ :style => "height: #{height * barheight}px;"}

        %td
      %tr.histogram_arrow
        %td.support
          = support_pole

        - stance_breakdown.reverse.each_with_index do |segment_percentile, index| 
          %td.spanner
            - if user_opinion && user_opinion.stance_segment == 6 - index
              .personal_opinion.update
                #{link_to 'You', new_opinion_proposal_url(@proposal.long_id)} &#8593;
                  
        %td.oppose
          = oppose_pole

- notable_points = @proposal.notable_points
- if notable_points
  %table.notable_points
    %tr
      %td.notable_point.supporter{:valign => 'top'}       
        .notable_header
          Most important to supporters
        .object
          &ldquo;#{link_to notable_points[:important_for_supporters].nutshell, point_url(notable_points[:important_for_supporters], :host => @host)}&rdquo;
          .user_name
            &ndash; #{notable_points[:important_for_supporters].user.username}

      %td.notable_point.opposer{:valign => 'top'}          
        .notable_header
          Most important to opposers
        .object
          &ldquo;#{link_to notable_points[:important_for_opposers].nutshell, point_url(notable_points[:important_for_opposers], :host => @host)}&rdquo;
          .user_name
            &ndash; #{notable_points[:important_for_opposers].user.username}

    %tr
      %td.notable_point.common{:colspan => 2}
        .notable_header
          Common ground for supporters and opposers
        .object
          &ldquo;#{link_to notable_points[:common].nutshell, point_url( notable_points[:common], :host => @host)}&rdquo;
          .user_name
            &ndash; #{notable_points[:common].user.username}        

.action_call.prominent
  .rest
    .call.prominent
      = link_to 'Explore & discuss the proposal', "#{@host}/#{@proposal.long_id}"
    .after
      The next update will be sent after #{@next_aggregate} people have weighed in.

.host
  #{@host}
  
= content_for :footer do

  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}

