

%p.head
  #{@user.first_name},

  - if @notification_type == 'your proposal'

    #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point for your proposal.

  - elsif @notification_type == 'opinion submitter'

    #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point on a proposal you follow. 

  - elsif @notification_type == 'lurker'

    #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point on a proposal you follow. 

%p 
  The new point:
  .object
    &ldquo;#{link_to @point.nutshell, proposal_url(@proposal.long_id, :host => @host)}&rdquo;

%p 
  The proposal: 

  .object
    &ldquo;#{link_to @proposal.title, proposal_url(@proposal.long_id, :host => @host)}&rdquo;

.action_call
  .rest
    .call
      = link_to 'Read and discuss further', proposal_url(@proposal.long_id, :host => @host)

= content_for :footer do
  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}
  