-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- phil = current_tenant.identifier.include?('phil') || current_tenant.identifier.include?('dodds')
- style = 'horizontal'
- hide_initially = false

#home
  #flag
    = image_tag current_theme_image_path("flag.png")
    .planks
      .plank.short
      .plank.short
      .plank.short
      .plank
      .plank
      .plank
      .plank

  #paper{ :class => phil ? 'phil' : 'jeremy' }

    .subheader

      - if phil
        &hellip;if you 
        = succeed ' ' do
          %a{:href => 'http://www.phildoddsforcongress.com', :title => 'Phil Dodd\'s candidate website'} elect me
        as U.S. House Representative of Florida District 3
      - else
        &hellip;if you 
        = succeed ' ' do
          %a{:href => 'http://vermontelection.org/', :title => 'Jeremy Hansen\'s candidate website'} elect me 
          as Vermont State Senator for Washington County
      = render :partial => "home/follow"
      
    #proposals

      = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false, :prompt => 'Vote on this proposal' }

      - if current_user && current_user.is_admin?
        = render :partial => "proposals/new", :locals => { :prompt => 'Add new proposal'}

    #elect
      - if phil
        %span.label
          Help elect Phil to make this happen!
        %span.star
          &#9733;
        = succeed ' ' do
          %a{ :href => 'http://www.phildoddsforcongress.com/'} website
        %span.star
          &#9733;
        = succeed ' ' do
          %a{ :href => 'https://phildoddsforcongress.nationbuilder.com/donate_to_democracy' } donate    
        %span.star
          &#9733;
        = succeed ' ' do
          %a{ :href => 'http://www.phildoddsforcongress.com/volunteer' } volunteer
        %span.star
          &#9733;
        = succeed ' ' do
          %a{ :href => 'http://www.facebook.com/PhilDoddsForCongress' } facebook
        %span.star
          &#9733;

      - else
        %span.label
          Help elect Jeremy to make this happen!
        %span.star
          &#9733;
        = succeed ' ' do
          %a{ :href => 'http://vermontelection.org/'} website
        %span.star
          &#9733;
        = succeed ' ' do

          %a{ :href => 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CLAT2DNV3EVK6' } donate    
        %span.star
          &#9733;  
        = succeed ' ' do

          %a{ :href => 'mailto:jeremy@vermontelection.org?subject="I want to volunteer"' } volunteer
        %span.star
          &#9733;
           
        = succeed ' ' do
          %a{ :href => 'http://www.facebook.com/jeremyhansen2012' } facebook
        %span.star
          &#9733;

