- theme = Themes::ThemeDirectrep.find_by_account_id(current_tenant.id)
- rep_user = theme.user

#homepage
  
  #introduction

    .head.single
      %h1.banner
        %span.rep
          = theme.rep_name
        %span.dialogue
          wants to hear from
        %span.constituency
          You

    .rep
      .img
        = image_tag current_theme_image_path("#{theme.rep_name.gsub(' ', '_').downcase}.jpg")
      .about
        = theme.rep_about
      .links
        %a
          website 
        ★
        %a
          twitter
        ★ 
        %a
          facebook

    .dialogue
      .bubble.rep_statement.left
        %strong
          Tell me what you think about the issues below. 
        I want to be able to represent the residents of Framingham and Ashland well as we consider these issues in the State House. 

      .bubble.constituent_statement.longer.right
        Politicians don't care what we think!

      .clear
      .bubble.constituent_statement.shorter.right
        Why should we spend the time?

      .clear
      .bubble.rep_statement.left
        %strong
          I promise to post a response to your concerns.
        Your opinions help shape how I look at these important issues for our community. I care what you think.

    .constituency
      .people  
        - cols = 6
        - rows = 8
        - pics = User.unscoped.where('avatar_file_name IS NOT NULL')
        - users = pics.sample( [cols*rows, pics.count].min )

        - users.each do |user|
          = image_tag image_path(user.avatar.url(:small))

  #proposals
    %ul.proposallist

