#description{ :class => "#{hide_initially ? 'hiding' : ''}"}
  = render :partial => "options/blocks/strip", :locals => { :style => 'horizontal', :hide_initially => hide_initially }

  .pic

  .description_wrapper
    .init_text
      %h2.locality
        = @option.domain
        = @option.category
        = @option.designator
        
      %h1.initiative_name
        #{@option.name.html_safe}

    .full_text
      - for i in @option.format_description
        %p.initiative_desc_point= h i.html_safe
    
    - if @option.long_description && @option.long_description.strip != ''
      .long_description
        .prompt
          Long Description
          %a.hidden
            show
        .full.hide
          = @option.long_description.html_safe

    - if @option.additional_details && @option.additional_details.strip != ''
      .additional
        .prompt
          Fiscal impact statement
          %a.hidden
            show
        .full.hide
          = @option.additional_details.html_safe


  .clear

  - if @option.url && @option.url.strip != ''
    #full_desc_block
      =link_to "read the official measure", @option.url, :title => "Visit the official listing on the state's website", :target => '_blank'

