- if group_name == 'everyone'
  %h3  
    Key overall points for #{@option.designator}
  .extra  
    The most popular points overall.

  .filters
    %a#show_self.show_group
      show
      %span.italic
        your
      pros and cons

- elsif group_name == 'self'
  %h3  
    Important points for you on #{@option.designator}. 
  .extra  
    Click the "Update your stance" button to add to or remove points from your list.

  .filters
    %a#show_popular.show_group
      show overall key points


- else
  %h3
    Key points for those who 
        
    %span.group
      = group_name
      
    #{@option.designator}      
    
  .filters
    %a#show_popular.show_group
      show overall key points

    %a#show_self.show_group
      show
      %span.italic
        your
      pros and cons

        
  .extra
    Points often included in the positions of those who #{group_name} #{@option.reference}.    

.position_container
   

  .points_self#points_self_pro
    .points_list_header
      = render :partial => "points/column/pagination/block", :locals => { :points => @pro_points, :is_pro => true, :bucket => @bucket, :page => 1, :mode => 'board', :column_selector => "#points_self_pro .inner", :prev => true}     
    .inner
      = render :partial => "points/column/all", :locals => { :points => @pro_points, :is_pro => true }
    .points_list_header
      = render :partial => "points/column/pagination/block", :locals => { :points => @pro_points, :is_pro => true, :bucket => @bucket, :page => 2, :mode => 'board', :column_selector => "#points_self_pro .inner", :prev => false}    
          
  .points_self#points_self_con 
    .points_list_header
      = render :partial => "points/column/pagination/block", :locals => { :points => @con_points, :is_pro => false, :bucket => @bucket, :page => 1, :mode => 'board', :column_selector => "#points_self_con .inner", :prev => true}       
    .inner
      = render :partial => "points/column/all", :locals => { :points => @con_points, :is_pro => false }
    .points_list_header
      = render :partial => "points/column/pagination/block", :locals => { :points => @con_points, :is_pro => false, :bucket => @bucket, :page => 2, :mode => 'board', :column_selector => "#points_self_con .inner", :prev => false}          

  .clear 

:javascript
  $j('a#show_popular').click(function() {ConsiderIt.positions.stance_group_clicked('all', #{@option.id});});
  $j('a#show_self').click(function() {ConsiderIt.positions.stance_group_clicked('self', #{@option.id});});

