- if group_name == 'everyone' || group_name == 'all'
  %h3  
    Key overall points for #{@option.designator}
  .extra  
    The most popular points overall.

  .filters
    %a#show_self.show_group
      show
      %span.italic
        your
      pros and cons

- elsif group_name == 'self'
  %h3  
    Important points for you on #{@option.designator}. 
  .extra  
    Click the "Update your stance" button to add to or remove points from your list.

  .filters
    %a#show_popular.show_group
      show overall key points


- else
  %h3
    Key points for those who 
        
    %span.group
      = group_name
      
    #{@option.designator}      
    
  .filters
    %a#show_popular.show_group
      show overall key points

    %a#show_self.show_group
      show
      %span.italic
        your
      pros and cons

        
  .extra
    Points often included in the positions of those who #{group_name} #{@option.reference}.    

.position_container
   

  .points_board#points_on_board_pro
    .points_list_header

    .carousel
      = render :partial => "points/column", :locals => { :points => @pro_points, :is_pro => true, :context => 'board' }
    
    .point_list_footer
      = render :partial => "points/pagination_block", :locals => { :points => @pro_points, :is_pro => true, :bucket => @bucket, :page => @page, :mode => 'board', :column_selector => "#points_other_pro", :both => true} 

  .points_board#points_on_board_con 
    .points_list_header

    .carousel
      = render :partial => "points/column", :locals => { :points => @con_points, :is_pro => false, :context => 'board' }

    .point_list_footer
      = render :partial => "points/pagination_block", :locals => { :points => @con_points, :is_pro => false, :bucket => @bucket, :page => @page, :mode => 'board', :column_selector => "#points_other_con", :both => true} 

  .clear 

:javascript
  $j('a#show_popular').click(function() {ConsiderIt.positions.stance_group_clicked('all', #{@option.id});});
  $j('a#show_self').click(function() {ConsiderIt.positions.stance_group_clicked('self', #{@option.id});});

