.action_sidebar.hide
  - if @position
    .take_stand
      %a.update_stance1{ :href => edit_option_position_path(@option, @position), :title => "Update your stance and/or your pro/con list."}
        = image_tag "update_position.png", :alt => "Click to update your stance on #{@option.reference}"
  
  - else
    .take_stand
      .call
        What do 
        %span.italic
          you
        think about #{@option.designator}?
      .button
        %a.take_stance1.add_qtip{ :href => new_option_position_path(@option), :title => "Collect your thoughts and make your voice heard by composing a pro/con list and taking stand on #{@option.designator}"}
          = image_tag "take_stand.png", :alt => "Contribute by taking a stance and writing a pro/con list on #{@option.designator}"

  - if @user && @user.admin?
    %a.call.rate_point_similarity{ :href => new_option_point_similarity_path(@option) }
      Help compare points
      
:javascript
  $j(document).ready(function(){
    $j('.action_sidebar').slideDown('slow');
  });
