:javascript
  option_stance_data = #{stance_fractions(@option)};
  option_id = #{@option.id};
  //for IE7 compatability
  protovis_stance_has_been_rendered = false;
  
%li.step.breakdown
  .head
    %h3.banner
      Now explore a breakdown of what other voters feel about #{@option.designator}!

    .extra
      %strong
        Click on a bar 
      to see the pros and cons which that voter segment finds most important.
  
    - if @position
      .you_slider
        = image_tag "slider_you.png", :title => "This is where you stand on #{@option.designator}."
    - else
      .you_slider.call
        %a.add_qtip.take_stand2{ :href => new_option_position_path(@option), :title => "Click to use the Living Voters Guide to collect your thoughts and make your voice heard on #{@option.designator}"}
          = image_tag "take_stand_small.png", :alt => "Help write the Living Voters Guide by taking a stance and writing a pro/con list on #{@option.designator}"
    
    %table.bars
      %tr
        %td
        %td.viz
          = render :partial => "options/slider_and_viz/stance_histogram"
        %td
              
      %tr.vizbase
        %td.first
          .inner
            Support
        %td.middle
          .pedestal
        %td.last
          .inner
            Oppose
  
  .position_marker
    .triangle 
      &#x25c0;
    .label
      Your position
    .current
      = @position.stance_name

    .operations
      =link_to 'edit', edit_option_position_path(@option, @position)
      
      -# %span.bullet
      -#  &#8226;

      -# %span.share
      -#  share


  .explore#ranked_points   
    = render :partial => "options/pro_con_board", :locals => { :group_name => 'everyone', :group_id => 'all' }


:javascript
  $j('.you_slider').css('left', $j('.pedestal').position().left + (6 - #{@position.stance_bucket}) * 64.3 + 12 + 'px');
