#sitemap
  %h1
    Washington State Ballot Measures, 2011
  %ul
    - @options.each do |opt|

      %li
        %a{ :href => "#{option_path(opt)}", :title => "#{opt.domain} #{opt.category} #{opt.designator} #{opt.name}"}
          #{opt.domain} #{opt.category} #{opt.designator} #{opt.name} 
