#initiative.guide
  #option_id.hide
    = @option.id
  #position_id.hide
    = @position.id
  
  %ol#step_through    
    %li.head
      = render :partial => "options/description", :locals => {:hide_initially => true}
    
    = render :partial => "options/view_breakdown", :locals => { :number => false }
    

    %li.clear
     
  - if !@position
    .take_stand
      .button
        %a.take_stand3.add_qtip{ :href => new_option_position_path(@option, @position), :title => "Collect your thoughts and make your voice heard by composing a pro/con list and taking stand on #{@option.designator}"}
          = image_tag "take_stand_large.png", :alt => "Contribute by taking a stance and writing a pro/con list on #{@option.designator}"

 
:javascript
  $j('.initiative_item').each(function(){
    var initiative_id = $j(this).attr('id').substring(16);
    
    if (initiative_id == #{@option.id}){
      $j(this).addClass('active');
      $j(this).children('a').addClass('active');
    }
  });

  //if (ConsiderIt && ConsiderIt.study) {
  //  $j(document).delegate('.point_in_list a.toggle', 'click', function(){
  //    $j.post('/home/study/1', {
  //      position_id: #{@position.id},
  //      option_id: #{@option.id},
  //      point_id: $j(this).parents('.point_in_list').find('.id:first').text(),
  //      bval: $j(this).hasClass('more')
  //    });   
  //  });
  //}
  
