#initiative.guide

  = render :partial => "options/blocks/strip"

  
  %ol#step_through    
    %li.head
      = render :partial => "options/description/abridged"
      = render :partial => "options/sidebar"
      .clear
    
    -# = render :partial => "initiatives/view_breakdown", :locals => { :number => false }
    

    %li.clear
     

  - if @position
    .take_stand
      %a.update_stance2.add_qtip{ :href => update_option_position_path(@option, @position), :title => "Click here to change your stance and update your pro/con list."}
        = image_tag "update_position.png", :alt => "Click to update your stance on #{@options.reference}"
    .take_stand
      %a.join_discussion2.add_qtip{ :href => "#discussion_threads", :title => "Join or start a discussion about #{@option.reference}."}
        = image_tag "participate_in_discussion.png", :alt => "Click to join or start a discussion about #{@option.reference}"
  
  - else
    .take_stand
      .button
        %a.take_stand3.add_qtip{ :href => new_option_position_path(@option, @position), :title => "Click to use the Living Voters Guide to collect your thoughts and make your voice heard on #{@option.designator}"}
          = image_tag "take_stand_large.png", :alt => "Help write the Living Voters Guide by taking a stance and writing a pro/con list on #{@option.designator}"

 
:javascript
  $j('.initiative_item').each(function(){
    var initiative_id = $j(this).attr('id').substring(16);
    
    if (initiative_id == #{@option.id}){
      $j(this).addClass('active');
      $j(this).children('a').addClass('active');
    }
  });
  
