:javascript
  option_stance_data = #{stance_fractions(@option)};
  option_id = #{@option.id};
  //for IE7 compatability
  protovis_stance_has_been_rendered = false;

#initiative.guide
  #option_id.hide
    = @option.id
  #position_id.hide
    = @position.id
  
  %ol    
    %li.head
      = render :partial => "options/description", :locals => {:hide_initially => true}
    
    %li.breakdown
      .head
      
        .operations
          -if @position && @position.published
            .you_slider
              = image_tag "slider.png", :title => "This is where you stand on #{@option.designator}."
              =link_to 'Modify your position', edit_option_position_path(@option, @position)
          -else
            .submit_a_position.shadow_offset.add_corner
              You have yet to 
              =link_to 'submit a position', new_option_position_path(@option)

        
        %table.bars
          %tr
            %td
            %td.viz
              = render :partial => "options/stance_histogram"
            %td
                  
          %tr.vizbase
            %td.first
              .inner
                Support
            %td.middle
              .pedestal
            %td.last
              .inner
                Oppose
      
      .position_marker
        .triangle 
          &#x25C0;

        %strong
          Click a bar

        to filter the reviews.

    %li.ranked_points
      .explore#ranked_points   
        .wrapper.shadow_offset
          .triangle 
            &#x25B2;  

          %h3.banner
            Pros and cons important to these participants

          = render :partial => "points/pro_con_list", :locals => { :dynamic => false, :pro_points => @pro_points, :con_points => @con_points }

    %li.clear

 
:javascript
  $j('.initiative_item').each(function(){
    var initiative_id = $j(this).attr('id').substring(16);
    
    if (initiative_id == #{@option.id}){
      $j(this).addClass('active');
      $j(this).children('a').addClass('active');
    }
  });

  $j('.you_slider').css('left', $j('.pedestal').position().left + (6 - #{@position.stance_bucket}) * 64.3 - 30 + 'px');



  //if (ConsiderIt && ConsiderIt.study) {
  //  $j(document).delegate('.point_in_list a.toggle', 'click', function(){
  //    $j.post('/home/study/1', {
  //      position_id: #{@position.id},
  //      option_id: #{@option.id},
  //      point_id: $j(this).parents('.point_in_list').find('.id:first').text(),
  //      bval: $j(this).hasClass('more')
  //    });   
  //  });
  //}
  
