- cache ['theme_body', current_tenant] do 

  - if false && Rails.env.development?
    = render :partial => "shared/dev_tools"      

  .t-intro-wrap{:'data-domain' => 'homepage'}
    .l-content-wrap.t-intro
              
      .l-message
        .l-message-speaker.left.l-message-initiator
          %a
            - if current_tenant.managing_account && current_tenant.managing_account.avatar_file_name
              = image_tag current_tenant.managing_account.avatar.url(:large)
            - else
              %img{ :src => '/system/default_avatar/large_default-profile-pic.png'}

        .l-message-body.left.down
          = render :partial => "shared/bubble", :locals => {:left => true, :down => false}

          %span.l-message-title
            = simple_format current_tenant.header_text

          .l-message-details
            = simple_format current_tenant.header_details_text


  #m-proposals-container
    %ul.m-proposal-list

  #m-proposals-container-completed
    .m-proposals-container-completed-header{:'data-domain' => 'homepage'}
      %hr
      %h2
        Completed conversations
    %ul.m-proposal-list