- cache 'bubble_equilateral' do 

  - size = 10
  - border_width = 4
  - stroke_width = 1
  - svg_size = size + border_width * 2 + 2
  - ypos1 = stroke_width * 3
  - ypos2 = stroke_width * 3 + size
  - ypos3 = stroke_width * 3 + 2 * size

  - xpos1 = 0
  - xpos2 = size
  - spacingoffsetx = 1
  - borderadjustx = stroke_width * 2
  - spacingadjustx = border_width + borderadjustx

  - points = "#{xpos1},#{ypos1} #{xpos1},#{ypos3} #{xpos2},#{ypos2} #{xpos1}, #{ypos1}"
  - points_border = "#{xpos1}, #{ypos1 - 2 * stroke_width} #{xpos1},#{ypos3 + stroke_width * 2} #{xpos2 + borderadjustx},#{ypos2} #{xpos1}, #{ypos1 - 2 * stroke_width}"
  - points_spacing = "#{xpos1 + spacingoffsetx},#{ypos1 - border_width - 1} #{xpos1 + spacingoffsetx},#{ypos3 + border_width * 2 - 2} #{xpos2 + spacingadjustx},#{ypos2} #{xpos1 + spacingoffsetx}, #{ypos1 - border_width - 1}"

  %svg{ :xmlns => "http://www.w3.org/2000/svg", :width => svg_size, :height => 2 * svg_size, :class => "t-bubble", :version => "1.1", :baseProfile => "full" }
    %g{ :transform => "translate(0, #{svg_size}) rotate(-90)" }
      %polygon{ :class => "t-bubble-spacing", :points => points_spacing }
      %polygon{ :class => "t-bubble-border", :points => points_border }
      %polygon{ :class => "t-bubble-inner", :points => points }


