-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

.flash_messages
  - if current_user && current_user.username && current_user.confirmation_token && current_user.confirmation_token.length > 0 && !current_user.confirmed_at && @results_page

    .message.confirmation_required
      Hi #{current_user.first_name}, please confirm your account. Check your email for instructions. Can't find it? Look in your junk folder or have it 
      = form_for :user, :remote => true, :url => user_confirmation_path do |f|
        = f.hidden_field :email, :val => current_user.unconfirmed_email || current_user.email
        = hidden_field_tag :proposal_id, @proposal.id
        = f.submit 'resent'
      %span.close
        = button_tag 'x'



  - flash.each do |key, value|
    - unless value.blank?
      .message.flash{ :class => "#{key}" }
        - resend_confirmation_instructions = value.index( '{{confirmation_resend_instructions}}')
        #{value.gsub('{{confirmation_resend_instructions}}', '')}

        %span.close
          = button_tag 'x'

  :javascript
    $j(document).ready(function(){
      $j('.message .close').click(function(){
        $j('.message').fadeOut().remove();
      });  
      $j('.message.confirmation_required').on('ajax:success', 'form', function(){
        $j('.message.confirmation_required').text('Confirmation sent! ');
        $j('.message.confirmation_required').delay(2200).fadeOut();
      });
    })