- is_cali = current_tenant.identifier == 'cali'

.proposals{ :class => "#{style} horizontal" }
  .carousel{ :name => "proposals" }
    %ul


      - if is_cali
        = render :partial => "proposals/blocks/item", :collection => get_proposals.order(:designator).active, :as => :proposal, :locals => { :show_full_text => false, :style => style, :hide_initially => hide_initially }
      - else
        = render :partial => "proposals/blocks/item", :collection => get_proposals_by_rank.active.where('id>=350 and id <= 357'), :as => :proposal, :locals => {:show_full_text => false, :style => style, :hide_initially => hide_initially }



    - if !is_cali 
      = render :partial => "home/unlock_local"


    .clear

    - if !is_cali
      .old#o2010
        %h3
          Ballot measures from 2010
        %ul
          = render :partial => "proposals/blocks/item", :collection => get_proposals.where(:active => false).where('id < 324 AND id > 314'), :as => :proposal, :locals => { :show_full_text => false, :style => style, :hide_initially => hide_initially }

      .old#o2011
        %h3 
          Ballot measures from 2011
        %ul
          = render :partial => "proposals/blocks/item", :collection => get_proposals.where(:active => false).where('id < 6'), :as => :proposal, :locals => { :show_full_text => false, :style => style, :hide_initially => hide_initially }

      :javascript
        $j(document).ready(function(){
          $j('a.old').click(function(){
            var is2010 = $j(this).hasClass('lvg2010'),
                $el = is2010 ? $j('#o2010') : $j('#o2011');

            $el.fadeToggle();

          });      
        });
  .clear

