
- cache ['templates', current_tenant] do

  = render :partial => './shared'
  = render :partial => './homepage_structure'
  = render :partial => './point'
  = render :partial => './points'
  = render :partial => './homepage'
  = render :partial => './comments'
  = render :partial => './user_opinion'
  = render :partial => './proposals'
  = render :partial => './proposal'
  = render :partial => './crafting'  
  = render :partial => './histogram'    
  = render :partial => './reasons'      
  = render :partial => './proposal_description'
  = render :partial => './footer'
  = render :partial => './header'
  = render :partial => './header_logo'
  = render :partial => './pledge'

  = render :partial => './assessment/assessment_user_facing'

  = render :partial => './auth'
  = render :partial => './dash'
  = render :partial => './static'
  = render :partial => './static_pages'