- if @part == 'text'

  ***********************
  *** #{translator({id: "email.digest.text_header"}, "Recent activity")} ***
  ***********************

- if @anonymize_everything || @hide_opinions

  = section('Forum settings')

  - if @anonymize_everything
    %div
      = translator "email.anonymize_message", "The forum host has participation set to anonymous, so you won't be able to see the identity of others at this time."

  - if @hide_opinions
    %div
      = translator "email.hide_opinions", "The forum host has hidden the opinions of other participants, so you won't be able to see their specific opinions at this time."

  = end_section()


- if @new_stuff && @new_stuff.key?(:your_proposals) && @new_stuff[:your_proposals].length > 0 
  
  = section('Your proposals')

  - @new_stuff[:your_proposals].each do |proposal|
    = proposal_with_events(proposal)

  = end_section()


- if @new_stuff && @new_stuff.key?(:new_proposals) && @new_stuff[:new_proposals].length > 0 
  
  = section('New proposals')

  - num = @new_stuff[:new_proposals].length

  - if num > 5
    - new_proposals = @new_stuff[:new_proposals][0..2]
  - else 
    - new_proposals = @new_stuff[:new_proposals]

  - new_proposals.each do |proposal|
    = proposal_without_events(proposal)

  - if num > 5
    - if @part == 'text'
      :ruby 
        view_more = translator({id: "email.digest.view_more_proposals.text", link: full_link('', {:sort_by => 'newest'}), more_than_5_proposals_count: num - 3}, 
          "View the other {more_than_5_proposals_count} new proposals at {link})")
      #{view_more}
      
    - else 
      :ruby 
        view_more = translator({id: "email.digest.view_more_proposals.html", more_than_5_proposals_count: num - 3}, 
          "View {more_than_5_proposals_count} more new proposals")
      

      %a{:href => full_link('', {:sort_by => 'newest'}), :style=>"text-align:center; color:black;padding-top:20px;display:block;"}
        #{view_more}

        


  = end_section()


- if @new_stuff && @new_stuff.key?(:active_proposals) && @new_stuff[:active_proposals].length > 0 
  
  = section('Proposals with recent activity')

  - @new_stuff[:active_proposals].each do |proposal|
    = proposal_with_events(proposal)

  = end_section()


- if @part == 'text'
  = render :partial => 'event_mailer/unsubscribe'

= content_for :footer do 
  = render :partial => 'event_mailer/unsubscribe'
