Hi #{@user.name}, 

%p 
  Here's an update on 
  %a{href: full_link(@proposal.slug), style: "font-weight: 600; color: #{logo_red};"}
    = @proposal.name


- if @notifications.has_key? 'new_point'
  
  %h2
    New points

  %ul
    - grouped = group_by_user(@notifications['new_point']['proposal_interested'])
    - for user_id, notifications in grouped
      - points = notifications.map {|n| n.event_object }
      
      %li
        #{User.find(user_id).name} added #{points.length == 1 ? 'a' : 'these'} point#{points.length == 1 ? '' : 's'}:
        - points.each_with_index do |point, idx|
          - if idx == points.length - 1 && points.length > 1
            and

          %a{href: full_link(point.proposal.slug, {selected: "%2Fpoint%2F#{point.id}"}), style: "font-weight: 600; color: #{logo_red}"} 
            #{point.title(40)}

          - if idx < points.length - 1
            , 



- if @notifications.has_key? 'new_opinion'
  
  %h2
    New opinions


  #{get_user_str(@notifications['new_opinion']['proposal_interested'])} added their opinions               


- for event in ['new_comment', 'new_assessment']

  - if @notifications.has_key? event
    - comment_sections = [ |
          ['point_authored', 'New comments on your points'], |
          ['point_engaged', 'New comments on points you follow'], |
          ['proposal_interested', 'New comments on other points'], |
      ] |

    - for section in comment_sections
      - key = section[0]
      - header = section[1]

      - if @notifications[event].has_key? key

        %h2
          = header

        %ul
          - by_event_object = group_by_object(@notifications[event][key])
          - for event_object_id, notifications in by_event_object
            // aggregate into event_object
            - comment = notifications[0].event_object
            - point = comment.point

            %li
              #{get_user_str(notifications)} commented on 

              %a{href: full_link(point.proposal.slug, {selected: "%2Fpoint%2F#{point.id}"}), style: "font-weight: 600; color: #{logo_red}"} 
                #{point.title(40)}


= content_for :footer do
  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}
    