- prompt = "#{@proposal.category} #{@proposal.designator} : #{@proposal.short_name}"

.proposal_prompt

  .head.single
    %h3.banner.name
      = prompt

  //= image_tag "lvg/images/states/#{current_tenant.identifier}.png", :class => "pic"

  .description_wrapper
    .name
      #{@proposal.name}
    .full_text
      - for i in @proposal.format_description
        %p= h i.html_safe
    
    - if @proposal.long_description && @proposal.long_description.strip != ''
      .long_description.extra
        .prompt
          Long Description
          %a.hidden
            show
        .full.hide
          = @proposal.long_description.html_safe
          %a.hidden
            show

    - if @proposal.additional_details && @proposal.additional_details.strip != ''
      .additional.extra
        .prompt
          Fiscal impact statement
          %a.hidden
            show
        .full.hide
          = @proposal.additional_details.html_safe
          %a.hidden
            show

    - if current_tenant.identifier == 'cali'
      .long_description.extra
        .prompt
          Sec. of State's overview
          %a.hidden
            show
        .full.hide

          = link_to 'PDF from Secretary of State', "#{@proposal.url}", :target => "_blank", :id=>"sos_link"

          #prop_overview

          :javascript
            $j(document).ready(function(){          
              var myPDF = new PDFObject({
                url: "lvg/measures/#{@proposal.designator}-title-summ-analysis.pdf",
                id: "proposal_overview",
                width: "860px",
                height: "500px",
                pdfOpenParams: {
                  navpanes: 1,
                  statusbar: 0,
                  view: "FitH",
                  pagemode: "thumbs"
                }
              }).embed("prop_overview");
            });


    - elsif @proposal.url && @proposal.url.strip != ''
      #full_desc_block
        =link_to "From the Secretary of State", @proposal.url, :title => "Visit the official listing on the state's website", :target => '_blank'
  .clear

  - if !@results_page
    .head.single
      %h3.banner
        Should this pass? What are the most important factors to you?

