

Hi #{@user.first_name},

= "\r\n"
- if @proposal.user_id
  #{@proposal.user.username} has proposed that:
- else
  A new proposal has been added: 

= "\r\n"
"#{@proposal.title}"

= "\r\n"
To think through this proposal, visit #{@url}

= "\r\n"
\----

= render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to new proposal updates'}

= "\r\n"
#{@options[:app_title]} is powered by http://consider.it