

%p.head
  Hi #{@user.first_name}, 

  - if @notification_type == 'your point'
    One or more participants requested that your #{@point.is_pro ? 'pro' : 'con'} point be fact checked. The Seattle Public Library has done so. We hope that the additional information is helpful!

  - elsif @notification_type == 'requested by you'
    At your request, a #{@point.is_pro ? 'pro' : 'con'} point has been fact checked by The Seattle Public Library. 

  - else
    A #{@point.is_pro ? 'pro' : 'con'} point that you follow has been fact checked by The Seattle Public Library. 

//TODO: add text version of this mail

%p
  The result of the fact check:
  %ul
    - @assessment.claims.each do |clm|
      %li
        Claim: "#{clm.claim_restatement}"; Conclusion: #{clm.verdict.formatVerdict()}.

%p 
  The #{@point.is_pro ? 'pro' : 'con'} point:
  .object
    &ldquo;#{link_to @point.nutshell, point_url(@point, :host => @host)}&rdquo;

%p 
  The proposal: 
  .object
    &ldquo;#{link_to @proposal.title, "#{@host}/#{@proposal.long_id}"}&rdquo;

.action_call
  .rest
    .call
      = link_to 'Read and discuss further', point_url(@point, :host => @host)

= content_for :footer do
  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this point'}