Hi #{@user.first_name}, 
= "\r\n"
- if @notification_type == 'your point'
  One or more participants requested that your #{@point.is_pro ? 'pro' : 'con'} point be fact checked. The Seattle Public Library has done so. We hope that the additional information is helpful!
- elsif @notification_type == 'requested by you'
  At your request, a #{@point.is_pro ? 'pro' : 'con'} point has been fact checked by The Seattle Public Library. 

- else
  A #{@point.is_pro ? 'pro' : 'con'} point that you follow has been fact checked by The Seattle Public Library. 

= "\r\n"

The result of the fact check:
- @assessment.claims.each do |clm|
  
  * Claim: "#{clm.claim_restatement}"; Conclusion: #{clm.verdict.formatVerdict()}.
  = "\r\n"

The original #{@point.is_pro ? 'pro' : 'con'} point says:
= "\r\n"
"#{@point.nutshell + @point.text}"

= "\r\n"
Read and discuss further at #{point_url(@point, :host => @host)}

= "\r\n"
\----


= render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this point'}

= "\r\n"
#{@options[:app_title]} is powered by http://consider.it