

- num_opinions = @proposal.opinions.published.count
- stance_breakdown = @proposal.stance_fractions
- barheight = 100

#{num_opinions} people have now weighed in on#{@proposal.user_id ? ' ' + @proposal.user.name + "'s proposal" : '' } "#{@proposal.title}" 

= "\r\n"
Explore & discuss further at #{@host}/#{@proposal.long_id}

= "\r\n"
Summary: 
= "\r\n"

- height_scaler = stance_breakdown.max
- user_opinion = @user.opinions.published.where(:proposal_id => @proposal.id).first

- if num_opinions < 10

  - users = @proposal.opinions.published.where(:stance_segment => 6).map {|x| x.user.short_name}.compact
  - users += @proposal.opinions.published.where(:stance_segment => 5).map {|x| x.user.short_name}.compact
  

  Support: #{users.join(', ')}

  - users = @proposal.opinions.published.where(:stance_segment => 4).map {|x| x.user.short_name}.compact

  Lean support: #{users.join(', ')}
  
  - users = @proposal.opinions.published.where(:stance_segment => 3).map {|x| x.user.short_name}.compact
  Neutral: #{users.join(', ')}

  - users = @proposal.opinions.published.where(:stance_segment => 2).map {|x| x.user.short_name}.compact
  Lean oppose: #{users.join(', ')}

  - users = @proposal.opinions.published.where(:stance_segment => 1).map {|x| x.user.short_name}.compact
  - users += @proposal.opinions.published.where(:stance_segment => 0).map {|x| x.user.short_name}.compact
  Oppose: #{users.join(', ')}


- else
  
  Support: #{@proposal.opinions.published.where('stance_segment >= 5').count}
  Lean support: #{@proposal.opinions.published.where(:stance_segment => 4).count}
  Neutral: #{@proposal.opinions.published.where(:stance_segment => 3).count}
  Lean oppose: #{@proposal.opinions.published.where(:stance_segment => 2).count}
  Oppose: #{@proposal.opinions.published.where('stance_segment <=1').count}

- notable_points = @proposal.notable_points
- if notable_points

  = "\r\n"
  *****************************
  Most important to supporters 
  *****************************
  "#{notable_points[:important_for_supporters].nutshell}"

  \- #{notable_points[:important_for_supporters].user.name}

  = "\r\n"
  *****************************
  Most important to opposers 
  *****************************

  "#{notable_points[:important_for_opposers].nutshell}"

  \- #{notable_points[:important_for_opposers].user.name}

  = "\r\n"
  *****************************
  Common ground for supporters and opposers
  *****************************

  "#{notable_points[:common].nutshell}"

  \- #{notable_points[:common].user.name}        


= "\r\n"

(The next update will be sent after #{@next_aggregate} people have weighed in.)

= "\r\n"
\----

= render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}

= "\r\n"
#{@options[:app_title]} is powered by http://consider.it
