%a.initiative_block_wrapper{ :href => option_path(option), :title => "Think through option #{option.category} #{option.designator}"}
  .link_internal

    %h2
      .header
        .designation
          = option.category
        .number
          = option.designator
                              
      .subheader
        = option.short_name
     
      .clear
        
      .description
        - if !show_full_text
          .hide
            = option.description
        - else
          = option.description