#help
  %h2
    Living Voters Guide User Help



  %p
    The Living Voters Guide (LVG) helps Washington State voters to consider and discuss state ballot measures.



  %p
    You can use LVG to:

    %ul

      %li
        Build a pro-con list about different ballot measures

      %li
        Read the opinions of other Washington voters
      
      %li
        Add pro-con points for other voters to consider


  %p
    This users guide is intended to help you use and understand the features of the LVG. 

  %p
    = image_tag current_theme_image_path('help/info-sign.png'), :height => "25"
    You can use the LVG even if you don't create an account. If you don't register an account, you can still use the site to help make an informed voting decision by using the pro-con list feature. If you create an account, you can take part in discussions and create pro-con points that may help influence other voters.



  %h3
    1. Build A Pro-Con List About A Ballot Measure

  %p
    When you click any ballot measure on the home page, you will be taken to a page where you can read more about the measure, state your opinion about it, and create a pro-con list. On the LVG you can build a pro-con list from existing pro-con points and you can write your own pro or con points.
    
  %p
    At the top of the pro-con list feature, you will see a sliding scale. If you already have an opinion about a ballot measure, you can indicate it on the sliding scale. Now you're ready to start building a pro-con list.

  = image_tag current_theme_image_path('help/image5_buildProConList.png'), :height => "325"
    
  %p
    To add an existing point to your pro-con list, just 
    %strong
      drag and drop
    an existing point into your pro-con list. You can see every existing pro-con point along the side of the pro-con list. 


  %ul
    %li
      Pro points can only be added to the pro side, and con points can only be added to the con side of your list. 
    %li 
      You can add as few or as many of the existing points as you want. 
    %li
      You have the choice of adding none of the existing points to your list.

  %p
    None of the existing point may describe your biggest objection to an measure, or your biggest reason for support. This is why you can write your own pro-con points.
    
  %p
    If your point supports the ballot measure, you should choose to 
    %strong 
      write a new pro.
    If your point is about why the ballot measure should not be passed, you should choose to 
    %strong
      write a new con.


  = image_tag current_theme_image_path('help/image6_writeProCon.png'), :height => "325"
    
  %p
    The new point field is limited to 140 characters. This is where you should summarize your position. If you need more room, there is an additional field below for your to write a longer description of your point. You can also include a link to a website that contains additional information that is relevant to your point  by clicking 
    %strong
      +Link to Website.
    Your website links and additional comments, as well as your profile picture, will be seen if a user clicks 
    %strong
      "details/discuss"
    under your pro-con point.

  %p
    = image_tag current_theme_image_path('help/info-sign.png'), :height => "25" 
    If you don't want your name to appear next to your pro or con point, you can check the box that says "Hide Your Name From Other Users." If you choose to hide your name, other users who view your point will see it as written by "anonymous."
      
  %h3
    2. Save Your Pro-Con List 
  %p
    After you build a pro-con list, update the slider at the bottom of the screen to show your final position, if the process of creating the pro/con list has changed your opinion about the measure. The two
    sliders are linked, so when you move one it moves the other. Then, 
    %strong 
      Save your position. 
    If you change your mind later, you can revisit the measure and update your position at any time.

  %p
    You also have the option to be emailed whenever someone writes a new pro-con point about the measure or when someone comments on one of the points you included on your list. To receive these emails, check the boxes under Save your position before you save.

  %p
    After you save your position, you will be taken to a new screen.

  = image_tag current_theme_image_path('help/image7_histogram.png'), :height => "325"
    

  %p
    This new screen shows how your support or opposition for a ballot point compares to other LVG users. After you save your opinion, a check mark will appear next to the ballot measure number on the tabs at the top of the page, and on the home page. This check mark appears next to any ballot measure where you have saved your position, it does not indicate support rather than opposition. If you log out and log back in later, you will be able to tell which measures you have already saved your postion on by looking for this checkmark.


  %p
    = image_tag current_theme_image_path('help/info-sign.png'), :height => "25" 
    On this screen, you can see which pro-con points were included most frequently, and compare them to the points that you included. You can also see which pro-con points were included most often by users who expressed a particular amount of support or opposition by 
    %strong
      clicking on one of the bars of the graph
    at the top of the page.



  %h3
    3. Discuss A Pro-Con Point
  %p
    You can take part in a discussion about another users pro-con point (or your own pro-con point) by clicking 
    %strong
      "details/discuss"
    beneath that individual pro-con point. 

  = image_tag current_theme_image_path('help/image8_detailsDiscuss.png'), :height => "325"

  %p
    Here, you will see all the information about a pro-con point, including the summary, additional text, link to the website, and comments added by site users. Write your comment in the box next to your profile picture (this will be blank if you have not added a profile picture). To save your comment, click 
    %strong
      Add Comment. 
    Comments are limited to 975 characters.

  %p
    = image_tag current_theme_image_path('help/info-sign.png'), :height => "25" 
    You can take part in the discussion when you build the pro-con list, or after you have saved your position.

  %p
    = image_tag current_theme_image_path('help/info-sign.png'), :height => "25" 
    Remember, the default options for user accounts have you receive an email when someone comments on a pro-con point you write, or comments on a pro-con point that you have commented on. To change these account settings,
    %strong
      click the arrow
    next to your name in the upper right hand corner of the screen. Then, uncheck the boxes to change the default account settings and click 
    %strong
      Update
    to save your changes.

  %h3
    4. Additional Ballot Measures

  %p
    Everyone who visits the LVG sees the state ballot measures. On the home page, you are invited to 
    %strong
      enter your zip code
    to see your local ballot measures. If your city or county has additional ballot measures,  these will appear next to the state ballot measures on the home page and additional tabs for these ballot measures will appear at the top of the page. 
    
  %p
    On the home page, the local ballot measures unique to your zip code appear in red. 

  = image_tag current_theme_image_path('help/image9_localBallotMeasures.png'), :height => "175"

  %h3
    5. Create An Account


  %p
    To create an account, click on the 
    %strong
      Create an Account
    or 
    %strong
      Login
    button in the upper right hand corner of the screen. A registration window will pop up, which shows two ways to join the LVG community.


  = image_tag current_theme_image_path('help/image1_accountSignUp.png'), :height => "325"

  %ul

    %li
      You can use your Facebook, Twitter, Google, or Yahoo account to join. We won't ever post to your Facebook page or sell your email address.  
    %li
      If you do not want to make a linked account, you can enter your full name, an email address, and create a password.

  %p
    After you complete the form, you have to
    %strong
      agree to the participant pledge, which are the requests we make for LVG community members.

  = image_tag current_theme_image_path('help/image1a_participantPledge.png'), :height => "325"


  %p
    To complete your account setup, you will need to confirm your account by
    %strong
      following the link
    in the confirmation email that we send you. This email will be sent from "info" and it is called "Confirmation Instructions." If you don't see the email right away, check your spam filter.

  = image_tag current_theme_image_path('help/image2_confirmYourAccount.png'), :height => "325"

  %p

    = image_tag current_theme_image_path('help/info-sign.png'), :height => "25"
    You can begin to use the website without confirming your account, but we won't include your support or opposition in our website totals until you confirm the account. Also, any pro-con points you write will be invisible to other LVG users, and can't be included in other people's pro-con lists.

  %h3
    6. Add A Profile Image To Your Account

  %p
    You can include a profile picture for your account. Adding a profile picture is optional. To add a profile picture, 
    %strong
      click the arrow
    next to your name in the upper right hand corner of the screen.  

  = image_tag current_theme_image_path('help/image3_editProfile.png'), :height => "325"

  %p
    You will have the option to Edit Your Profile or Log Out. Select 
    %strong
      Edit Your Profile.
    Click
    %strong
      Browse,
    choose a profile picture from your computer, and then choose 
    %strong
      Update.

  %p
    = image_tag current_theme_image_path('help/info-sign.png'), :height => "25" 
    If you add a profile picture, it will appear next to your comments and
    in the details of the pro-con points that you write. 

  %h3
    7. Account Options

  %p
    The default options for user accounts are set to send you an email when someone comments on a pro-con point you write, or comments on a pro-con point that you have commented on. To change these account settings, 
    %strong
      click the arrow
    next to your name in the upper right hand corner of the screen. Then, uncheck the boxes to change the default account settings and click 
    %strong
      Update.

  = image_tag current_theme_image_path('help/image4_accountSettings.png'), :height => "250"


  %h3
    8. How To Contact Us

  %p
    If you have additional questions about the LVG, who we are, or are interested to use the 
    %a{ :href => "http://www.livingvotersguide.org/home/considerit", :target => "_blank"}
      ConsiderIt
    platform that powers the LVG, inquiries or feedback to 
    %a{ :href => "mailto: info@livingvotersguide.org"}
      info@livingvotersguide.org.
