.sitemap
  %table
    %tr

      %td.promote
        = image_tag current_theme_image_path "logo3.png"
        = render :partial => "home/follow"
        
      %td.guides
        
        - APP_CONFIG['footer']['resources'].each do |resource_block|
          %h4 
            = resource_block['title']
          %ul.nav
            - resource_block['items'].each do |resource|
              %li= link_to "#{resource['anchor']}", "#{resource['link']}", :target => "_blank", :title => "#{resource['title']}"        


      %td.guides

        %h4 Other Resources
        %ul.nav
          %li= link_to "About the initiative process", "http://www.ncsl.org/default.aspx?tabid=16600", :target => "_blank"
          %li= link_to "Stats \& history of WA ballot measures", "http://www.sos.wa.gov/elections/initiatives/statistics.aspx", :target => "_blank"
          %li= link_to "Filing an initiative in WA (PDF)", "http://www.sos.wa.gov/_assets/elections/Initiative%20and%20Referenda%20Manual.pdf", :target => "_blank"
          -if @domain && @domain.name == 'Seattle'
            %li= link_to "King County Libraries infoVote 2011", "http://www.kcls.org/infovote/", :target => "_blank"


      %td.guides.partners
        -if @domain && @domain.name == 'Seattle'
          = link_to image_tag('king5.png'), "http://kingcounty.gov/elections/", :target => '_blank'
