#home
  
  -#= render :partial => "home/follow"

  -##people
    - users = get_users_with_picts(105)
    - if users && users.length > 75
      .row
        - users[0..16].each do |user|
          .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}
      .row
        - users[17..33].each do |user|
          .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}

      // .row.fl
      //   - users[26..30].each do |user|
      //     .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}
      // .row.fr
      //   - users[35..39].each do |user|
      //     .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}
      // .clear    

      .row
        - users[34..50].each do |user|
          .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}
      .row
        - users[51..67].each do |user|
          .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}
      .row
        - users[68..84].each do |user|
          .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}
      .row
        - users[85..101].each do |user|
          .img{:style => "background-image: url('#{image_path user.avatar.url(:small)}')"}

  #value 
  
    .first
      Tell us what you think about the legislation we are considering

  = theme_image_tag 'shadow-big.png', :style => "margin-top: 4px"

#active_proposals
  %h2.get_started
    Get started by clicking a bill below.

  
  = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false }

  - if current_user
    = render :partial => "proposals/new", :locals => { :prompt => 'Add new'}

  :javascript
    $j(document).ready(function(){

      $j("input#domain").autocomplete({
        source: #{get_available_domains()},
        select: function(event, ui){
         /*$j.post("#{home_domain_path}", { domain: ui.item.value }, function(data){
          $j('#domain').append(data);
         });
         */
        }
      });
    });

:javascript

  document.getElementById('header_logo').src = 'assets/policyninja/images/logo_large.png';


/ :javascript
/   $j('#tutorial').delegate('.nav ul a', 'click', function(){
/     if ( !$j(this).hasClass('selected')){
/       $j(this).parent().siblings('li').find('a').removeClass('selected');
/       var cls = $j(this).attr('class');
/       $j(this).addClass('selected');
/       $j(this).parents('.nav').siblings('.frame').find('> div')
/         .hide().filter('.' + cls).show();
/     }
/   });
