#home
  
  .header
    .follow
      - if APP_CONFIG['socmedia']['facebook']['include_follow']
        %span.facebook
          %a.fb_page{ :href => "#{APP_CONFIG['socmedia']['facebook']['facebook_page']}", :target => "_blank", :title => "Find us on Facebook" }
            = image_tag "facebook_button.png", :alt => "Facebook logo"
      - if APP_CONFIG['socmedia']['twitter']['include_follow']
        %span.twitter
          %a.twitter_page{ :href => "#{APP_CONFIG['socmedia']['twitter']['twitter_page']}", :target => "_blank", :title => "Follow us on Twitter" }
            = image_tag "Twitter_button.png", :alt => "Twitter logo"        
    .subheader
      %h2 
        = APP_CONFIG['home']['call']
      .extra
        = APP_CONFIG['home']['subcall']
      
      %table
        - APP_CONFIG['home']['values'].each do |value|
          %tr.text
            %td
              %span.italic
                = value['lead'] 
            %td
              = value['follow'] 
