

- num_majors = 22
- num_rows = 150

%style(type="text/css") 
  :sass
    $grid_major: 48px
    $grid_minor: 30px
    $grid_gutter: 18px

    $vertical_baseline: 16px

    table#grid
      //display: none
      position: absolute
      left: 0
      top: 0
      z-index: 1
      //height: 
      .xs
        width: $grid_gutter - 2
        height: $vertical_baseline - 2

      .minor
        width: $grid_minor - 2
        height: $vertical_baseline - 2
      td
        border: 1px solid transparent

      tr.odd
        .minor
          //background-color: rgba(green, .4)
      tr.even
        .minor
          //background-color: transparent
      &.vertical
        td
          border-left-color: rgba(black, .5)
          border-right-color: rgba(black, .5)

      &.horizontal
        td
          border-top-color: rgba(black, .5)
          border-bottom-color: rgba(black, .5)        

    body #l-wrap #dev_tools
      position: absolute
      background-color: rgba(black, .4)
      color: white
      border-radius: 5px
      z-index: 1000
      top: 0
      left: 10px
      font-size: 10px

%table#grid.vertical.horizontal
  - (1..num_rows).each do |i|
    %tr{ :class => "#{i%2 == 0 ? 'even' : 'odd'}"}

      - (1..num_majors).each do |i|
        %td
          .xs
        %td
          .minor

      //%td
      //  .xs

#dev_tools
  .option.grid
    = check_box_tag :grid
    = label_tag :grid, 'Grid'

  .option.grid_vertical
    = check_box_tag :grid_vertical, 'vert', true
    = label_tag :grid_vertical, 'vertical'

  .option.grid_horizontal
    = check_box_tag :grid_horizontal, 'hor', true
    = label_tag :grid_horizontal, 'horizontal'

  .theme
    = form_tag set_dev_options_path do |f|
      = select_tag "theme", options_for_select(['[theme]'] + Account.all_themes)
      = submit_tag '', :class => 'hide submit'

:javascript
  (function(){
  $(document).ready(function () {init();});
  if($(window)){$(window).bind('page:change', function() {init();});}
  function init(){
    $('#dev_tools .theme select').change(function(){
        $(this).siblings('input[type="submit"]').trigger('click');
    });
    $('#dev_tools .grid input').click(function(){
        $('#grid').toggle();
    });
    $('#dev_tools .grid_horizontal input').click(function(){
        $('#grid').toggleClass('horizontal');
    });
    $('#dev_tools .grid_vertical input').click(function(){
        $('#grid').toggleClass('vertical');
    });    
  }
  })();