- if is_next
  = link_to image_tag("arrow-next.png", :alt => "Get next points"), option_points_path(@option, :pros_only => is_pro, :cons_only => !is_pro, :page => target_page, :bucket => bucket, :mode => mode), :remote => true, :id => "paginate_points-#{mode}-#{target_page}-#{is_pro}", :class => 'next'
- else
  = link_to image_tag("arrow-prev.png", :alt => "Get previous points"), option_points_path(@option, :pros_only => is_pro, :cons_only => !is_pro, :page => target_page, :bucket => bucket, :mode => mode), :remote => true, :id => "paginate_points-#{mode}-#{target_page}-#{is_pro}", :class => 'prev'


:javascript
  $j('#paginate_points-#{mode}-#{target_page}-#{is_pro}').bind('ajax:success', function(data, status, xhr){
    ConsiderIt.points.lists.paginate_callback(status, "#{column_selector}");  
  });