%li.triangle
  %a.settings
    = current_user.name
  = image_tag "user_settings_triangle.png", :class => 'triangle_img'
  

  .spacing

  .hide
    .avatar.fl
      %a.settings
        = image_tag current_user.avatar.url(:thumb), :alt => "#{h current_user.name}'s profile picture"
    %ul.fr
      %li
        %a.settings
          Edit profile
      - if current_user.admin?
        %li
          = link_to 'Admin', rails_admin_dashboard_path, :class => 'admin'
      %li
        = link_to 'Log Out', destroy_user_session_path, :class => 'logout'
    .clear


%li.clear

#settings_dialog

- if false && !current_user.pledge_taken
  #pledge_dialog
    = render :partial => "users/sessions/pledge"


:javascript
  $j(document).ready(function() {
    $j("#pledge_dialog").dialog({
      bgiframe: true, 
      autoOpen: true, 
      modal: true,
      width: 'auto',
      draggable: false,
      resizable: false
    });

    $j("#settings_dialog").dialog({
      bgiframe: true, 
      autoOpen: false, 
      modal: true,
      width: 'auto',
      draggable: false,
      resizable: false
    });
  
    $j('a.settings')
      .click(function(){
        var dialog = $j('#settings_dialog');
        dialog.load("#{edit_user_registration_path}");
        dialog.dialog('open');
      });

    $j('#nav-user .triangle')
      .hover(
        function(){
          $j(this).find('.hide').slideDown();
        },
        function(){
          $j(this).find('.hide').slideUp();        
        });

    $j("#progressbar").each(function(){
      $j(this).progressbar({ value: #{100 * current_user.positions.count / [1,get_initiatives.length].max } });
    });

    
  });
