

%p
  #{@point.user.name} added a new #{@point.is_pro ? 'pro' : 'con'} point
  - if @notification.event_type == 'new_point_on_my_proposal'
    for your proposal:

  - else
    on a proposal you follow:

%p 
  %i{style: 'padding-left: 20px; display: block; border-left: 1px solid #eaeaea'}
    = strip_tags(@point.nutshell.gsub('</p><p>','\n').gsub('<br>', '\n'))


%p 
  The issue being discussed is 
  %a{href: full_link(@proposal.slug), style: 'font-weight: 700; color: #468EE5;'}
    = @proposal.name


%a{href: full_link(@proposal.slug, {selected: "%2Fpoint%2F#{@point.id}"}), style: 'font-weight: 700; color: #468EE5;'}
  Read and discuss this point


= content_for :footer do
  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to this proposal'}
  