:javascript
  $(document).ready(function(){

    ConsiderIt.public_root = "#{@public_root}"

    ConsiderIt.inaccessible_proposal = #{ @inaccessible_proposal ? @inaccessible_proposal.to_json : 'null' };

    ConsiderIt.current_tenant_data = #{current_tenant.to_json};

    ConsiderIt.users = #{@users};

    // CURRENT USER
    ConsiderIt.current_user = #{current_user ? current_user.id : 'null'};

    #{!current_user ? '' : "ConsiderIt.current_user_data = #{current_user.current_user_hash(form_authenticity_token, true).to_json}"}

    ConsiderIt.dash_data = #{@dash_data.to_json};

  });

