- is_cali = current_tenant.identifier == 'cali'

#footer_segments
  #service

    %h3.what
      A free, non-partisan service

    - if is_cali

      .where.line
        Also in #{link_to 'Washington', "https://#{@host_with_port.gsub('cali','wash')}"}

      .who.line
        by #{link_to 'CityClub', "http://www.seattlecityclub.org"}

    - else

      .who.line
        by #{link_to 'CityClub', "http://www.seattlecityclub.org"} and #{link_to "U. of Washington", "http://www.washington.edu"}

      .when.line
        Results from 
        %a.old.lvg2010.off
          2010
        &bull;
        %a.old.lvg2011.off
          2011

      .where.line
        Now in #{link_to 'California', "https://#{@host_with_port.gsub('wash','cali')}"}!     

    .help.line
      = link_to 'Donate', 'https://www.seattlecityclub.org/civicrm/contribute/transact?reset=1&id=10'        

  #powered
    %h3
      Powered by #{link_to "ConsiderIt", "https://github.com/tkriplean/ConsiderIt"}

    %span.use_considerit.line
      Contact #{link_to 'Travis','mailto:tkriplean@gmail.com?subject=I am interested in using ConsiderIt'} if you want to use this technology in your organization.

  #contact
    .contact
      %h3
        Contact us

      .line
        %span
          #{link_to 'Email', 'mailto:info@livingvotersguide.org?subject=I have a question or comment about the Living Voters Guide'},
        
        - if current_tenant.socmedia_facebook_page
          %span
            -#= link_to image_tag( 'facebook.png'), current_tenant.socmedia_facebook_page
            #{link_to 'Facebook', current_tenant.socmedia_facebook_page},

        - if current_tenant.socmedia_twitter_account
          %span
            -#= link_to image_tag( 'twitter.png'), "https://twitter.com/#{current_tenant.socmedia_twitter_account}"
            #{link_to 'Twitter', "https://twitter.com/#{current_tenant.socmedia_twitter_account}"}
      
        
    
    .partners
      %h3
        Partners & funders

      - if !is_cali
        .partner.line
          = link_to 'Seattle Public Library', 'http://www.spl.org'

      - else

        .partner.line
          = link_to "CITRIS Data & Democracy Initiative, UCB", "http://citris-uc.org/"

        .partner.line
          = link_to "Unruh Institute of Politics, USC", "http://dornsife.usc.edu/unruh/"

        .partner.line
          = link_to "California Voter Foundation", "http://www.calvoter.org/"

        .partner.line
          = link_to "University of Washington", "http://www.washington.edu"

      .partner.line
        = link_to "National Science Foundation", "http://www.nsf.gov"

      .partner.line
        = link_to "The Whitman Institute", "http://www.thewhitmaninstitute.org/"


  #voter_info
    %h3
      Information for voters
    - if !is_cali

      - links = [{:anchor=>'League of Women Voters of Gr. Seattle',:link=>'http://www.lwvwa.org/positions.html#positions', :title=>'Voters Guide by the League of Women Voters'},  {:anchor=>'Progressive Voters Guide', :link=>'http://progressivevotersguide.com/', :title=>'Voters Guide by Fuse'}, {:anchor=>'Washington Policy Center', :link=>'http://www.myelectionresource.com', :title=>'Voters Guide by the Washington Policy Center'}, {:anchor=>'Washington Secretary of State', :link=>'http://wei.secstate.wa.gov/osos/en/Pages/OnlineVotersGuide.aspx', :title=>'Voters Guide by the Secretary of State'}, {:anchor=>'TVW Video Voters Guide', :link=>'http://www.tvw.org/2012-video-voters-guide-general-election', :title=>'A video Voters Guide by TVW'}, {:anchor => "About the initiative process", :link => "http://www.ncsl.org/default.aspx?tabid=16600", :title => 'About the initiative process'}, {:anchor => "History of WA ballot measures", :link => "http://www.sos.wa.gov/elections/initiatives/statistics.aspx", :title => 'History of WA ballot measures'}, {:anchor => "Filing an initiative in WA", :link => "http://www.sos.wa.gov/_assets/elections/Initiative%20and%20Referenda%20Manual.pdf", :title => 'Filing an initiative in WA'} ]
    - else
      - links = [ {:anchor=>'California Online Voter Guide',:link=>'http://www.calvoter.org/covg', :title=>'California Online Voter Guide'}, {:anchor=>'SmartVoter',:link=>'http://www.smartvoter.org/', :title=>'SmartVoter by League of Women\'s Voters of California'}, {:anchor=>'Maplight\'s Voter Guide',:link=>'http://maplight.org/voter', :title=>'Voters guide by the non-partisan Maplight group'}, {:anchor=>'Official guide by Sec. of State',:link=>'http://voterguide.sos.ca.gov/', :title=>'The definitive guide by the Secretary of State'}, {:anchor=>'Easy Voter Guide',:link=>'http://www.easyvoterguide.org/', :title=>'Succinct summaries by League of Women Voters'}, {:anchor=>'County Election Offices Roster',:link=>'http://www.calvoter.org/voter/government/ceo.html', :title=>'Get your questions answered about voting'}, {:anchor=>'California Choices',:link=>'http://www.californiachoices.org/ballot-measures-2012-6', :title=>'Comprehensive resource for all state propositions'}]


    - links.each do |link|
      .line
        = link_to(link[:anchor] , link[:link], :target => "_blank", :title => link[:title])




