- is_cali = current_tenant.identifier == 'cali'

#footer_segments
  #service

    %h3.what
      A free, non-partisan service

    .who.line
      by
      - if is_cali
        #{link_to 'City Club', "http://www.seattlecityclub.org"}
      - else
        #{link_to 'Seattle City Club', "http://www.seattlecityclub.org"} and #{link_to "U. of Washington", "http://www.washington.edu"}

    .when.line
      - if !is_cali
        See measures from 
        %a.old.lvg2010
          2010
        &bull;
        %a.old.lvg2011
          2011

    .where.line
      - if is_cali
        Also in #{link_to 'Washington', 'https://wash.livingvotersguide.org'}.
      - else
        Now in #{link_to 'California', 'https://cali.livingvotersguide.org'}!     

  #powered
    %h3
      Powered by #{link_to "ConsiderIt", "https://github.com/tkriplean/ConsiderIt"}

    %span.use_considerit.line
      Contact #{link_to 'Travis','mailto:tkriplean@gmail.com?subject=I am interested in using ConsiderIt'} if you want to use this technology in your organization.

  #contact
    .contact
      %h3
        Contact us

      .line
        %span
          #{link_to 'email', 'mailto:info@livingvotersguide.org?subject=I have a question or comment about the Living Voters Guide'},
        
        - if current_tenant.socmedia_facebook_page
          %span
            -#= link_to image_tag( 'facebook.png'), current_tenant.socmedia_facebook_page
            #{link_to 'Facebook', current_tenant.socmedia_facebook_page},

        - if current_tenant.socmedia_twitter_account
          %span
            -#= link_to image_tag( 'twitter.png'), "https://twitter.com/#{current_tenant.socmedia_twitter_account}"
            #{link_to 'Twitter', "https://twitter.com/#{current_tenant.socmedia_twitter_account}"},
      
        %span
          = link_to 'Donate', 'https://www.seattlecityclub.org/civicrm/contribute/transact?reset=1&id=10'
    
    .partners
      %h3
        Partners & funders

      - if !is_cali
        .partner.line
          = link_to 'Seattle Public Library', 'http://www.spl.org'

      .partner.line
        = link_to "Whitman Institute", "http://www.thewhitmaninstitute.org/"

      .partner.line
        = link_to "National Science Foundation", "http://www.nsf.gov"

  #voter_info
    %h3
      Information for voters
    - if !is_cali

      - links = [{:anchor=>'League of Women Voters of Gr. Seattle',:link=>'http://sites.google.com/site/wavoter/ballot', :title=>'Voters Guide by the League of Women Voters'},  {:anchor=>'Progressive Voters Guide', :link=>'http://waballotguide.com/', :title=>'Voters Guide by Fuse'}, {:anchor=>'Washington Policy Center', :link=>'http://www.washingtonpolicy.org/research/ballot-measures/new', :title=>'Voters Guide by the Washington Policy Center'}, {:anchor=>'Washington Secretary of State', :link=>'http://wei.secstate.wa.gov/osos/en/Pages/OnlineVotersGuide.aspx', :title=>'Voters Guide by the Secretary of State'}, {:anchor=>'TVW Video Voters Guide', :link=>'http://www.tvw.org/elections/2010videovotersguide.cfm', :title=>'A video Voters Guide by TVW'}, {:anchor => "About the initiative process", :link => "http://www.ncsl.org/default.aspx?tabid=16600", :title => 'About the initiative process'}, {:anchor => "History of WA ballot measures", :link => "http://www.sos.wa.gov/elections/initiatives/statistics.aspx", :title => 'History of WA ballot measures'}, {:anchor => "Filing an initiative in WA", :link => "http://www.sos.wa.gov/_assets/elections/Initiative%20and%20Referenda%20Manual.pdf", :title => 'Filing an initiative in WA'} ]
    - else
      - links = []


    - links.each do |link|
      .line
        = link_to(link[:anchor] , link[:link], :target => "_blank", :title => link[:title])




