

%p.head
  #{@user.first_name}, a new proposal has been added#{@proposal.user_id ? " by " + @proposal.user.name : ''}.

.object
  &ldquo;#{link_to @proposal.title, @url}&rdquo;

.action_call
  .rest
    .call
      = link_to 'Think through this proposal', @url

= content_for :footer do

  = render :partial => 'event_mailer/unsubscribe', :locals => {:description => ' to new proposal updates'}