- prompt ||= @proposal.name ? @proposal.name : 'Help consider this, please.'

.proposal_prompt

  .head.single
    %h3.banner
      - if @is_admin
        - @proposal.name = prompt
        = render :partial => 'proposals/admin_make_editable', :locals => { :field => :name}
      - else
        = prompt
  
  - if @proposal.user && @proposal.user.avatar_file_name
    .pic
      = image_tag @proposal.user.avatar.url(:medium), :class => 'avatar'

  .description_wrapper

    .full_text
      - if @is_admin
        = render :partial => 'proposals/admin_make_editable', :locals => { :field => :description}
      - else
        = @proposal.description

    - if @proposal.user
      .author
        &ndash; #{@proposal.user.name}


  .clear
