//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

- prompt ||= @proposal.name ? @proposal.name : 'Help consider this, please.'

.proposal_results_description{ :class => "#{hide_initially ? 'hiding' : ''}"}

  .head.single
    %h3.banner
      Results: #{@proposal.title}


    %a.show_details.hide
      show details
    %a.hide_details.hide
      hide details

  .pic.hide
    - if @proposal.user
      = image_tag @proposal.user.avatar.url(:medium), :class => 'avatar'

  .description_wrapper.hide

    .full_text
      = @proposal.description

    - if @proposal.user
      .author
        &ndash; #{@proposal.user.username}

  .clear
