.proposal_prompt{ :class => "#{hide_initially ? 'hiding' : ''}"}
  = render :partial => "proposals/blocks/strip", :locals => { :style => 'menu', :hide_initially => hide_initially }

  .pic

  .description_wrapper
    .init_text
      %h2.locality
        = @proposal.domain
        = @proposal.category
        = @proposal.designator
        
      %h1.proposal_name
        #{@proposal.name.html_safe}

    .full_text
      - for i in @proposal.format_description
        %p= h i.html_safe
    
    - if @proposal.long_description && @proposal.long_description.strip != ''
      .long_description
        .prompt
          Long Description
          %a.hidden
            show
        .full.hide
          = @proposal.long_description.html_safe

    - if @proposal.additional_details && @proposal.additional_details.strip != ''
      .additional
        .prompt
          Fiscal impact statement
          %a.hidden
            show
        .full.hide
          = @proposal.additional_details.html_safe

    - if @proposal.url && @proposal.url.strip != ''
      #full_desc_block
        #{'...'}or read the 
        =link_to "official measure", @proposal.url, :title => "Visit the official listing on the state's website", :target => '_blank'

  .clear
