

- prompt ||= @proposal.name ? @proposal.name : 'Help consider this, please.'

.proposal_prompt

  - if @can_update || @can_delete
    = render :partial => 'proposals/admin_actions'



  .head.single
    %h1.banner
      - if @can_update
        - @proposal.name = prompt
        = render :partial => 'proposals/admin_make_editable', :locals => { :field => :name}

      - else
        = prompt
  
  - if @proposal.user && @proposal.user.avatar_file_name
    .pic
      = image_tag @proposal.user.avatar.url(:medium), :class => 'avatar'

  .description_wrapper

    .full_text
      - if @can_update
        = render :partial => 'proposals/admin_make_editable', :locals => { :field => :description}
      - else
        = simple_format(auto_link(@proposal.description.html_safe, :all, :target => "_blank"))

    - if @proposal.user
      .author
        &ndash; #{@proposal.user.username}


  .clear
