- prompt ||= 'Propose a new idea'

.new_proposal

  - if current_user
    .full
      = form_for :proposal, :url => {:controller => :proposals, :action => :create}, :html => {:class => 'new_proposal_form'} do |f|
        = image_tag current_user.avatar.url(:small), :class => 'avatar'
        = f.text_area :description, :placeholder => 'Summarize your proposal. You can edit it and add a detailed description next.'
        = f.submit 'Save'
  .prompt
    + #{prompt}
    
    - if !current_user
      #login_trigger.user_dialog


:javascript
  var user = #{current_user ? current_user.id : 'null'};
  $j(document)
    .on('click', '.new_proposal .prompt', function(){
      if ( user ) {
        $j(this).parent().children().toggle();
        $j('.new_proposal .full #proposal_description').focus();
      } else {
        $j('#login_trigger')
          .load("#{new_user_registration_path(:third_party=>false, :context=>"proposal_submit")}")
          .dialog('open');      
      }
    });

  $j(document).ready(function(){
    //$j('#proposal_description').inlined_labels();
    $j('.new_proposal .full').hide();
  });