-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

= cache [@proposal, 'histogram'] do

  - people_bars ||= true
  - barheight = 180

  -# stance_breakdown = @proposal.stance_fractions
  - if stance_breakdown.length > 0
    - height_scaler = has_position ? stance_breakdown.max : 1
    - user_position = @position && @position.published ? @position : nil

    - if people_bars
      - positions = Hash.new{|h,k| h[k] = [] }
      - @positions.each do |position|
        - positions[position.stance_bucket].push(position)

    #histogram
      %table
        %tr
          %td.support
            = @proposal.slider_left || 'Supporters'

          - stance_breakdown.reverse.each_with_index do |bucket_percentile, index| 
            - height = bucket_percentile/height_scaler

            %td.bar_cell

              .bar.empty{ :style => "height: #{barheight - height * barheight}px;"}
                - if user_position && user_position.stance_bucket == 6 - index
                  .personal_position.update
                    .label
                      You
                      .arrow
                        &#10553;
                    .revise
                      #{link_to 'Revise', edit_proposal_position_url(@proposal.long_id, user_position)} 


              .bar.full{ :style => "height: #{height * barheight}px;", :bucket => "#{6-index}", :id => "bucket-#{6-index}", :class => "#{bucket_percentile == 0 ? 'noone' : 'some'}", :title => 'Click to lock in place'}

                .close
                  x

                .border_cover

                - if people_bars && positions[6-index].length > 0
                  %ul.people_bar.hide
                    = render :partial => "positions/statement/block", :locals => { :positions => positions[6-index] }
                    %li.clear

          %td.oppose
            = @proposal.slider_right || 'Opposers'

      #axis_arrow
                  
