-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

#sitemap
  %h1
    Washington State Ballot Measures, 2011
  %ul
    - @proposals.each do |opt|

      %li
        %a{ :href => "#{proposal_path(opt.long_id)}", :title => "#{opt.domain} #{opt.category} #{opt.designator} #{opt.name}"}
          #{opt.domain} #{opt.category} #{opt.designator} #{opt.name} 
