-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- proposal_stance_data = @proposal.stance_fractions
- has_position = proposal_stance_data.sum > 0
- update = @position && @position.published
- render_other_proposals_menu ||= current_tenant.theme != 'chalkboardit'

= render :partial => "proposals/blocks/menu"

= render :partial => "proposals/description"


#explore_proposal
  #proposal_id.hide
    = @proposal.id
  #proposal_long_id.hide
    = @proposal.long_id
  
  %ol    

    %li.breakdown
              
      / - if !update && has_position
      /   %a.button.personal_position{ :href => "#{ update ? edit_proposal_position_path(@proposal.long_id, @position) : new_proposal_position_path(@proposal.long_id)}", :class => "contribute"}
          
      /     Contribute your thoughts

      - if !has_position
        .empty_explanation
          No one has said what they think yet! When they do, this area will become an interactive bar graph. 

          %a{ :href => "#{ update ? edit_proposal_position_path(@proposal.long_id, @position) : new_proposal_position_path(@proposal.long_id)}", :class => "contribute"}
            
            You should contribute your perspective.

        .bar{ :style => "visibility: hidden; border: none; margin: 0; padding: 0; width: 0; height: 100%; left: 0px"}
      - else
        .head.single
          - if @position        
            %h3.banner.thanks
              Thanks for your contribution, #{current_user.first_name}.
            %h3.single.banner.results_prompt
              Now explore the overall results!
          - else
            %h3.banner.thanks
              Explore the overall results
            %h3.banner.results_prompt
              Don't forget to 
              = succeed '!' do 
                %a.personal_position{ :href => "#{ update ? edit_proposal_position_path(@proposal.long_id, @position) : new_proposal_position_path(@proposal.long_id)}", :class => "contribute"} contribute your own position
            


        = render :partial => "proposals/stance_histogram", :locals => { :stance_breakdown => proposal_stance_data, :has_position => has_position}

    %li.ranked_points

      .explore#ranked_points

        - if has_position
          .action
            Click a bar to filter results ^

        = render :partial => "points/pro_con_list", :locals => { :dynamic => false, :bucket => 'all', :points => {:pros => @pro_points, :cons => @con_points} }


    %li.clear
 

- if render_other_proposals_menu
  #other_proposals
    %h3
      Done with this one? Weigh in on these other proposals. Or visit the 
      = succeed '.' do 
        %a{:href => '/', :title => 'homepage'} homepage

    = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false, :prompt => 'Vote on this proposal' }



:javascript
  $j(document).ready(function(){
    $j('.proposal_item').each(function(){
      var proposal_id = $j(this).attr('id').substring(14);
      
      if (proposal_id == #{@proposal.id}){
        $j(this).addClass('active');
        $j(this).children('a').addClass('active');
      }
    });
  });
  
-# if @position

  //if (ConsiderIt && ConsiderIt.study) {
  //  $j(document).delegate('.point_in_list a.toggle', 'click', function(){
  //    $j.post('/home/study/1', {
  //      position_id: #{@position.id},
  //      proposal_id: #{@proposal.id},
  //      point_id: $j(this).parents('.point_in_list').find('.id:first').text(),
  //      bval: $j(this).hasClass('more')
  //    });   
  //  });
  //}
  
