%script{ :type => "text/template", :id => "tpl_verdict_tooltip"}
  .point-assessment-verdict-tooltip
    .verdict-tooltip-title
      This point has been fact-checked
    .verdict-tooltip-content
      {{ content }}
    .verdict-tooltip-readmore
      Click to read more.

%script{ :type => "text/template", :id => "tpl_assessment_layout"}
  .point-assessment-request
  .point-assessment


%script{ :type => "text/template", :id => "tpl_assessment_request"}
  (( if( !already_requested_assessment ) { ))
  %button.point-assessment-request-initiate.button
    %i.fa.fa-info
    Ask a librarian about this point
  (( } else { ))
  .point-assessment-requested-feedback
    Your fact check request has been registered.
  (( } ))


%script{ :type => "text/template", :id => "tpl_assessment_request_form"}

  .assessment-request-prompt
    Which claims do you wish to have researched and evaluated by a librarian?

  %textarea#request_suggestion{ :name => "request[suggestion]"}

  (( if( ConsiderIt.request('user:current:logged_in?') ) { ))
  .submit_block
    %input.button{ :name => "commit", :type => "submit", :value => "Submit your request"}
  (( } else { ))
  .login
    You must

    = surround '' do 
      %a{:'action' => 'login', :class => "login-signin"}
        Sign In
    to request a fact check.
  (( } ))

  %p.guidelines
    Only falsifiable statements can be checked. See the #{link_to 'guidelines', '/home/fact_check', :target => "_blank"} for help.


%script{ :type => "text/template", :id => "tpl_assessment_header"}
  (( claims.each(function(claim){ ))
  .claim-summary

    .claim-summary-restatement
      Fact-check: {{ claim.get('claim_restatement') }}
    .claim-summary-evaluation
      Rated: {{ claim.getVerdict().get('name') }}.
    .claim-summary-link
      = link_to 'Read the full report', "#claim-comment-{{claim.id}}"
  (( }) ))

%script{ :type => "text/template", :id => "tpl_claim_comment_view"}
  %img.comment-avatar.claim-evaluation{:src => "{{verdict.getIcon()}}", :title => "{{verdict.get('desc')}}"}

  .comment-body-wrap
    .comment-claim-restatement
      Fact-check: {{ claim.get('claim_restatement') }}
    .comment-claim-evaluation
      Rated: {{ verdict.get('name') }}
    .comment-claim-report
      {{ claim.get('result') }}

    .comment-footer
      %span.comment-author
        &ndash; 
        = link_to 'Seattle Public Library', 'http://spl.org', :target => '_blank'

      .thank

        (( if(can_thank && !user_thanked){ ))
        %button.thank
          thanks

        (( } else if(user_thanked){ ))

        %a.unthank
          undo thank
        (( } )) 

      (( if(thanks.length > 0 ) { ))
      .thank-given      

        %ul
          (( thanks.each( function(thank){ ))
          %li.l-thanks-item
            %span.avatar{ :'action' => "user_profile_page", :'id' => "{{thank.get('user_id')}}", :id => "avatar-{{thank.get('user_id')}}", :class => "participant"}
          (( }); ))
        %span.given_thanks
          {{ thanks.length }} {{ thanks.length == 1 ? 'person says' : 'people say' }} thanks
      (( } ))

      .comment-claim-process       
        = link_to 'Read about the fact-checking process', '/home/fact_check', :target => '_blank' 

