-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

:javascript
  (function(){
  $(document).ready(function () {init();});
  if($(window)){$(window).bind('page:change', function() {init();});}
  function init(){

    // INITIALIZE SLIDERS
    var params = { 
      min: 0.0, 
      max: 2.0, 
      value: #{-1 * @position.stance + 1}, 
      step: .015,
      slide: function(event, ui) {
        ConsiderIt.positions.set_slider_value(ui.value);
      },
      change: function(event, ui) {
        ConsiderIt.positions.set_slider_value(ui.value);
      }
    };

    $(".slider").slider(params);
    ConsiderIt.positions.set_slider_value(#{-1 * @position.stance + 1});

  }
  })();

- entity = @proposal.label_proposal
- slider_prompt = @proposal.label_slider_prompt
- considerations_prompt = @proposal.label_considerations_prompt
- statement_prompt = @proposal.label_statement_prompt


- has_other_points = @pro_points.length + @con_points.length > 0
- points = { :pros => @included_pros, :cons => @included_cons }
- render_other_proposals_menu ||= current_tenant.theme != 'chalkboardit'


= render :partial => "proposals/blocks/menu"

//TODO: proper unique name
#craft_position

  #proposal_long_id.hide
    = @proposal.long_id

  = render :partial => "proposals/description"

  = render :partial => "positions/slider", :locals => { :id => 1, :number => 1, :prompt => slider_prompt }
  

  .head.single
    %h1.banner
      = considerations_prompt


  .user_opinion

  #submitstance
    .rest

      .stanceform

        - if @user
          = form_for [@proposal, @position] do |f|
            = render :partial => "positions/submit", :locals => { :f => f }

        - else
          = form_for :position, :url => proposal_positions_path(@proposal.long_id), :remote => true do |f|
            = render :partial => "positions/submit", :locals => { :f => f }

            #position_save_login_trigger.user_dialog

            :javascript
              (function(){
              $(document).ready(function () {
                init();
              });
              $(window).bind('page:change', function() {
                init();
              });
              function init(){

                $('#position_save_login_trigger').dialog({
                  autoOpen: false,
                  modal: true,
                  draggable: false,
                  dialogClass: 'alert',
                  width: 800
                });

                $('.stanceform input.submit').click(function(){
                  $('#position_save_login_trigger')
                    .load("#{new_user_registration_path(:third_party=>false, :context=>"position_submit")}", function(){
                      if ($('.notifications input[type="checkbox"]').prop("checked")) {
                        $('#site_registration .email_field #user_email').val($('.notifications .email input').val());
                      }
                    })
                    .dialog('open');
                  return true;
                });

              }
              })();

        - if current_user && @position.published
          = link_to 'Discard changes and show the results', proposal_position_path(@proposal.long_id, @position, :authenticity_token => form_authenticity_token), :method => :delete, :class => "skip_save"
        - else
          = link_to 'Discard my position and just show the results', proposal_path(@proposal.long_id, :anchor => 'explore_proposal'), :class => "button skip_save"


  - if render_other_proposals_menu
    #other_proposals
      .head.single
        %h1.banner 
          Rather move on to another? 

      = render :partial => "proposals/blocks/strip", :locals => { :style => 'blocks', :hide_initially => false, :prompt => 'Vote on this proposal' }



  :javascript
    (function(){
      $(document).ready(function () {
        init();
      });
      $(window).bind('page:change', function() {
        init();
      });
      function init(){
        $('li.statement.step textarea').change(function(){
          var statement = $(this).val();
          $('form .stance.position_statement textarea').val(statement);
        });  
      }
      })();