%li{ :id => "initiative_item-#{option.id}", :class => "initiative_item #{has_stance(option) ? 'finished' : 'not-finished'} #{option==@option ? 'active' : 'not-active'} #{style}" }

  %a.initiative_block_wrapper{ :href => option_path(option), :title => "Think through option #{option.category} #{option.designator}"}

    - if style == 'vertical'
      .short_name
        = option.short_name

      .number
        = option.designator

    - else

      .designation
        =option.domain_short

      .number
        = option.designator
                              
      .short_name
        = option.short_name

  .completion
    &#x2713;