
%script{ :type => "text/template", :id => "tpl_footer" }

  .l_footer_segments
    #service

      .heading.what
        = link_to 'A free non-partisan service by', '/home/about'
          

      .line
        

      .line
        #{link_to 'Contact us', 'mailto:info@livingvotersguide.org?subject=I have a question or comment about the Living Voters Guide'}


    #powered

      .power  
        .heading
          Powered by 
          %br
          %a{:href => "http://consider.it", :target => "_blank", :title => "ConsiderIt homepage"}
            = image_tag 'considerit_logo.png'

        %span.use_considerit.line
          Use #{link_to 'in your organization','mailto:travis@consider.it?subject=I am interested in using ConsiderIt'}.

    #contact
      
      .partners
        .heading
          Partners

        .partner.line
          = link_to 'The Seattle Public Library', 'http://www.spl.org', :target => "_blank"

        .partner.line 
          = link_to "ConsiderIt", "http://consider.it", :target => "_blank"

        .partner.line 
          = link_to "UW Engage", "http://engage.cs.washington.edu", :target => "_blank"

        -# .partner.line
          = link_to "Center for Comm & Civic Engagement", "http://ccce.com.washington.edu/", :rel => 'nofollow', :target => "_blank"


      .partners
        .heading
          Funders

        .partner.line
          = link_to "Hewlett Foundation", "http://www.hewlett.org/", :rel => 'nofollow', :target => "_blank"

        .partner.line
          = link_to "National Science Foundation", "http://www.nsf.gov", :rel => 'nofollow', :target => "_blank"

        .partner.line
          = link_to "Google Research Award", "http://research.google.com/university/relations/research_awards.html", :rel => 'nofollow', :target => "_blank"



    #voter_info
      .heading
        Additional voter resources

      - links = [{:anchor => 'Responsible Choices Washington', :link=>'http://www.responsiblechoiceswa.org/', :title=>'Responsible Choices Washington'}, {:anchor=>'League of Women Voters - Washington',:link=>'http://www.lwvwa.org/positions.html#positions', :title=>'Voters Guide by the League of Women Voters'},  {:anchor=>'Progressive Voters Guide', :link=>'http://progressivevotersguide.com/', :title=>'Voters Guide by Fuse'}, {:anchor=>'Washington Policy Center', :link=>'http://www.washingtonpolicy.org/', :title=>'Voters Guide by the Washington Policy Center'}, {:anchor=>'Washington Secretary of State', :link=>'https://wei.sos.wa.gov/agency/osos/en/press_and_research/PreviousElections/2012/General-Election/Pages/Online-Voters-Guide.aspx', :title=>'Voters Guide by the Secretary of State'}, {:anchor=>'TVW Video Voters Guide', :link=>'http://www.tvw.org/2013-video-voters-guide', :title=>'A video Voters Guide by TVW'}, {:anchor => "About the initiative process", :link => "http://www.ncsl.org/default.aspx?tabid=16600", :title => 'About the initiative process'}, {:anchor => "History of WA ballot measures", :link => "http://www.sos.wa.gov/elections/initiatives/statistics.aspx", :title => 'History of WA ballot measures'}, {:anchor => "Filing an initiative in WA", :link => "http://www.sos.wa.gov/_assets/elections/Initiative%20and%20Referenda%20Manual.pdf", :title => 'Filing an initiative in WA'}, {:anchor => "Vote 411", :link => "http://www.vote411.org/", :title => "Vote411"} ]


      - links.each do |link|
        .line
          = link_to(link[:anchor] , link[:link], :target => "_blank", :title => link[:title], :rel => 'nofollow')

  #copromoters
    - media_links = [{:anchor=>'Wenatchee World',:link=>'http://www.wenatcheeworld.com/'},{:anchor=>'Tri-City Herald',:link=>'http://www.tri-cityherald.com/'},{:anchor=>'The Daily Herald',:link=>'http://www.heraldnet.com/'},{:anchor=>'The Daily World',:link=>'http://thedailyworld.com/'},{:anchor=>'Crosscut',:link=>'http://crosscut.com/'},{:anchor=>'The Chronicle',:link=>'http://www.chronline.com/'},{:anchor=>'Centralia Battle Ground Reflector',:link=>'http://www.thereflector.com/'},{:anchor=>'Nisqually Valley News',:link=>'http://www.yelmonline.com/'}, {:anchor => 'Yakima Republic Herald', :link => 'http://www.yakimaherald.com/'}]

    - copromoters = [{:anchor=>'AARP',:link=>'http://www.aarp.org/'},{:anchor=>'American Society for Public Administration - Evergreen Chapter',:link=>'http://www.evergreenaspaonline.org/'},{:anchor=>'Anacortes Public Library',:link=>'http://library.cityofanacortes.org/client/default'},{:anchor=>'Asotin County Library',:link=>'http://www.aclib.org/'},{:anchor=>'Everett Public Library',:link=>'http://www.epls.org/'},{:anchor=>'Grays Harbor County Republican Central Committee',:link=>'http://www.ghgop.net/'},{:anchor=>'King County Elections',:link=>'http://www.kingcounty.gov/elections.aspx'},{:anchor=>'Leadership Eastside',:link=>'http://www.leadershipeastside.com/'},{:anchor=>'Leadership Tomorrow',:link=>'http://www.leadershiptomorrowseattle.org/index.html'},{:anchor=>'Longview Public Library',:link=>'http://www.longviewlibrary.org/'},{:anchor=>'Municipal League Foundation',:link=>'http://www.munileague.org/'},{:anchor=>'Northwest Progressive Institute',:link=>'http://www.nwprogressive.org/'},{:anchor=>'Office of the Secretary of State',:link=>'http://www.sos.wa.gov/'},{:anchor=>'Orcas Island Library District',:link=>'http://www.orcaslibrary.org/'},{:anchor=>'Philanthropy NW',:link=>'http://www.philanthropynw.org/s_pnw/index.asp'},{:anchor=>'Pierce County Library System',:link=>'http://www.piercecountylibrary.org/'},{:anchor=>'Responsible Choices',:link=>'http://www.responsiblechoiceswa.org/'},{:anchor=>'Seattle Public Library',:link=>'http://www.spl.org/'},{:anchor=>'Seattle Works',:link=>'http://www.seattleworks.org/'},{:anchor=>'Washington News Council',:link=>'http://wanewscouncil.org/'},{:anchor=>'Win/Win Network',:link=>'http://winwinnetwork.org/'},{:anchor=>'Women\'s Funding Alliance',:link=>'http://www.wfalliance.org/'},{:anchor=>'Greater Seattle Business Association',:link=>'http://www.thegsba.org/'},{:anchor=>'Island County Democrats',:link=>'http://islandcountydemocrats.wordpress.com/'},{:anchor=>'League of Women Voters - Washington',:link=>'http://www.lwvwa.org/'},{:anchor=>'Mercer Island Chamber of Commerce',:link=>'http://www.mercerislandchamber.com/default.aspx'},{:anchor=>'Rock the Vote',:link=>'http://www.rockthevote.org/'},{:anchor=>'Snohomish County Republican Central Committee',:link=>'http://www.snocogop.com/'},{:anchor=>'Whitman County Library System',:link=>'http://www.whitco.lib.wa.us/'},{:anchor=>'Ritzville Public Library',:link=>'http://www.ritzvillelibrary.org/'},{:anchor=>'Lincoln County Republican Central Committee',:link=>'http://www.lincolncountygop.com/'}, {:anchor=>'Tacoma Chamber of Commerce',:link=>'http://www.tacomachamber.org/'}]


    .copromoters
      %ul
        %li.strong
          Thanks to our media partners!
        - media_links.each do |link|
          %li
            = link_to(link[:anchor] , link[:link], :target => "_blank", :title => link[:anchor], :rel => 'nofollow')

    .copromoters


      %ul

        %li.strong
          Thanks to our co-promoters!
        - copromoters.each do |link|
          %li
            = link_to(link[:anchor] , link[:link], :target => "_blank", :title => link[:anchor], :rel => 'nofollow')




