%script{ :type => "text/template", :id => "tpl_static_sidebar" }
  %ul

    %li
      %a.sidebar_link{:href => "/home/about", :'action' => 'about'}
        About LVG

    %li
      %a.sidebar_link{:href => "/home/fact_check", :'action' => 'fact_check'}
        Fact checking by SPL

    %li
      %a.sidebar_link{:href => "/home/media", :'action' => 'media'}
        News stories about LVG

    %li
      %a.sidebar_link{:href => "/home/awards", :'action' => 'awards'}
        Awards

    %li
      %a.sidebar_link{:href => "/home/publications", :'action' => 'publications'}
        Academic Publications

    %li
      %a.sidebar_link{:href => "/home/videos", :'action' => 'videos'}
        Video tutorials

    %li
      %a.sidebar_link{:href => "/home/terms-of-use", :'action' => 'terms-of-use'}
        Terms of use

%script{ :type => "text/template", :id => "tpl_static_about"}
  #static-header
    %h1
      About the Living Voters Guide

  #static-main
    %p.history
      We have offered the Living Voters Guide as a place for Washington citizens to hear each others' thoughts about ballot measures since 2010. LVG started as a collaboration between 
      %a{:href => "http://seattlecityclub.org", :target => "_blank"}
        Seattle CityClub 
      and a team of Computer Science and Political Science researchers at the University of Washington, funded by a National Science Foundation grant. Three elections later, the LVG is an 
      %a{:href => "/home/awards", :'action' => 'awards'}
        award-winning 
      civic platform for facilitating community deliberation about ballot measures, drawing participation from over 30,000 Washingtonians. 

    %p.history
      = succeed ',' do
        %a{:href => "http://consider.it", :target=>"_blank"}
          ConsiderIt    
      the technology we invented to power the LVG, encourages voters to think through the tradeoffs of a proposed ballot measure by inviting them to create a pro/con list that captures the most important factors in their decision. Beyond a traditional pro/con list, however, participants can also include into their own pro/con lists the points other citizens have already contributed. This encourages people to use the considerations of others to help them reach their own conclusions. From these activities, LVG creates an evolving guide to public thought on ballot issues. By identifying pros and cons that both supporters and opposers recognize as important, LVG draws attention to common ground. 

    %p.history
      Throughout, we have published 
      %a{:href => "/home/publications", :'action' => 'publications'}
        peer-reviewed articles 
      describing the design and evolution of the technology, while also analyzing the outcomes. For example, we have found that LVG encourages citizens to consider tradeoffs. Despite the contentious nature of many of these ballot measures, 45.0% of all pro/con lists include both pros and cons, demonstrating that it is possible to encourage citizens to consider tradeoffs and shed light on those more nuanced deliberations. In summative user studies, we've also found that citizens are surprised and encouraged when LVG shows people with whom they disagreed recognizing the importance of both pros and cons, especially when the &#8220;disagreers&#8221; included some of the same points they themselves thought important. Citizens could thus unexpectedly find common ground.

    %p.history

      %a{:href => "http://seattlecityclub.org", :target => "_blank"}
        Seattle CityClub
      provides a place for civic conversation, inspiration and action. Living Voters Guide brings this opportunity to statewide voters and builds a more informed, engaged and healthy community. Seattle CityClub is a non-profit organization that is passionately nonpartisan, and is committed to strengthening the civic health of our region.    



    %p.history
      %a.t-about-image.fr{:href => "http://consider.it", :target => "_blank", :title => "ConsiderIt: Technology for Good Dialogue"}
        = image_tag 'considerit_logo.png', :width => '130'    
      = succeed ',' do 
        %a{:href => "http://about.me/travis.kriplean", :target=>"_blank", :title => "Travis Kriplean's homepage"}
          The creator of the LVG
      has recently 
      %a{:href => "http://consider.it", :target => "_blank"}
        started a company 
      to expand the use of ConsiderIt to cooperatives, governments, businesses, networks of organizations and elsewhere to help large groups make decisions more effectively. 



    %p.history
      %a{:href => "http://spl.org", :target => "_blank"}
        Seattle Public Library 
      joined the partnership in 2012 to offer a popular
      %a{:href => "/home/fact_check", :'action' => 'fact_check'}
        on-demand fact checking service 
      to help citizens understand which statements are trustworthy. Any registered LVG participant can ask a librarian to do further research on claims made on any pro or con point contributed by other citizens. 





%script{ :type => "text/template", :id => "tpl_static_publications" }

  #static-header
    %h1 
      Peer-reviewed Publications

  #static-main.pubs

    %p.history
      These are some of the academic publications that describe the design of the technology and analyze the outcomes.

    %ul

      %li.media-story
        %a{ :href => "https://dl.dropboxusercontent.com/u/3403211/paper431.pdf", :target => "_blank", :rel => "nofollow"}
          Integrating On-demand Fact checking with Public Dialogue.
        .loc
          Forthcoming, ACM Conference on Computer-Supported Cooperative Work, 2013


      %li.media-story
        %a{ :href => "http://dub.washington.edu/djangosite/media/papers/kriplean-cscw2012.pdf", :target => "_blank", :rel => "nofollow"}
          Supporting Reflective Public Thought with ConsiderIt.
        .loc
          ACM Conference on Computer-Supported Cooperative Work, 2011



      %li.media-story
        %a{ :href => "http://dx.doi.org/10.1080/19331681.2012.665755", :target => "_blank", :rel => "nofollow"}
          Facilitating Diverse Political Engagement with the Living Voters Guide
        .loc
          Journal of Information Technology & Politics, 9 (3) 2011


    
  

%script{ :type => "text/template", :id => "tpl_static_awards" }
  #static-header
    %h1 
      Awards

  #static-main.awards
    %ul
      %li.media-story
        %a{ :href => "http://www.geekwire.com/2012/local-developers-awarded-government-app-challenge/", :target => "_blank", :rel => "nofollow"}
          Grand Prize, Best State-wide 
        .loc
          Evergreen Apps Challenge, 2012

      %li.media-story
        %a{ :href => "http://sifp.net/content/official-list-sifp-winners-2012", :target => "_blank", :rel => "nofollow"}
          1st place, Established Non-profit
        .loc
          Seattle Social Innovators Fast Pitch, 2012

      %iframe{:width => "560", :height => "315", :src => "//www.youtube.com/embed/RIUD4Ty2ZAE", :frameborder => "0", :allowfullscreen => 'true'}

%script{ :type => "text/template", :id => "tpl_static_videos" }
  #static-header
    %h1
      Video tutorials

  #static-main.videos
    .what
      %iframe{ :src => "http://player.vimeo.com/video/74482559?title=1&byline=0&portrait=0", :width => "400", :height => "225", :frameborder => "0", :webkitAllowFullScreen => true, :allowFullScreen => true }

    .how
      %iframe{ :src => "http://player.vimeo.com/video/74482398?title=1&byline=0&portrait=0", :width => "400", :height => "225", :frameborder => "0", :webkitAllowFullScreen => true, :allowFullScreen => true }

    /   %iframe{ :src => "http://player.vimeo.com/video/30497537?title=1&byline=0&portrait=0", :width => "400", :height => "225", :frameborder => "0", :webkitAllowFullScreen => true, :allowFullScreen => true }

    / .how
    /   %iframe{ :src => "http://player.vimeo.com/video/31315280?title=1&byline=0&portrait=0", :width => "400", :height => "225", :frameborder => "0", :webkitAllowFullScreen => true, :allowFullScreen => true }


%script{ :type => "text/template", :id => "tpl_static_fact_check" }
  #static-header
    %h1
      On-demand Fact checking Service by Seattle Public Library

  #static-main.fact_check
    .spl_logo
      = link_to image_tag('lvg/images/spl-logo.png'), 'http://spl.org'

    .statement
      %h3
        The Seattle Public Library is providing on-demand reference assistance for users of the Living Voters Guide.

      %p

        To ask a librarian to check the facts of a claim on the Living Voters Guide, click the &#8220;Request a fact check of this point&#8221; button at the bottom of each post. Librarians will respond to each request within 48 hours. We will assign each claim a status of &#8220;Consistent with sources found,&#8221; &#8220;Inconsistent with sources found,&#8221; &#8220;Inconclusive given sources found,&#8221; or &#8220;Outside the scope of the service&#8221; and will post a response with further information and the sources used to evaluate the claim.

      %p
        We will make every effort to find a variety of sources and to post a fair, balanced, and complete response to each request. Librarians will spend up to two hours per request; if an answer cannot be found in this timeframe, we will note this in our response. Librarians are not experts on current ballot measures; but we are experts in finding information. We will respond to all requests and present the best information we can find in an attempt to evaluate the veracity of a claim.

      %p
        Some types of questions fall beyond the boundaries of what librarians are able to verify:
      %ul
        %li
          We will not conduct in-depth legal or financial analysis, but we will point users to research that has already been conducted.
        %li
          We will not evaluate the merits of value or opinion statements, but we will evaluate factual components of these statements.
        %li
          We will not evaluate the likelihood of hypothetical statements, but we will evaluate factual components of these statements.

      %p
        The Library is not the final word on what is the truth. Our responses represent our best effort of evaluating statements by Living Voters Guide users, given the information we are able to find. This is an experiment; we hope that our efforts will support informed discussion of civic issues.

      %h3
        How it works

      %p 
        When the pro/con points are expanded, you can click on a point to expand it. If you would like a librarian to fact check it, click the button &#8220;Ask a librarian about this point&#8221;. You can then describe what claim you'd like them to investigate. The librarians will try to respond within 48 hours.

      %p
        The results of the fact checks will be shown to all LVG participants. When the pros and cons are expanded, you can see the result of the fact check labeled with the following icons:
        %ul
          %li.category_explanation
            %img{:src => "https://d2rtgkroh5y135.cloudfront.net/system/icons/3/original/fc-consistent.png"}

            %strong
              Consistent with sources found. 
            The sources we found support or are consistent with the claim.
          
          %li.category_explanation
            %img{:src => "https://d2rtgkroh5y135.cloudfront.net/system/icons/1/original/fc-inconsistent.png"}

            %strong
              Inconclusive given sources found. 
            The information we found neither confirms nor denies the accuracy of the claim. In some cases this might be used where we found two different sources which fall on either side of the claim.  In other cases it might be used where one source can be interpreted in more than one way. 

          %li.category_explanation
            %img{:src => "https://d2rtgkroh5y135.cloudfront.net/system/icons/2/original/fc-inconclusive.png"}

            %strong
              Inconsistent with sources found. 
            Sources we found conflict with or are inconsistent with the claim. 

          %li.category_explanation
            %img{:src => "https://d2rtgkroh5y135.cloudfront.net/system/icons/4/original/fc-outofscope.png"}

            %strong
              Outside the scope of the service. 
            Some reasons for this might be - it would require; more in-depth analysis which would take more time than the service allows, in-depth legal or financial analysis, evaluation of the merits of value or opinion statements, evaluation of the likelihood of hypothetical statements.  In each case, we would explain why it is outside the scope.



%script{ :type => "text/template", :id => "tpl_static_media" }
  #static-header
    %h1
      News articles about Living Voters Guide

  #static-main.media
    .desc    
      %p
        The Living Voters Guide brings together 
        voters to discuss and explore their positions on ballot measures. Unlike traditional voters’ guides issued by governments, advocacy groups, and other organizations, 
        it is co-created solely by its participants. It will evolve continuously throughout the election season as citizens consider the tradeoffs for each measure. 

      %p
        Please send all media inquiries to
        %strong
          = mail_to "info@livingvotersguide.org", 'info@livingvotersguide.org', :encode => 'hex'

    .list
      %h1
        Stories

      %h3
        2013

      %ul

        %li.media-story
          %a{ :href => "http://www.thenewstribune.com/2013/10/07/2826902/living-voters-guide-available.html", :target => "_blank", :rel => "nofollow"}
            Living Voters Guide Available
          .loc
            The News Tribune, 10/7/13


        %li.media-story
          %a{ :href => "http://www.wenatcheeworld.com/news/2013/oct/03/fostering-political-dialogue/", :target => "_blank", :rel => "nofollow"}
            Fostering political dialogue
          .loc
            The Wenanchee World, 10/4/13
      

      %h3
        2012

      %ul


        %li.media-story
          %a{ :href => "http://www.phinneywood.com/2012/10/31/crowd-sourced-voters-guide-gets-librarian-fact-checkers/", :target => "_blank", :rel => "nofollow"}
            Crowd-sourced Voters Guide gets librarian fact checkers
          .loc
            PhinneyWood, 10/31/12

        %li.media-story
          %a{ :href => "http://blogs.seattletimes.com/monica-guzman/2012/10/27/seattle-library-fact-check-experiment-risky-but-valuable/", :target => "_blank", :rel => "nofollow"}
            Seattle library fact check experiment risky, but valuable
          .loc
            Seattle Times, 10/27/12


        %li.media-story
          %a{ :href => "http://readwrite.com/2012/10/26/need-accurate-political-fact-checking-ask-a-librarian", :target => "_blank", :rel => "nofollow"}
            Need Accurate Political Fact-Checking? Ask a Librarian
          .loc
            ReadWrite, 10/26/12

            
        %li.media-story
          %a{ :href => "http://www.kplu.org/post/living-voters-guide-just-facts", :target => "_blank", :rel => "nofollow"}
            Living Voters Guide – Just the Facts
          .loc
            KPLU, 10/26/12

        %li.media-story
          %a{ :href => "http://www.artsci.washington.edu/newsletter/Oct12/LVG.asp", :target => "_blank", :rel => "nofollow"}
            A Resource for Discussion, Civic and Civil
          .loc
            UW Arts & Sciences Perspectives Newsletter, 10/23/12

        %li.media-story
          %a{ :href => "http://americanlibrariesmagazine.org/news/10232012/seattle-librarians-elected-fact-check-living-voters-guide", :target => "_blank", :rel => "nofollow"}
            Seattle Librarians Elected to Fact-Check the Living Voters Guide
          .loc
            American Libraries Magazine, 10/23/12

        %li.media-story
          %a{ :href => "http://lj.libraryjournal.com/2012/10/library-services/seattle-librarians-fact-checking-voter-guide/", :target => "_blank", :rel => "nofollow"}
            Seattle Librarians Fact Checking Voter Guide
          .loc
            Library Journal, 10/19/12

        %li.media-story
          %a{ :href => "http://www.geekwire.com/2012/living-voters-guide/", :target => "_blank", :rel => "nofollow"}
            Librarians as political fact checkers: New feature in online voters guide
          .loc
            Geekwire, 10/17/12   

        %li.media-story
          %a{ :href => "http://seattletimes.com/html/technologybrierdudleysblog/2019458742_online_voter_guide_gets_fact-c.html", :target => "_blank", :rel => "nofollow"}
            Online voter guide gets fact checking librarians
          .loc
            Seattle Times, 10/17/12   

        %li.media-story
          %a{ :href => "http://www.washington.edu/news/2012/10/17/living-voters-guide-adds-fact-checking-by-seattle-librarians-for-2012-election/", :target => "_blank", :rel => "nofollow"}
            Living Voters Guide adds fact checking by Seattle librarians for 2012 election
          .loc
            University of Washington, 10/17/12   

        %li.media-story
          %a{ :href => "http://www.sacbee.com/2012/10/17/4918941/award-winning-living-voters-guide.html", :target => "_blank", :rel => "nofollow"}
            Award-Winning Living Voters Guide 2012 Launched in Washington & California
          .loc
            Sacramento Bee, 10/17/12   

        %li.media-story
          %a{ :href => "http://www.thegatesnotes.com/Personal/Social-Innovation-Fast-Pitch-American-Idol-for-Non-Profits", :target => "_blank", :rel => "nofollow"}
            Bill Gates likes the Living Voters Guide
          .loc
            The Gates Notes, 10/8/12   


        %li.media-story
          %a{ :href => "http://blogs.seattletimes.com/monica-guzman/2012/10/02/living-voters-guide-whichbus-win-top-honors-in-state-app-contest/", :rel => "nofollow"}
            Living Voters Guide, WhichBus win top honors in state app contest
          .loc
            Seattle Times, 10/2/12

        %li.media-story
          %a{ :href => "http://www.geekwire.com/2012/local-developers-awarded-government-app-challenge/", :target => "_blank", :rel => "nofollow"}
            Meet the winners of the state’s first-ever app challenge
          .loc
            GeekWire, 10/2/12  

      %h3
        2011

      %ul
        %li.media-story
          %a{ :href => "http://www.washington.edu/news/articles/living-voters-guide-updated-for-november-election", :target => "_blank", :rel => "nofollow"}
            Living Voters Guide updated for November election
          .loc
            UW Today, 10/26/11   

        %li.media-story
          %a{ :href => "http://blogs.sos.wa.gov/FromOurCorner/index.php/2011/10/cityclub-uw-offer-living-voters-guide/", :target => "_blank", :rel => "nofollow"}
            CityClub, UW offer Living Voters Guide
          .loc
            Secretary of State blog, 10/13/11   

        %li.media-story
          %a{ :href => "http://www.spokesman.com/stories/2011/oct/09/guest-opinion-a-guide-of-by-and-for-voters/", :target => "_blank", :rel => "nofollow"}
            A guide of, by and for voters
          .loc
            The Spokesman, 10/9/11   

        %li.media-story
          %a{ :href => "http://news.cs.washington.edu/2011/10/06/the-living-voters-guide-a-citizen-generated-guide-to-the-washington-state-2011-election/", :target => "_blank", :rel => "nofollow"}
            The Living Voters Guide: A citizen-generated guide to the Washington State 2011 election
          .loc
            Computer Science & Engineering News, 10/6/11   

        %li.media-story
          %a{ :href => "http://www.seattle24x7.com/community/e-city/2011/10/05/2011-living-voters-guide-wants-you/", :target => "_blank", :rel => "nofollow"}
            2011 Living Voters Guide Wants You!
          .loc
            Seattle 24x7, 10/5/11   

        %li.media-story
          %a{ :href => "http://seattletimes.nwsource.com/html/politicsnorthwest/2016416220_votersguide.html", :target => "_blank", :rel => "nofollow"}
            CityClub, UW launch Living Voters Guide
          .loc
            Seattle Times, 10/5/11

      %h3
        2010
        
      %ul

        %li.media-story
          %a{ :href => "http://dailyuw.com/2010/10/20/uw-project-offers-new-online-discussion-platform-s/", :target => "_blank", :rel => "nofollow"}
            UW project offers new online discussion platform for state initiatives
          .loc
            The UW Daily, 10/20/10   
        %li.media-story
          %a{ :href => "http://shelftalk.spl.org/2010/10/05/crowdsourcing-or-cloudsourcing-politics-%E2%80%93-seattle-style/", :target => "_blank", :rel => "nofollow"}
            Crowdsourcing or Cloudsourcing Politics – Seattle Style
          .loc
            Shelf Talk, Seattle Public Library, 10/5/10               
        %li.media-story
          %a{ :href => "http://www.mynorthwest.com/category/local_news_articles/20101005/Site-hopes-to-capture-the-wisdom-of-Washingtonians-on-ballot-measures/", :target => "_blank", :rel => "nofollow"}
            Site hopes to capture the wisdom of Washingtonians on ballot measures
          .loc
            KIRO Radio, MyNorthwest.com, 10/5/10 
        %li.media-story
          %a{ :href => "http://uwnews.org/article.asp?articleID=60616", :target => "_blank", :rel => "nofollow"}
            'Living Voters Guide' invites Washington voters to hash out ballot initiatives 
          .loc
            UW News, 10/4/10               

                    
        %li.media-story
          %a{ :href => "http://legalinformatics.wordpress.com/2010/09/29/crowdsourcing-ballot-initiative-voters-guides-living-voters-guides/", :target => "_blank", :rel => "nofollow"}
            Crowdsourcing Ballot Initiative Voters’ Guides: Living Voters’ Guides
          .loc
            Legal Informatics Blog, 9/29/10 

        %li.media-story
          %a{ :href => "http://www.bessettepitney.net/2010/09/civic-life-and-deliberation.html", :target => "_blank", :rel => "nofollow"}
            Civic Life and Deliberation
          .loc
            John Pitney, 9/28/10

        %li.media-story
          %a{ :href => "http://socialcapitalreview.org/living-voters-guide-stokes-debate-on-wa-ballot-measures/", :target => "_blank", :rel => "nofollow"}
            Living Voters Guide Stokes Debate On WA Ballot Measures
          .loc
            Social Capital Review, 9/27/10

        %li.media-story
          %a{ :href => "http://blogs.bellinghamherald.com/politics/election/seattle-developers-unveil-living-voters-guide/", :target => "_blank", :rel => "nofollow"}
            Seattle developers unveil ‘Living Voters Guide’
          .loc
            Politics Blog @ The Bellingham Herald, 9/27/10
        %li.media-story
          %a{ :href => "http://seattletimes.nwsource.com/html/opinion/2013012215_guest28douglas.html?prmid=op_ed", :target => "_blank", :rel => "nofollow"}
            New voters guide will heal rifts through voter education and dialogue
          .loc
            Seattle Times op-ed, 9/27/10

        %li.media-story
          %a{ :href => "http://wanewscouncil.org/2010/09/24/seattle-developers-release-new-open-source-tool-to-combat-ballot-fatigue/", :target => "_blank", :rel => "nofollow"}
            Seattle developers release new open source tool to combat ballot fatigue
          .loc
            WA News Council, 9/24/10          


%script{ :type => "text/template", :id => "tpl_static_terms-of-use"}
  #static-header
    %h1
      LVG Terms of Use

  #static-main.tos

    %p
      Welcome to the Living Voters Guide! The following terms of use are provided to make explicit your rights and 
      responsibilities as a participant and to inform you of how your contributions to this site will be used. This 
      page will cover four topics:
    %ul
      %li
        Participation rules
      %li
        Privacy and data collection policy
      %li
        Living Voters Guide content; removing your living voters guide registration
      %li
        Liability statement

    %h3
      Participation rules

    %p
      In order to foster an environment conducive to civil and on-topic political discussion, please abide by the following rules. Violation of any of these rules may result in account suspension or deactivation.

    %ul
      %li
        Do not make personal attacks or use offensive language. Disagreement is both inevitable and welcome on the LVG; offensive behavior is not. In your posts please refrain from name-calling; using expletives; slurs against race, ethnicity, gender, and sexual orientation; and other insults. A basic rule of thumb is to focus your attention on the initiatives themselves rather than on the people advocating or opposing them. Doing so will help ensure that the LVG is a welcoming space for all Washington citizens.
      %li
        Express only your own opinions and not those of any campaign, candidate, or party. We are interested only in the opinions of private citizens, and specifically not in the positions of established political parties or interest groups. Therefore when you express yourself on the LVG, please make sure to express only your own personal opinion. Of course, it's fine if your personal opinion is similar to one from a party or interest group, but please use your own words in expressing it. The bottom line is, no one should be using this site as part of their paid advocacy duties.
      %li
        Though you may change your stance at any time, do not create multiple accounts. Please sign up for and use one and only one account. Multiple accounts belonging to a single individual will be deactivated immediately.



    %a{ :name => "privacy_policy"}
    %h3
      Privacy and data collection policy

    %p
      Seattle City Club is cooperating with a research group at the University of Washington.  The purpose of our research is to design and test new software systems to better support civic engagement and participation. For more information, please see our research project website http://engage.cs.washington.edu or send email to civic-engagement@cs.washington.edu.   

    %p
      By using this site, you certify that you agree to have information about how you use this site collected.  For people who read the discussion and take positions, we are collecting session logs.  These logs are completely anonymized – we aren’t collecting any information in these logs that could identify you personally.  For people who post new content, the items on the site are all publicly visible on the internet.

    %p
      For people who read information on the site and perhaps take positions, we are collecting session logs that record users’ interaction with the website, including a hash of the IP address of the machine they are coming from, the geographic region of the IP address, timestamped keystrokes, mouse clicks, and mouse position.  We are also recording a hash of the login name of any logged in user.  A &#8220;hash&#8221; of the IP address means that we will take the actual internet address and transform it into a unique code that will only correspond to that particular IP address.  However, this will be a one-way cryptographic transformation: the stored information will let us determine whether this is the same address when used again, but won’t let us (or anyone else) determine the actual IP address from the hash.  Similarly, by taking the hash of the login name, we can determine whether two sessions are from the same user without storing any personally identifying information.

    %p
      For people who are posting new content, the items on the site are all publicly visible on the internet.


    %h3
      Living Voters Guide content

    %p
      Text is available under the 
      %a{ :href => "http://creativecommons.org/licenses/by-sa/3.0/" }
        Creative Commons Attribution-ShareAlike License.
      (This is the same license that is used for example in Wikipedia.)
      Please notify us if you see any other information about
      you or others that is incorrect, or if you want to correct your registration. Also please notify us if you want to remove your registration and profile for Living Voters Guide. However, if you remove your registration, your contributions may remain as part of the collective Living Voters Guide content. 

    %h3
      Liability statement

    %ul
      %li
        The Living Voters Guide provides a vehicle for citizens to exchange ideas and content. Living Voters Guide managers and sponsors are not responsible for the opinions, links and other content posted on this site, with the exception of information posted by the mangers of the site.
      %li
        There is no guarantee that access to the site will be uninterrupted or error free. The site is provided on an &#8220;as available&#8221; basis without warranties of any kind, either express or implied. We are not responsible if specific content is improperly displayed, not posted or not available.
      %li
        Neither Living Voters Guide managers nor its sponsors are liable for any legal damages based on any claim of the user, or as a result of the user's employing this service.
      %li
        The Living Voters Guide managers reserve the right to determine how long content remains on this site.

    %p
      LVG Terms of Use version of 24 September 2010           