//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

%p.head
  #{@user.first_name}, a new proposal has been added#{@proposal.user_id ? " by " + @proposal.user.username : ''}.

.object
  &ldquo;#{link_to @proposal.title, @url}&rdquo;

.action_call
  .rest
    .call
      = link_to 'Think through this proposal', @url

= content_for :footer do
  = link_to 'Unsubscribe', unfollow_url(:host => @host, :u => @user.id, :i => @options[:current_tenant].id, :m => 'Account', :t => ApplicationController.token_for_action(@user.id, @options[:current_tenant], 'unfollow') )
  to new proposal updates.