//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

Hi #{@user.first_name},

= "\r\n"
- if @proposal.user_id
  #{@proposal.user.username} has proposed that:
- else
  A new proposal has been added: 

= "\r\n"
"#{@proposal.title}"

= "\r\n"
To think through this proposal, visit #{@url}

= "\r\n"
\----

To unsubscribe to new proposal updates: #{unfollow_url(:host => @host, :u => @user.id, :i => @options[:current_tenant].id, :m => 'Account', :t => ApplicationController.token_for_action(@user.id, @options[:current_tenant], 'unfollow'))}

= "\r\n"
#{@options[:app_title]} is powered by http://chalkboard.it