Hi #{@user.first_name},
= "\r\n"

- if @notification_type == 'your point'
  #{@comment.user.name} commented on your #{@point.is_pro ? 'pro' : 'con'} point. The comment says:

- elsif @notification_type == 'participant'
  #{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}" that you also commented on. The point states that "#{@point.nutshell}". The comment says:

- elsif @notification_type == 'included point'

  #{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}" that you included in your pro/con list. The point states that "#{@point.nutshell}". The comment says:

- elsif @notification_type == 'lurker'

  #{@comment.user.name} commented on a #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}" that you are following. The point states that "#{@point.nutshell}". The comment says:
  
= "\r\n"
"#{@comment.body}"
= "\r\n"
Read and discuss further at #{proposal_point_url(@proposal.long_id, @point, :anchor => "comment-#{@comment.id}", :host => @host)}

= "\r\n"
\----

To unsubscribe to this point: #{unfollow_proposal_point_url(@proposal.long_id, @point, :host => @host, :u => @user.id, :i => @point.id, :m => 'Point', :t => ApplicationController.token_for_action(@user.id, @point, 'unfollow'))}

= "\r\n"
#{@options[:app_title]} is powered by http://chalkboard.it