-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

%p.head
  Hi #{@user.first_name}, 

  - if @notification_type == 'your point'
    One or more participants requested that your #{@point.is_pro ? 'pro' : 'con'} point be fact checked. The Seattle Public Library has done so. We hope that the additional information is helpful!

  - elsif @notification_type == 'requested by you'
    At your request, a #{@point.is_pro ? 'pro' : 'con'} point has been fact checked by The Seattle Public Library. 

  - else
    A #{@point.is_pro ? 'pro' : 'con'} point that you follow has been fact checked by The Seattle Public Library. 

//TODO: add text version of this mail

%p
  The result of the fact-check:
  %ul
    - @assessment.claims.each do |clm|
      %li
        Claim: "#{clm.claim}"; Conclusion: #{Assessable::Claim.format_verdict(clm.verdict)}.

%p 
  The #{@point.is_pro ? 'pro' : 'con'} point:
  .object
    &ldquo;#{link_to @point.nutshell, proposal_point_url(@proposal.long_id, @point, :host => @host)}&rdquo;

%p 
  The proposal: 
  .object
    &ldquo;#{link_to @proposal.title, proposal_url(@proposal.long_id, :host => @host)}&rdquo;

.action_call
  .rest
    .call
      = link_to 'Read and discuss further', proposal_point_url(@proposal.long_id, @point, :host => @host)

= content_for :footer do
  = link_to 'Unsubscribe', unfollow_url(:host => @host, :u => @user.id, :i => @point.id, :m => 'Point', :t => ApplicationController.token_for_action(@user.id, @point, 'unfollow') )
  to this point.