-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

Hi #{@user.first_name},
= "\r\n"

- if @notification_type == 'your proposal'

  #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point for your proposal "#{@point.proposal.title}":

- elsif @notification_type == 'position submitter'

  #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}":

- elsif @notification_type == 'lurker'

  #{@point.user.username} added a new #{@point.is_pro ? 'pro' : 'con'} point for "#{@point.proposal.title}":

= "\r\n"
"#{@point.nutshell}"
= "\r\n"

Read and discuss further: #{proposal_point_url(@proposal.long_id, @point, :host => @host)}
= "\r\n"

\----

To unsubscribe to this proposal: #{unfollow_url(:host => @host, :u => @user.id, :i => @proposal.id, :m => 'Proposal', :t => ApplicationController.token_for_action(@user.id, @proposal, 'unfollow') )}

= "\r\n"
#{@options[:app_title]} is powered by http://chalkboard.it