-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

%p.head
  #{@user.first_name},

  - if @notification_type == 'your comment'
    #{@bullet.user ? @bullet.user.username : 'Anonymous'} summarized your comment. 
  - elsif @notification_type == 'other summarizer'
    #{@bullet.user ? @bullet.user.username : 'Anonymous'} also summarized #{@comment.user.username}'s comment.

%p 
  The summary: 
  .object
    &ldquo;#{link_to @bullet.text, @url}&rdquo;

%p 
  The comment:
  .object
    &ldquo;#{link_to @comment.body, @url}&rdquo;

%p 
  - if @notification_type == 'your comment'
    Verify whether the summary is accurate and clarify if necessary for other readers at
    = succeed '.' do
      = link_to @url, @url
  - elsif @notification_type == 'other summarizer'
    Discuss further at
    = succeed '.' do
      = link_to @url, @url

= content_for :footer do
  = link_to 'Unsubscribe', unfollow_url(:host => @host, :u => @user.id, :i => @comment.id, :m => 'Comment', :t => ApplicationController.token_for_action(@user.id, @comment, 'unfollow') )
  to summaries for this comment.