%p
  Hi #{@user.first_name},

%p
  - if @notification_type == 'your bullet'
    #{@comment.user.name} responded to your summary of their comment. #{@comment.user.first_name}  
    - if @response.signal == 1
      does not feel the summary is completely accurate, and clarified their original point: 
      %blockquote
        #{@response.text}
    - elsif @response.signal == 2
      verified that you heard them accurately.
    - elsif @response.signal == 0
      does not believe that your point is a summary of what they said.
  - elsif @notification_type == 'other summarizer'
    #{@comment.user.name} responded to #{@bullet.user ? @bullet.user.name : 'Anonymous'}'s summary of their comment. #{@comment.user.first_name}  
    - if @response.signal == 1
      does not feel the summary is completely accurate, and clarified their original point: 
      %blockquote
        #{@response.text}
    - elsif @response.signal == 2
      verified that #{@bullet.user ? @bullet.user.first_name : 'Anonymous'} heard them accurately.
    - elsif @response.signal == 0
      does not believe that #{@bullet.user ? @bullet.user.first_name : 'Anonymous'}'s point is a summary of what they said.
  
%p 
  Continue the conversation at
  = succeed '.' do
    = link_to @url, @url

%p
  Thanks!

= content_for :footer do
  = link_to 'Unsubscribe', unfollow_proposal_comment_url(@proposal.long_id, @comment, :host => @host, :u => @user.id, :i => @comment.id, :m => 'Comment', :t => ApplicationController.token_for_action(@user.id, @comment, 'unfollow') )
  to this comment.