
%script{ :type => "text/template", :id => "tpl_dashboard_assess"}
  #assess


%script{ :type => "text/template", :id => "tpl_assess_list_item"}

  %td.desc
    {{ root_object.name }}
  %td
    {{ new Date(created_at).toDateString() }}

  %td

    (( if( claimed ) { ))
    (( if( claimed_by_logged_in_user ) { ))
    %button.unclaim.take_responsibility.button
      Unclaim it
    (( } else { ))                                 
    {{ claimed_by }}
    (( } ))
    (( } else { ))
    %button.claim.take_responsibility.button
      I'll do it
    (( } ))

  %td
    {{ status }}
  %td
    %a.assessment-edit{ :'data-id' => "{{ id }}", :href => "{{ Routes.edit_assessment_path(id) }}"}
      Edit

%script{ :type => "text/template", :id => "tpl_assess_list"}


  .dashboard-heading
    %h2
      Fact Checking Interface

    .dashboard-subheading
      Accept responsibility for an assessment, determine which claims can be checked, and complete the check. 

  .dashboard-assess-hide_completed
    = check_box_tag 'hide_completed', :checked => false
    = label_tag 'hide_completed', 'hide completed'


  #assess_points.assessment_block{ :class_name => 'point' }

    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th.header
            Proposal
          %th.header
            Requested at
          %th.header
            Responsible?
          %th.header
            Status
          %th.view

            
      %tbody


%script{ :type => "text/template", :id => "tpl_dashboard_assess_edit_layout"}

  #edit_assessment

    .dashboard-heading
      %h2
        Assess claims

      .dashboard-subheading
        Check the claims made in this point

    #main
      #context-region
      #requests-region
      %hr
      #claims-region
      #assessment-footer-region

%script{ :type => "text/template", :id => "tpl_claim" }
  .assessment-gutter
    %span.avatar{ :'action' => "user_profile_page", :tooltip => "user_profile", :'data-id' => "{{creator.id}}", :id => "avatar-{{creator.id}}"}

  .assessment-context
    .assessment-claim
      Claim : {{ claim_restatement }}

    .assessment-context-content
      (( if( verdict ){ ))
      .assessment-result
        %img.verdict{:src => "{{verdict.getIcon()}}"}
        {{ verdict.get('name') }}
      (( } ))

      .assessment-body
        {{ result }}


      (( if( notes ){ ))
      .assessment-body
        %strong
          Private notes. 
        {{ notes }} 
      (( } ))

    .assessment-status-wrap
      .assessment-status
        created by {{ creator.get('name') }}    
      (( if(approver) { ))
      .assessment-status
        approved by {{ approver.get('name') }}
      (( } ))
    .assessment-footer
      %span.assessment-footer-link
        %a.answer
          {{ !verdict ? 'Answer' :'Edit' }}

      (( if(!approver && !is_creator && is_answered ){ ))  
      %span.assessment-footer-link
        %a.approve
          Approve
      (( } ))

      (( if(!assessment.complete){ ))  
      %span.assessment-footer-link
        %a.delete
          Delete
      (( } ))




%script{ :type => "text/template", :id => "tpl_claims_list"}
  %ul

  (( if(!assessment.complete) { ))
  %button.button.add_claim
    Add a new claim to research and evaluate
  (( } ))

%script{ :type => "text/template", :id => "tpl_edit_claim_form"}

  .claim-restatement
    = label_tag :claim_restatement, 'The claim to research'
    = text_area_tag :claim_restatement, "{{claim_restatement}}"

  .radio_block
    (( verdicts.each(function(verdict){ ))

    %input{:id => "verdict_id_{{verdict.id}}", :name => "verdict_id", :type => "radio", :value => "{{verdict.id}}"}
    %label{ :for => "verdict_id_{{verdict.id}}" }
      {{ verdict.get("short_name") }}

    (( }); ))

  .assessment_block
    = label_tag :result, 'The assessment'
    = text_area_tag :result, "{{ result }}"
  .private_note_block
    = label_tag :notes, 'Private notes'
    = text_area_tag :notes, "{{ notes }}"

  %button.button.save_claim
    Update


%script{ :type => "text/template", :id => "tpl_claim_form"}
  .assessable
    %blockquote
      {{ assessable.get('nutshell') }}
      {{ assessable.get('text') }}

  .claim-restatement
    = label_tag :claim_restatement, 'Restate the specific claim that you will research and evaluate'
    = text_area_tag :claim_restatement, nil, :required=>true, :maxlength => 140, :pattern => "^.{3,}"

  .submit_block
    %button.button.create_new_claim
      Create new claim

  #other_claims

    = label_tag :copy_id, '...or copy a claim from a different pro/con point'

    %select{ :id => "claim_copy_id", :name => "claim[copy_id]" } 
      (( all_claims.each(function(clm){ ))
      %option{ :value => "{{clm.id}}"}
        {{ clm.get('claim_restatement') }}
      (( }); ))

    .submit_block
      %button.button.copy_new_claim
        Copy this claim


%script{ :type => "text/template", :id => "tpl_assess_edit_context"}
  .assessment-gutter

    %span.avatar{ :'action' => "user_profile_page", :tooltip => "user_profile", :'data-id' => "{{author.id}}", :id => "avatar-{{author.id}}"}


  .assessment-context
    .assessment-header
      {{author.firstName()}} writes, regarding 
      = succeed ':' do
        %a{ :href => "{{Routes.proposal_path(root_object.id)}}", :target => "_blank" }
          {{root_object.name}}

    .assessment-context-content
      .assessment-nutshell
        {{ assessable.nutshell }}
      (( if (assessable.text && assessable.text.length > 0) { ))
      .assessment-body
        {{ assessable.text }} 
      (( } ))    
    .assessment-footer
      .assessment-footer-link
        = link_to 'Read point in context', "{{Routes.point_path(assessable.id)}}", :target => "_blank"
      .assessment-footer-link
        %a.email_author
          Email the author


%script{ :type => "text/template", :id => "tpl_assess_request"}
  .assessment-gutter
    %span.avatar{ :'action' => "user_profile_page", :'data-id' => "{{requester.id}}", :id => "avatar-{{requester.id}}", :tooltip => "user_profile"}

  .assessment-context
    .assessment-header
      {{requester.firstName()}} requests further research about the above point:

    .assessment-context-content
      .assessment-nutshell
        {{ suggestion }}

    .assessment-footer
      .assessment-footer-link
        %a.email_requester
          Email the requester


%script{ :type => "text/template", :id => "tpl_assess_edit_forms"}

  .assessment_notes
    %textarea{:id => "assessment_notes"} 
      {{ notes }}
    %button.button.assessment_save_notes
      Update notes
  
  (( if(complete){ ))
  .assessment_published_at
    Assessment published on {{new Date(published_at).toDateString()}}
  (( } else if (can_publish) { ))
  %button.button.publish
    Publish fact check
  (( } else if (all_answered && !reviewable){ ))
  %button.button.request_approval
    Request approval    
  (( } else if (all_answered && reviewable){ ))
  Awaiting approval
  (( } ))
