
.point_link_form

  %fieldset
    
    .fields
      .url.inlined
        = f.label :url, 'http://...'
        = f.text_field :url, :class => 'url', :title => 'http://...'

      .description.inlined
        = f.label :description, 'brief description'
        = f.text_field :description, :class => 'description', :title => 'A brief description'


    .submit_block
      = link_to_remove_fields "delete", f

    :javascript
      $j('.has_example').each(function(){
        if($j(this).val() == '') {
          $j(this).example(function() {
            return $j(this).attr('title'); 
          });
        }
      });
    .clear