
%div#login_form

  .primary.fr
    %h2.sub_follows
      - if @context == 'position_submit'
        Log in to save your review
      - else
        Log in!
    .sub
      Don't have an account?
      %a#register_instead 
        Create account

    #third_party

      %h3
        If you used your account from:

      - ['facebook', 'twitter', 'google', 'yahoo'].each do |provider|
        %a{ :onclick => "javascript:login('#{new_user_session_path(:third_party=>true, :provider=>"#{provider}")}',500, 500)" }
          = image_tag("#{provider}.png")

    .divider

    #site_registration
      
      %h3
        Or, if you created an account with us:

      = form_for(resource, :as => resource_name, :url => session_path( resource_name), :html => { :multipart => true }) do |f|
      
        %ul
          %li
            = devise_error_messages!
                      
          %li.email_field
            %label
              email
            = f.email_field :email, :title => 'email address'

          %li.password_field
            %label
              password
            = f.password_field :password, :title => 'password'
        
        .submit_footer
          = f.submit "Login"

          %a.cancel
            cancel

        = link_to "Forgot your password?", new_password_path(resource_name)

  .clear

:javascript

  $j('a#register_instead').click(function(){
    $j('#login_form').load('#{new_user_registration_path(:third_party=>false)}');
  });

