

Hi <%= @user.email %>,

= "\r\n"
Someone (hopefully you) has requested to change their password. 

= "\r\n"
Please copy and paste this verification code into the verification code field:

= "\r\n"
= @token

= "\r\n"
If you didn't make this request, simply ignore this email and your password will not be changed. 