#description

  #follow
    - if APP_CONFIG['socmedia']['facebook']['include_follow']
      %span.facebook

        - if true

          %iframe{:src => "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FLiving-Voters-Guide%2F157151824312366&send=false&layout=button_count&width=450&show_faces=false&action=like&colorscheme=light&font=lucida+grande&height=21", :scrolling => "no", :frameborder => "0", :style => "border:none; overflow:hidden; width:90px; height:21px;", :allowTransparency => "true"}

        -else
          %a.fb_page{ :href => "#{APP_CONFIG['socmedia']['facebook']['facebook_page']}", :target => "_blank", :title => "Find us on Facebook" }
            = image_tag "facebook_button.png", :alt => "Facebook logo"


    - if APP_CONFIG['socmedia']['twitter']['include_follow']
      %span.twitter
        - if true
          %a.twitter-follow-button{:href => "https://twitter.com/lvguide", "data-show-count".intern => "false", "data-width".intern => "70px"}
            Follow
          %script{:src => "//platform.twitter.com/widgets.js", :type => "text/javascript"}
        - else
          %a.twitter_page{ :href => "#{APP_CONFIG['socmedia']['twitter']['twitter_page']}", :target => "_blank", :title => "Follow us on Twitter" }
            = image_tag "Twitter_button.png", :alt => "Twitter logo"

  #value 
    %h1 
      Washington state's
      %br
      citizen-powered voters guide

      .subheader
        %h2 
          Your forum for the 2011 election
          %ul
            %li
              By the people.
            %li
              For the people.
        
        %h2
          By thinking together, we can build a better Washington.

      
  #tutorial
    #console
      .frame
        .what
          %iframe{ :src => "http://player.vimeo.com/video/30006158?title=0&byline=0&portrait=0", :width => "400", :height => "225", :frameborder => "0", :webkitAllowFullScreen => true, :allowFullScreen => true }

        .how.hide
          %iframe{ :src => "http://player.vimeo.com/video/30006761?title=0&byline=0&portrait=0", :width => "400", :height => "225", :frameborder => "0", :webkitAllowFullScreen => true, :allowFullScreen => true }

        .who.hide
          .explanation
            The Living Voters Guide is 
            %strong 
              a free and non-partisan service 
            provided by Seattle City Club and the University of Washington. 

          %ul.images

            %li.first
              = link_to image_tag('cityclub.jpg'), 'http://www.seattlecityclub.org/', :target => '_blank'
            %li.last
              = link_to image_tag('uw_logo.jpg'), 'http://engage.cs.washington.edu/', :target => '_blank'
            .clear

          .explanation
            We designed and developed the #{link_to 'open source LVG platform', 'home/considerit'} with the support of the National Science Foundation, under grant IIS 0966929. 

          .questions
            Send questions and feedback to #{mail_to 'info@livingvotersguide.org'}.
        
      .nav
        %ul
          %li
            %a.what.selected
              What is the LVG?
          %li
            %a.how
              How do I use the LVG?
          %li
            %a.who
              Who are we?
  :javascript
    $j('#tutorial').delegate('.nav ul a', 'click', function(){
      if ( !$j(this).hasClass('selected')){
        $j(this).parent().siblings('li').find('a').removeClass('selected');
        var cls = $j(this).attr('class');
        $j(this).addClass('selected');
        $j(this).parents('.nav').siblings('.frame').find('> div')
          .hide().filter('.' + cls).show();
      }
    });

  .clear

        


#initiative.guide
  %h2.get_started
    Get started
    .subheader
      by clicking any of the ballot measures below.
  
  = render :partial => "options/blocks/strip", :locals => { :style => 'horizontal', :hide_initially => false }

  - if @domain
    #zipcode_entered
      %span.greeting
        Hello, citizen!
      %span.unlocked
        - if (cnt = @domain.domain_maps.count) == 0
          According to our records, the #{@domain.name} area does not have any local measures on the ballot. 
        - else
          In the list above, you can now access #{cnt} #{@domain.name} area #{cnt==1 ? 'measure' : 'measures'} likely to be on your ballot.
      .reset
        Is #{@domain.identifier} not your zip code? 
        %a 
          change
        .resetform.hide
          = form_tag '/home/domain', :id => 'domain' do
            = text_field_tag "domain", '', :title => 'your zip code', :class => 'has_example'
            = submit_tag 'Change your zipcode', :class => 'gray'
                
  - else
    #zipcode_entry
      .triangle
        &#x25b2;

      .prompt
        %strong
          Enter your ZIP code 
        to unlock your local measures. 
      .zipform
        = form_tag '/home/domain', :id => 'domain' do
          = text_field_tag "domain", '', :title => 'your zip code', :class => 'has_example'
          = submit_tag 'Set', :class => 'gray'
      .clear

    :javascript

      $j("input#domain").autocomplete({
        source: #{get_available_domains()},
        select: function(event, ui){
         /*$j.post("#{home_domain_path}", { domain: ui.item.value }, function(data){
          $j('#domain').append(data);
         });
         */
        }
      });