!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head{ :profile => "http://gmpg.org/xfn/1" }
    - if @title
      %title
        = "#{APP_CONFIG['meta']['title']} :: #{@title}"
    - else
      %title
        ConsiderIt
    
    %link{ :href => "/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon" }
    %meta{ :content => 'text/html; charset=UTF-8', "http-equiv" => "Content-Type" }
    
    - if @keywords       
      %meta{ :name => 'keywords', :content => "#{@keywords}"}
    -else
      %meta{ :name => 'keywords', :content => ""}

    - if @description       
      %meta{ :name => 'description', :content => "#{@description}"}
    -else
      %meta{ :name => 'description', :content => ""}
      
    -# = javascript_include_tag :defaults
    = csrf_meta_tag
    
    
    = include_stylesheets :common, :media => 'all'      
    = stylesheet_link_tag current_theme_stylesheet_path('considerit.theme')

    - if @reflectable 
      = include_stylesheets :reflect, :media => 'all'
    
    /[if IE]
      = javascript_include_tag "svg", :"data-path" => "/javascripts/"
      %meta{ :content => "true", :name => "svg.render.forceflash"}
      = stylesheet_link_tag 'ie'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie7'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6'
      = javascript_include_tag 'IE7'
    
    = include_javascripts :workspace

    - if @reflectable
      = include_javascripts :reflect
      
    = javascript_include_tag 'jit'

    :javascript
      $j = jQuery.noConflict();

    /
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{GOOGLE_ANALYTICS}']);
        _gaq.push(['_trackPageview']);
    
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  
  
  %body
  
    #wrap
      = render :partial => "shared/header/container"
      #content
        = render :partial => "shared/flash_messages"
        = yield

      = render :partial => "shared/footer/container"         

    :javascript
      $j(document).ready(function(){
        ConsiderIt.misc.add_tips();      
      })     

      $j('#header_wrapper').corner('round top 5px');
      $j('#nav-user').corner('bottom bl 5px');  

      $j('a.smooth_anchor').click(function(){
        $j('html, body').animate({
          scrollTop: $j($j(this).attr('href')).offset().top}, 1000);
          return false;
      });
