!!! Strict
%html{html_attrs}
  %head{ :profile => "http://gmpg.org/xfn/1" }
    = stylesheet_link_tag 'email' 

  %body
    #content
      #inner
        %table
          %tr#header
            %td
              - if @options
                .title
                  #{@options[:app_title]}
              - else
                = yield :title

          %tr#body
            %td
              = yield
          %tr#footer
            %td
              %table
                %tr
                  %td
                    - if @options
                      #{@options[:app_title]} is powered by #{link_to 'Chalkboard.It', 'http://chalkboard.it', :target => '_blank'}

                    - else
                      = yield :powered_by

                  %td
                    = yield :footer
