!!! Strict
%html.homepage(xmlns="http://www.w3.org/1999/xhtml")
  %head{ :profile => "http://gmpg.org/xfn/1" }
    
    %title
      = "#{@title && @title != '' ? @title + " - " : ''}#{current_tenant.app_title}"
    
    %link{ :href => "/favicon.ico", :rel => "icon", :type => "image/vnd.microsoft.icon" }
    %meta{ :content => 'text/html; charset=UTF-8', "http-equiv" => "Content-Type" }
    
    %meta{ :name => 'keywords', :content => "#{@keywords ? @keywords : ''}"}

    %meta{ :name => 'description', :content => "#{@description ? @description : ''}"}

    %meta{ :name => "google-site-verification", :content => "6nU0cKd6iwc2id7_3fZmOSh7DqxoRGmuOQ4JAye32uQ" }
      
    -# = javascript_include_tag :defaults
    = csrf_meta_tag
    
    = stylesheet_link_tag 'application' 

    = theme_stylesheet_link_tag 'considerit.theme'
    
    /[if lte IE 8]
      = stylesheet_link_tag 'ie'
    
    = javascript_include_tag 'application'
      
    :javascript
      $j = jQuery.noConflict();

    - if APP_CONFIG[:analytics][:google] && APP_CONFIG[:analytics][:google] != ''
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "#{current_tenant.analytics_google}"]);
        _gaq.push(['_setDomainName', ".#{get_root_domain}"]);
        _gaq.push(['_trackPageview']);


    - if current_tenant.analytics_google && current_tenant.analytics_google != ''
      :javascript
        var _gaq_account = _gaq_account || [];
        _gaq_account.push(['_setAccount', "#{current_tenant.analytics_google}"]);
        _gaq_account.push(['_trackPageview']);


  %body
    #lightbox

    #wrap

      = render :partial => "shared/header/container"
      #content
        = render :partial => "shared/flash_messages"
        = yield

      = render :partial => "shared/footer/container"         

    :javascript
      $j(document).ready(function(){
        ConsiderIt.init();     
      });   
