-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

- requires_pledge = current_tenant.requires_civility_pledge_on_registration
- missing_information = !current_user.name || !current_user.avatar_file_name || !current_user.email || current_user.email.length == 0

- if requires_pledge || missing_information
  #post_signup_dialog.hide

    #post_signup_form

      .primary
        %h2
          Welcome! Last registration step.

        #site_registration

          = form_for(current_user, :as => :user, :url => registration_path(current_user), :method => :put) do |f|
            - if @proposal
              =f.hidden_field :proposal_id, :value=>@proposal.id

            %ul
              //%li
              //  = devise_error_messages!

              - if !current_user.name
                %li.name_field.inlined
                  = f.text_field :name, :placeholder => 'Your name', :title => 'Your name', :required => true, :pattern => "^.{1,}"

              - if !current_user.email || current_user.email.length == 0
                %li.email_field.inlined
                  = f.text_field :email, :placeholder => 'Email address', :title => 'Email address'
                  .sub
                    Optional. Used to notify you if, e.g. someone comments on a point you authored. 


              //   %span.add_qtip{ :title => 'You stand behind your opinions, don’t you? When possible, we believe it is best to avoid anonymity.'}
              //     why?

              - if !current_user.avatar_file_name
                %li.avatar_field.inlined
                  = f.file_field :avatar, :title => 'Upload a profile picture (optional)', :class => 'proxied'
                  %input.inputfileproxy.button_proxy.button{ :type => 'button', :value => 'Upload a profile picture (optional)' }
                  .selected_file

              - if requires_pledge
                = render :partial => "users/registrations/pledge", :locals => { :f => f }  
              - else
                .clear

              = f.hidden_field :registration_complete, :value => true

              %li.submit_footer
                - if requires_pledge
                  = f.submit "Yes, I will uphold these principles", :class => "button"
                  %a.cancel
                    No, I cannot

                - else
                  = f.submit "Finish registration", :class => "button"
                  %a.cancel
                    cancel


      - if missing_information
        .secondary
          %h3
            Why give info?

          %hr.ledge.top
          %hr.ledge.bottom
          
          %ul
            - if !current_user.name
              %li    
                Signing your name adds weight to your voice.

              %li
                You can still post anonymously.

            - if !current_user.email || current_user.email.length == 0 
              %li
                Email lets us notify you of comments on your point.

            - if !current_user.avatar_file_name
              %li
                A picture humanizes your words.

