//*********************************************
// For the ConsiderIt project.
// Copyright (C) 2010 - 2012 by Travis Kriplean.
// Licensed under the AGPL for non-commercial use.
// See https://github.com/tkriplean/ConsiderIt/ for details.
//*********************************************

#update_registration_form
  #site_registration

    .primary
      %h2
        Preferences

      = form_for(current_user, :as => :user, :url => registration_path(:user), :method => :put, :html => { :multipart => true, :class => 'html5' }) do |f|

        %ul
          %li
            = f.label :avatar, "Your picture"          
            = f.file_field :avatar, :title => 'Upload a profile picture'

          - if !current_user.email
            %li
              = f.label :email, "Email address"
              = f.email_field

        .submit_footer
          = f.submit "Update", :class => 'button'

          %a.cancel
            cancel
