-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

#registration_form

  .primary
    %h2
      - if @context == 'position_submit'
        Sign in to post your opinion
      - elsif @context == 'proposal_submit'
        Sign in to create a new proposal
      - else
        Sign in / Create an account

    - if @pinned_user
      - user = User.find_by_email(@pinned_user)

      .pinned_user
        Hi #{@pinned_user}. 
        - if !user.nil?
          You need to sign in first to access that page. 
        - else
          To access that page, you need to create an account. 

        #third_party
          - if !user.nil?
            - has_third_party = false
            - ['facebook', 'twitter', 'google'].each do |provider|
              - if !user.send("#{provider}_uid").nil? 
                - has_third_party = true
                %a{ :onclick => "javascript:login('#{new_user_session_path(:third_party=>true, :provider=>"#{provider}")}',900, 500)", :id => provider }
                  = image_tag("#{provider}.png")

        - if user.nil? || !has_third_party

          #site_registration

            = form_for(resource, :as => :user, :url => user_registration_path, :html => { :multipart => true }) do |f|
            
              %ul
                %li
                  = devise_error_messages!
                

                %li.email_field

                  = f.hidden_field :email, :required => true, :value => @pinned_user

                %li.password_field
                  = f.password_field :password, :title => 'password', :placeholder => 'Password', :required => true
                  - if !user.nil?
                    %a.hide.forget_password_prompt{ :href => "#{new_user_password_path}" }
                      Forgot your password?

                %li.submit_footer
                  .proxy.button_proxy.button
                    sign in
                    
                  = f.submit "sign in", :class => 'hide'

                  %a.cancel
                    x
        - if @user.nil?
          #acknowledgment
            Signing up acknowledges that you read and agree to the 
            %a
              Terms of Use.

    - else


      #third_party

        %h3
          One-click sign in with your account from...

        - ['facebook', 'twitter', 'google'].each do |provider|
          %a{ :onclick => "javascript:login('#{new_user_session_path(:third_party=>true, :provider=>"#{provider}")}',900, 500)", :id => provider }
            = image_tag("#{provider}.png")

        .fineprint
          We won't post to your account or share your info without permission.

      .divider
        &mdash; or &mdash;

      #site_registration

        = form_for(resource, :as => :user, :url => user_registration_path, :html => { :multipart => true }) do |f|
        
          %ul
            %li
              = devise_error_messages!
            

            %li.email_field

              = f.email_field :email, :title => 'email address', :placeholder => 'Email address', :required => true, :class =>"h5-email"

            %li.password_field
              = f.password_field :password, :title => 'password', :placeholder => 'Password', :required => true
              %a.hide.forget_password_prompt{ :href => "#{new_user_password_path}" }
                Forgot your password?

            %li.submit_footer
              .proxy.button_proxy.button
                sign in
                
              = f.submit "sign in", :class => 'hide'

              %a.cancel
                x

      #acknowledgment
        Signing up acknowledges that you read and agree to the 
        %a
          Terms of Use.



