-#*********************************************
  For the ConsiderIt project.
  Copyright (C) 2010 - 2012, University of Washington
  Author: Travis Kriplean
  Licensed under the AGPL
  See https://github.com/tkriplean/ConsiderIt/ for details.
  *********************************************

#registration_form

  .primary
    %h2
      - if @context == 'position_submit'
        Sign in to save your position
      - elsif @context == 'proposal_submit'
        Sign in to create a new proposal
      - else
        Sign in

    #third_party

      %h3
        One-click sign in with your account from...

      - ['facebook', 'twitter', 'google'].each do |provider|
        %a{ :onclick => "javascript:login('#{new_user_session_path(:third_party=>true, :provider=>"#{provider}")}',900, 500)" }
          = image_tag("#{provider}.png")

      .fineprint
        We won't post to your account or share your info without permission.

    .divider
      &mdash; or &mdash;

    #site_registration

      = form_for(resource, :as => :user, :url => user_registration_path, :html => { :multipart => true, :class => 'html5' }) do |f|
      
        %ul
          %li
            = devise_error_messages!


          // %li.name_field
          //   = f.text_field :name, :class => 'has_example', :title => 'first and last name'

          //   %span.add_qtip{ :title => 'You stand behind your opinions, don’t you? When possible, we believe it is best to avoid anonymity.'}
          //     why?
            


          %li.email_field

            //{ :title => 'Your email is never shown to other users and we promise not to share your information with third parties. Your email is only used to confirm your account and to send notifications of relevant events, such as when someone replys to a comment you left.'}

            = f.email_field :email, :title => 'email address', :placeholder => 'Email address', :required => true

          %li.password_field
            = f.password_field :password, :title => 'password', :placeholder => 'Password', :required => true
            %a.hide.error{ :href => "#{new_user_password_path}" }
              Forgot your password?

          %li.submit_footer
            .proxy.button_proxy.button
              sign in
              
            = f.submit "sign in", :class => 'hide'

            %a.cancel
              x

    #acknowledgment
      Signing up acknowledges that you read and agree to the 
      %a
        Terms of Use.

  .secondary
    %h3
      Why Sign In?

    %hr.ledge.top
    %hr.ledge.bottom
    
    %ul

      %li    
        Your vote will count in the totals.

      %li
        Share your points for other people to consider.
        
      %li
        Comment on the points others have added.  


